force-app/main/default/flows/ACRAndCompanyANDContactSynch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_If_Contacts_Exist</name>
        <label>Check If Contacts Exist</label>
        <locationX>243</locationX>
        <locationY>31</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_As_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contacts_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_installBaseFlag</targetReference>
            </connector>
            <label>Contacts Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_installBaseFlag</name>
        <label>Check installBaseFlag</label>
        <locationX>270</locationX>
        <locationY>165</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_As_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_If_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_installflag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssociateContactWithComapny</targetReference>
            </connector>
            <label>Check If True</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfACRExist</name>
        <label>CheckIfACRExist</label>
        <locationX>100</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_ACR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateACRatCOmpany</targetReference>
            </connector>
            <label>Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyACRExists</name>
        <label>VerifyACRExists</label>
        <locationX>744</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ACRExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_acrexist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>ACRExists</label>
        </rules>
    </decisions>
    <interviewLabel>ACRAndCompanyANDContactSynch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACRAndCompanyANDContactSynch</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>801</locationX>
        <locationY>420</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>RoleValue</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>CreateACRatCOmpany</name>
        <label>CreateACRatCOmpany</label>
        <locationX>300</locationX>
        <locationY>388</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>RoleValueiftrue</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Check_ACR_Exists1</name>
        <label>Check ACR Exists1</label>
        <locationX>667</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyACRExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoleValue</elementReference>
            </value>
        </filters>
        <object>AccountContactRole</object>
        <outputReference>Var_acrexist</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Role</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_ACR_with_Duplicate_contacts</name>
        <label>Check ACR with Duplicate contacts</label>
        <locationX>109</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfACRExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoleValue</elementReference>
            </value>
        </filters>
        <object>AccountContactRole</object>
        <outputReference>Var_ACR</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CheckContactsAssociatedwithCompany</name>
        <label>CheckContactsAssociatedwithCompany</label>
        <locationX>34</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Contacts_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>var_contacts</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>AssociateContactWithComapny</name>
        <label>AssociateContactWithComapny</label>
        <locationX>108</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>Check_ACR_with_Duplicate_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_As_Primary</name>
        <label>Update Contact As Primary</label>
        <locationX>639</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Check_ACR_Exists1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>CheckContactsAssociatedwithCompany</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ExistingPrimaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RoleValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Business</stringValue>
        </value>
    </variables>
    <variables>
        <name>RoleValueiftrue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Technical Buyer</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_ACR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRole</objectType>
    </variables>
    <variables>
        <name>Var_acrexist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRole</objectType>
    </variables>
    <variables>
        <name>var_ACRexists</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRole</objectType>
    </variables>
    <variables>
        <name>var_contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Var_contactsassociated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_installflag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
