force-app/main/default/flows/Add_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_To_Opportunity</name>
        <label>Redirect To Opportunity</label>
        <locationX>1400</locationX>
        <locationY>214</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>RedirectToOpp</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Approval_Required_Email_Alert</name>
        <label>Tech Approval Required Email Alert</label>
        <locationX>1783</locationX>
        <locationY>259</locationY>
        <actionName>Approval__c.Tech_Approval_Required_MCO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_To_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Document_Id</name>
        <label>Assign Document Id</label>
        <locationX>730</locationX>
        <locationY>957</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>of_Documents</name>
        <label># of Documents</label>
        <locationX>240</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>DocumentSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Number_of_Documents</name>
        <label>Number of Documents</label>
        <locationX>225</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>NoFile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocumentUploaded</targetReference>
            </connector>
            <label>One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Approval_on_Opp</name>
        <label>Primary Approval on Opp?</label>
        <locationX>662</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Get_Primary_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Primary Approval</defaultConnectorLabel>
        <rules>
            <name>No_Primary_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_Primary_Approval__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Primary_Approval_Screen</targetReference>
            </connector>
            <label>No Primary Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Professional_Services_or_MCO_EE</name>
        <label>Professional Services or MCO/EE?</label>
        <locationX>1340</locationX>
        <locationY>774</locationY>
        <defaultConnector>
            <targetReference>Create_Ops_Approval_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No BU Required</defaultConnectorLabel>
        <rules>
            <name>Professional_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BU_Approval_Item</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
    </decisions>
    <description>-Split Professional Services from MCO/EE
-added opp type, BU Practice to &apos;get records&apos;</description>
    <dynamicChoiceSets>
        <name>ApprovingPracticeManager</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ApprovingPracticeManagerPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onica_Practice_Lead__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Type__c</picklistField>
        <picklistObject>Approval__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreSalesSA</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>RedirectToOpp</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!sovOpp.Id}</expression>
    </formulas>
    <interviewLabel>Add Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Document</label>
    <loops>
        <name>Set_Document_Id</name>
        <label>Set Document Id</label>
        <locationX>728</locationX>
        <locationY>770</locationY>
        <assignNextValueToReference>DocumentId</assignNextValueToReference>
        <collectionReference>DocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_BU_Approval_Item</name>
        <label>Create BU Approval Item</label>
        <locationX>1347</locationX>
        <locationY>569</locationY>
        <assignRecordIdToReference>buApproverItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Ops_Approval_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>BU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.BU_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Legal_Approval_Item</name>
        <label>Create Legal Approval Item</label>
        <locationX>1783</locationX>
        <locationY>766</locationY>
        <assignRecordIdToReference>LegalApprovalItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Tech_Approval_Required_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.Legal_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Ops_Approval_Item</name>
        <label>Create Ops Approval Item</label>
        <locationX>1584</locationX>
        <locationY>766</locationY>
        <assignRecordIdToReference>OpsApprovalItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Legal_Approval_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Finance Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.Ops_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tech_Approval</name>
        <label>Create Tech Approval</label>
        <locationX>1141</locationX>
        <locationY>765</locationY>
        <assignRecordIdToReference>TechApprovalItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Professional_Services_or_MCO_EE</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Tech Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.Tech_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Document_Id__c</field>
            <value>
                <elementReference>sovApproval.Current_Document_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Primary_Approval</name>
        <label>Get Primary Approval</label>
        <locationX>674</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.Onica_Primary_Approval__c</elementReference>
            </value>
        </filters>
        <object>Approval__c</object>
        <outputReference>sovApproval</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CSA__c</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Legal_Approver__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Ops_Approver__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Tech_Approver__c</queriedFields>
        <queriedFields>BU_Approver__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>513</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sovOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Technical_Owner__c</queriedFields>
        <queriedFields>Onica_Practice_Lead__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Onica_Primary_Approval__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Onica_BU_Practice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordType</name>
        <label>getRecordType</label>
        <locationX>672</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Approval_on_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval</name>
        <label>Update Approval</label>
        <locationX>954</locationX>
        <locationY>766</locationY>
        <connector>
            <targetReference>Create_Tech_Approval</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Document</name>
        <label>Add Document</label>
        <locationX>673</locationX>
        <locationY>588</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>of_Documents</targetReference>
        </connector>
        <fields>
            <name>AttachDocument</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApproval.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DocumentUploaded</name>
        <label>DocumentUploaded</label>
        <locationX>482</locationX>
        <locationY>918</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Document_Id</targetReference>
        </connector>
        <fields>
            <name>YesUploaded</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Document has been uploaded. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Primary_Approval_Screen</name>
        <label>No Primary Approval</label>
        <locationX>1031</locationX>
        <locationY>211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_To_Opportunity</targetReference>
        </connector>
        <fields>
            <name>NoPrimaryApproval</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is no primary approval listed on the Opportunity.  Please create the primary approval first before adding the current Document.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoFile</name>
        <label>NoFile</label>
        <locationX>401</locationX>
        <locationY>660</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Document</targetReference>
        </connector>
        <fields>
            <name>NoUploadedFile</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(15, 15, 15); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The Document needs to be uploaded.﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>173</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Approver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approver__mdt</objectType>
    </variables>
    <variables>
        <name>buApproverItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LegalApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpsApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>socvUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>sovApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval__c</objectType>
    </variables>
    <variables>
        <name>sovOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TechApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
