force-app/main/default/flows/Alert_to_Opp_Team_Members_once_Opp_is_Closed_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Closed_Lost_email_alert</name>
        <label>Closed Lost email alert</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Opportunity_Team_Members_alert_once_status_Closed_Lost</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Send_Email_Condition_Check</name>
        <label>Send Email Condition Check</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Condition</name>
            <conditionLogic>1 AND ( 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>SysAdmin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.CommunityNickname</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>oraclesoa.user</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.CommunityNickname</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>mcoze</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Lost_email_alert</targetReference>
            </connector>
            <label>Send Email Condition</label>
        </rules>
    </decisions>
    <interviewLabel>Alert to Opp. Team Members once Opp is Closed Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert to Opp. Team Members once Opp is Closed Lost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_Condition_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SysAdmin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Profile.Name</elementReference>
        </value>
    </variables>
</Flow>
