force-app/main/default/flows/Approver_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Completed_Email_Action</name>
        <label>Completed Email Action</label>
        <locationX>1719</locationX>
        <locationY>2423</locationY>
        <actionName>Approval__c.Contract_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contract_to_Fully_Executed</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Legal_Additional_Redlines</name>
        <label>Contract Legal Additional Redlines</label>
        <locationX>2206</locationX>
        <locationY>2328</locationY>
        <actionName>Approval__c.Contract_Legal_Additional_Redlines</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contract_to_Negotiation_Client_Review</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Legal_Approved</name>
        <label>Contract Legal Approved</label>
        <locationX>1659</locationX>
        <locationY>2641</locationY>
        <actionName>Approval__c.Contract_Legal_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contract_to_Negotiation_Client_Review</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Legal_Ready_for_Client_Signature</name>
        <label>Contract Legal Ready for Client Signature</label>
        <locationX>2210</locationX>
        <locationY>2833</locationY>
        <actionName>Approval__c.Contract_Legal_Ready_for_Client_Signature</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contract_Status</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Legal_Rejected</name>
        <label>Contract Legal Rejected</label>
        <locationX>1219</locationX>
        <locationY>2122</locationY>
        <actionName>Approval__c.Contract_Legal_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Ready_for_Onica_Signature</name>
        <label>Contract Ready for Onica Signature</label>
        <locationX>2859</locationX>
        <locationY>2220</locationY>
        <actionName>Approval__c.Contract_Ready_for_Onica_Signature</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contract_to_Pending_Onica_Signature</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Contract</name>
        <label>Redirect to Contract</label>
        <locationX>1879</locationX>
        <locationY>1804</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>RedirectToContract</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Approval_Item_Assignments_Legal</name>
        <label>Approval Item Assignments</label>
        <locationX>1084</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approve_Or_Deny_Legal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_Comments_Legal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Item_Status_Update_Redline</name>
        <label>Approval Item Status Update</label>
        <locationX>2125</locationX>
        <locationY>1750</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approve_or_Deny_Redline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_Comments_Redline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Item_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Status_to_Pending_Onica_Signature</name>
        <label>Approval Status to Pending Onica Signature</label>
        <locationX>2776</locationX>
        <locationY>2440</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Onica Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Pending_Onica_Signature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Update_Client_Signature</name>
        <label>Approval Update Client Signature</label>
        <locationX>2457</locationX>
        <locationY>2592</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Client Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Client_Signature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Update_Legal</name>
        <label>Approval Update</label>
        <locationX>1214</locationX>
        <locationY>2400</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approval Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Update_Redline</name>
        <label>Approval Update Redline</label>
        <locationX>2287</locationX>
        <locationY>2080</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateApproval_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Update_Redline_0</name>
        <label>Approval Update Redline</label>
        <locationX>1855</locationX>
        <locationY>2266</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Redline_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CDI_Legal</name>
        <label>Assign CDI Legal</label>
        <locationX>1621</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loops_CDIs_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CDI_Redline</name>
        <label>Assign CDI Redline</label>
        <locationX>2474</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_CDI_Redline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Ready_for_Onica</name>
        <label>Contract Ready for Onica</label>
        <locationX>2309</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Onica Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_to_Fully_Executed</name>
        <label>Contract to Fully Executed</label>
        <locationX>1525</locationX>
        <locationY>2503</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_to_Negotiation_Client_Review</name>
        <label>Contract to Negotiation - Client Review</label>
        <locationX>1835</locationX>
        <locationY>2785</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation - Client Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_to_Pending_Onica_Signature</name>
        <label>Contract to Pending Onica Signature</label>
        <locationX>2633</locationX>
        <locationY>2290</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Onica Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_to_Ready_for_Client_Signature</name>
        <label>Contract to Ready for Client Signature</label>
        <locationX>2036</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Client Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Document_Approval_Legal</name>
        <label>Current Document Approval Legal</label>
        <locationX>1450</locationX>
        <locationY>1765</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Document_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Document_Id_Redline</name>
        <label>Current Document Id Redline</label>
        <locationX>2789</locationX>
        <locationY>1715</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Document_Redline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onica_Signature</name>
        <label>Onica Signature</label>
        <locationX>2603</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Onica Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Client_Signature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejectedsalesrequired</name>
        <label>Rejected</label>
        <locationX>1697</locationX>
        <locationY>2099</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected by Legal / Sales Action Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Redline_RejectedByLegal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Size_Legal</name>
        <label>Set Size Legal</label>
        <locationX>1096</locationX>
        <locationY>1216</locationY>
        <assignmentItems>
            <assignToReference>CDISize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Content_Document_Ids_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Size_Redline</name>
        <label>Set Size Redline</label>
        <locationX>2092</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>CDISize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_CDIs_Redline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Approval_item_to_Rejected</name>
        <label>Update Approval item to Rejected</label>
        <locationX>696</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_item_to_reject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Item</name>
        <label>Update Item</label>
        <locationX>441</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_ap_item</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClientApprovalRequired</name>
        <choiceText>Client Approval Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Approval Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>FullyExecuted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReadyforClientSignature</name>
        <choiceText>Ready for Client Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for Client Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReadyforOnicaSignature</name>
        <choiceText>Ready for Onica Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for Onica Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>RejectedbyLegalSalesActionRequired</name>
        <choiceText>&lt;span style=&quot;font-size: 16px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: inherit;&quot;&gt;Rejected by Legal / Sales Action Required&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected by Legal / Sales Action Required</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_Status</name>
        <label>Approval Status</label>
        <locationX>1075</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>No_Current_Approvals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Approval Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Approver</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>Client_Approval_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approval Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Approver_Redline</targetReference>
            </connector>
            <label>Client Approval Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_CDIs_Redline</name>
        <label>Are there CDIs Redline</label>
        <locationX>2084</locationX>
        <locationY>1481</locationY>
        <defaultConnector>
            <targetReference>Approval_Item_Status_Update_Redline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CDIs Redline</defaultConnectorLabel>
        <rules>
            <name>Yes_CDIs_Redline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CDISize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CDI_Redline</targetReference>
            </connector>
            <label>Yes, CDIs Redline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Content_Document_Ids_Legal</name>
        <label>Are there Content Document Ids Legal</label>
        <locationX>1090</locationX>
        <locationY>1372</locationY>
        <defaultConnector>
            <targetReference>Approval_Item_Assignments_Legal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CDIs</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_CDIs_Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CDISize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loops_CDIs_Legal</targetReference>
            </connector>
            <label>Yes, there are CDIs Legal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Status</name>
        <label>Contract Status?</label>
        <locationX>2238</locationX>
        <locationY>2703</locationY>
        <defaultConnector>
            <targetReference>Contract_to_Ready_for_Client_Signature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>OnicaSignatureContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Onica Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Ready_for_Onica</targetReference>
            </connector>
            <label>Onica?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Approval_Item_Null</name>
        <label>Is Approval Item Null</label>
        <locationX>2050</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>Legal_Status_Redline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Yes_approval_item_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Available_for_Review</targetReference>
            </connector>
            <label>Yes, approval item is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_approval</name>
        <label>Is Client approval</label>
        <locationX>831</locationX>
        <locationY>1014</locationY>
        <defaultConnector>
            <targetReference>Set_Size_Legal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Client_approval</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Approval Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approve_Or_Deny_Legal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientApprovalRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approve_Or_Deny_Legal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReadyforOnicaSignature</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approve_Or_Deny_Legal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReadyforClientSignature</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Item</targetReference>
            </connector>
            <label>Client approval</label>
        </rules>
        <rules>
            <name>Rejected_by_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Or_Deny_Legal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RejectedbyLegalSalesActionRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Approval Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_item_to_Rejected</targetReference>
            </connector>
            <label>Rejected by Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_onica_or_client</name>
        <label>Is onica or client?</label>
        <locationX>2454</locationX>
        <locationY>2473</locationY>
        <defaultConnector>
            <targetReference>Approval_Update_Client_Signature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client</defaultConnectorLabel>
        <rules>
            <name>Onica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Onica Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onica_Signature</targetReference>
            </connector>
            <label>Onica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Legal_Approver</name>
        <label>Legal Approver?</label>
        <locationX>1079</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>No_Approval_Rights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Legal Approver</defaultConnectorLabel>
        <rules>
            <name>Yes_Legal_Approver</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Legal_Approver__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LegalApproverPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdminApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovalItemLegal</targetReference>
            </connector>
            <label>Yes, Legal Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Legal_Approver_Redline</name>
        <label>Legal Approver?</label>
        <locationX>2024</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>No_Approval_Rights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Legal Approver</defaultConnectorLabel>
        <rules>
            <name>Yes_Legal_Approver_Redline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Legal_Approver__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LegalApproverPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdminApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovalItemLegalRedline</targetReference>
            </connector>
            <label>Yes, Legal Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Legal_Status</name>
        <label>Legal Status</label>
        <locationX>1013</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Not_Approval_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available for Review</defaultConnectorLabel>
        <rules>
            <name>In_Review</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Approve_Reject</targetReference>
            </connector>
            <label>In Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Legal_Status_Redline</name>
        <label>Legal Status</label>
        <locationX>2061</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Not_Approval_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not In Legal Redline Review</defaultConnectorLabel>
        <rules>
            <name>In_Legal_Redline_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_or_Reject</targetReference>
            </connector>
            <label>In Legal Redline Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redline_Decision</name>
        <label>Redline Decision</label>
        <locationX>1975</locationX>
        <locationY>2011</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Client_Approval_Required_Choice_Redline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approval Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Update_Redline</targetReference>
            </connector>
            <label>Client Approval Required Choice</label>
        </rules>
        <rules>
            <name>Pending_Onica_Signature_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Onica Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Status_to_Pending_Onica_Signature</targetReference>
            </connector>
            <label>Pending Onica Signature Choice</label>
        </rules>
        <rules>
            <name>Approved_by_Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Update_Legal</targetReference>
            </connector>
            <label>Approved by Legal</label>
        </rules>
        <rules>
            <name>Completed_by_Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Update_Redline_0</targetReference>
            </connector>
            <label>Completed by Legal</label>
        </rules>
        <rules>
            <name>Rejected_by_Legal_Sales_Action_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Legal / Sales Action Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejectedsalesrequired</targetReference>
            </connector>
            <label>Rejected by Legal / Sales Action Required</label>
        </rules>
        <rules>
            <name>Ready_for_Onica_or_Client</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApprovalItem.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Onica Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_onica_or_client</targetReference>
            </connector>
            <label>Ready for Onica or Client</label>
        </rules>
    </decisions>
    <description>Removed duplicate Approver Comments update to Approval Items</description>
    <formulas>
        <name>AdminApprover</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Admin_Approver}</expression>
    </formulas>
    <formulas>
        <name>approvalStatusBUFormula</name>
        <dataType>String</dataType>
        <expression>IF({!recordType.DeveloperName}=&quot;Amazon_Professional_Services&quot;, &quot;BU Approval Required&quot;, &quot;Ops Approval Required&quot;)</expression>
    </formulas>
    <formulas>
        <name>buPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.BU_Approver}</expression>
    </formulas>
    <formulas>
        <name>contentDocumentIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!contentDocumentId}),{!sovApproval.Current_Document_Id__c},{!contentDocumentId})</expression>
    </formulas>
    <formulas>
        <name>LegalApproverPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Legal_Approver}</expression>
    </formulas>
    <formulas>
        <name>nextApprovalType</name>
        <dataType>String</dataType>
        <expression>IF({!recordType.DeveloperName}=&quot;Amazon_Professional_Services&quot;, &quot;BU Approval&quot;, &quot;Ops Approval&quot;)</expression>
    </formulas>
    <formulas>
        <name>OpsApproverPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Ops_Approver}</expression>
    </formulas>
    <formulas>
        <name>RedirectToContract</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!contract.Id}</expression>
    </formulas>
    <formulas>
        <name>TechApproverPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Tech_Approver}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Approver - Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approver - Contract</label>
    <loops>
        <name>Loops_CDIs_Legal</name>
        <label>Loops CDIs Legal</label>
        <locationX>1435</locationX>
        <locationY>1355</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CDI_Legal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Link_to_Approval_Record_Legal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_CDI_Redline</name>
        <label>Set CDI Redline</label>
        <locationX>2476</locationX>
        <locationY>1482</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CDI_Redline</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Link_to_Approval_Record_Redline</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Item</name>
        <label>Create Approval Item</label>
        <locationX>1051</locationX>
        <locationY>1975</locationY>
        <connector>
            <targetReference>Redline_Decision</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Approval_Item_2</name>
        <label>Create Approval Item 2</label>
        <locationX>2813</locationX>
        <locationY>1912</locationY>
        <connector>
            <targetReference>Redline_Decision</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_to_Approval_Record_Legal</name>
        <label>Create Content Document Link to Approval Record Legal</label>
        <locationX>1444</locationX>
        <locationY>1582</locationY>
        <assignRecordIdToReference>ContentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Current_Document_Approval_Legal</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_to_Approval_Record_Redline</name>
        <label>Create Content Document Link to Approval Record Redline</label>
        <locationX>2789</locationX>
        <locationY>1485</locationY>
        <assignRecordIdToReference>ContentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Current_Document_Id_Redline</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordLookups>
        <name>getApproval</name>
        <label>getApproval</label>
        <locationX>855</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contract.Primary_Approval__c</elementReference>
            </value>
        </filters>
        <object>Approval__c</object>
        <outputReference>sovApproval</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Legal_Approver__c</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprovalItemLegal</name>
        <label>getApprovalItemLegal</label>
        <locationX>1081</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legal_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <object>Approval_Item__c</object>
        <outputReference>sovApprovalItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
        <queriedFields>Approval_Step__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprovalItemLegalRedline</name>
        <label>getApprovalItem</label>
        <locationX>2059</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Approval_Item_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <object>Approval_Item__c</object>
        <outputReference>sovApprovalItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>contract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Approval__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordType</name>
        <label>getRecordType</label>
        <locationX>636</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contract.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_ap_item</name>
        <label>update ap item</label>
        <locationX>509</locationX>
        <locationY>1272</locationY>
        <connector>
            <targetReference>Set_Size_Legal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approved_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_By__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Client_Signature</name>
        <label>Update Approval Client Signature</label>
        <locationX>2516</locationX>
        <locationY>2799</locationY>
        <connector>
            <targetReference>Contract_Legal_Ready_for_Client_Signature</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Document_Legal</name>
        <label>Update Approval Document Legal</label>
        <locationX>1264</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Approval_Item_Assignments_Legal</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Document_Redline</name>
        <label>Update Approval Document Redline</label>
        <locationX>2529</locationX>
        <locationY>1728</locationY>
        <connector>
            <targetReference>Approval_Item_Status_Update_Redline</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_item_to_reject</name>
        <label>Update Approval item to reject</label>
        <locationX>777</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>Set_Size_Legal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approved_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_By__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Legal</name>
        <label>Update Approval</label>
        <locationX>1222</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Contract_Legal_Approved</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Pending_Onica_Signature</name>
        <label>Update Approval Pending Onica Signature</label>
        <locationX>3015</locationX>
        <locationY>2429</locationY>
        <connector>
            <targetReference>Contract_Ready_for_Onica_Signature</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Redline</name>
        <label>Update Approval Redline</label>
        <locationX>2091</locationX>
        <locationY>2256</locationY>
        <connector>
            <targetReference>Contract_Legal_Additional_Redlines</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Redline_0</name>
        <label>Update Approval Redline</label>
        <locationX>1760</locationX>
        <locationY>2263</locationY>
        <connector>
            <targetReference>Completed_Email_Action</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Redline_RejectedByLegal</name>
        <label>Update Approval Redline</label>
        <locationX>1421</locationX>
        <locationY>2247</locationY>
        <connector>
            <targetReference>Contract_Legal_Rejected</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Status</name>
        <label>Update Contract Status</label>
        <locationX>1990</locationX>
        <locationY>2428</locationY>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <inputReference>contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateApproval_Item</name>
        <label>UpdateApproval Item</label>
        <locationX>2176</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Update_Approval_Redline</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordUpdates>
    <screens>
        <name>Approve_or_Reject</name>
        <label>Approve or Reject</label>
        <locationX>2066</locationX>
        <locationY>1085</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Size_Redline</targetReference>
        </connector>
        <fields>
            <name>Approve_or_Deny_Redline</name>
            <choiceReferences>RejectedbyLegalSalesActionRequired</choiceReferences>
            <choiceReferences>ClientApprovalRequired</choiceReferences>
            <choiceReferences>ReadyforClientSignature</choiceReferences>
            <choiceReferences>ReadyforOnicaSignature</choiceReferences>
            <choiceReferences>FullyExecuted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approve or Deny</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Comments_Redline</name>
            <fieldText>Approval Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Initial comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Approval_Comments_Redline}) || LEN({!Approval_Comments_Redline}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>UploadFileNegotiate</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApprovalItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Legal_Approve_Reject</name>
        <label>Legal Approve/Reject</label>
        <locationX>1095</locationX>
        <locationY>952</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Client_approval</targetReference>
        </connector>
        <fields>
            <name>Approve_Or_Deny_Legal</name>
            <choiceReferences>RejectedbyLegalSalesActionRequired</choiceReferences>
            <choiceReferences>ClientApprovalRequired</choiceReferences>
            <choiceReferences>ReadyforClientSignature</choiceReferences>
            <choiceReferences>ReadyforOnicaSignature</choiceReferences>
            <choiceReferences>FullyExecuted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approve Or Deny</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Comments_Legal</name>
            <fieldText>Approval Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Initial comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Approval_Comments_Legal}) || LEN({!Approval_Comments_Legal}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NewDocumentLegal</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApprovalItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Approval_Rights</name>
        <label>No Approval Rights</label>
        <locationX>1263</locationX>
        <locationY>555</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoRights</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You do not have rights to approve this record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Current_Approvals</name>
        <label>No Current Approvals</label>
        <locationX>1817</locationX>
        <locationY>331</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoCurrentApprovals</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There are no current approvals items ready for approval on this Contract.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Approval_Ready</name>
        <label>Not Approval Ready</label>
        <locationX>1436</locationX>
        <locationY>755</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotReadyTech</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Approval Item is not In Review.  The current status of the Approval Item is: {!sovApprovalItem.Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Available_for_Review</name>
        <label>Not Available for Review</label>
        <locationX>1858</locationX>
        <locationY>695</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotInReview</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Approval Item is still with the Sales Team and is not In Review.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CDISize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>sovApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval__c</objectType>
    </variables>
    <variables>
        <name>sovApprovalItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>sovNextApprovalItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>sovOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
