force-app/main/default/flows/Auto_creation_of_Account_Contact_role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_If_Cotact_Role_Exists1</name>
        <label>Check If Cotact Role Exists1</label>
        <locationX>289</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Checking_Is_it_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_acrRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Contact_Role_Creation</targetReference>
            </connector>
            <label>Checking Isnot it Primary Contact</label>
        </rules>
    </decisions>
    <interviewLabel>Auto creation of Account Contact role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto creation of Account Contact role</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Account_Contact_Role_Creation</name>
        <label>Account Contact Role Creation</label>
        <locationX>434</locationX>
        <locationY>275</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Accountid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contactid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </inputAssignments>
        <object>AccountContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Check_ACR_record_exists</name>
        <label>Check ACR record exists</label>
        <locationX>324</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Cotact_Role_Exists1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accountid</elementReference>
            </value>
        </filters>
        <object>AccountContactRole</object>
        <outputReference>var_acrRecords</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <startElementReference>Check_ACR_record_exists</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_acrRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountContactRole</objectType>
    </variables>
    <variables>
        <name>var_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
