force-app/main/default/flows/Cloud_Opportunity_Amounts_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Final_MRR</name>
        <label>Add Final MRR</label>
        <locationX>754</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>TotalFinalMRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuoteLines.Final_MRR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>allow negative = true, then cloud bookings can be a negative value</description>
        <name>Allow_Negative_Cloud_Bookings_Calc</name>
        <label>Allow Negative-Cloud Bookings Calc</label>
        <locationX>2514</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloudInfraPlusSupport_Currency</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Loop_Triggered_0</name>
        <label>Assign Loop Triggered</label>
        <locationX>666</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>loopTriggeredVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quote_Positive_or_Negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Cloud Bookings = Infra + Support</description>
        <name>Calculate_Cloud_Bookings</name>
        <label>Calculate Cloud Bookings</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCloudBookingsNotAllowNegative</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Cloud Bookings = Quote MRR
Cloud Infra = 0 (no infra quote lines)
Cloud Support Fee = Quote MRR - Cloud Infra</description>
        <name>Calculate_Cloud_Bookings_Quote</name>
        <label>Calculate Cloud Bookings (Quote +)</label>
        <locationX>1986</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.MRR__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Cloud Bookings = Quote MRR
Cloud Infra = 0
Cloud Support Fee = Quote MRR - 0</description>
        <name>Calculate_Cloud_Bookings_Quote_NonInfra</name>
        <label>Calculate Cloud Bookings (Quote+/NonInfra)</label>
        <locationX>1458</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Total Final MRR &lt; Amount</description>
        <name>Cloud_Infrastructure_Fee_EQUALS_Total_Final_MRR</name>
        <label>Cloud Infrastructure Fee EQUALS Total Final MRR</label>
        <locationX>402</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>loopTriggeredVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFinalMRR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quote_Positive_or_Negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QL_loop_Completed</name>
        <label>QL loop Completed</label>
        <locationX>930</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>loopTriggeredVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quote_Positive_or_Negative</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Quote (+) exists and all quote line types are added, also applies for only infra quote lines</description>
        <name>Quote_and_All_QL_Type_Positive</name>
        <label>Quote(+) and All QL Type</label>
        <locationX>1722</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteMRRminusTotalFinalMRR1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFinalMRR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Opp_0_Values</name>
        <label>Update Opp - 0 Values</label>
        <locationX>1194</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Cloud Bookings = 0
Cloud Support Fee = 0
Cloud Infra = 0</description>
        <name>Zero_Cloud_Bookings_Quote</name>
        <label>Zero Cloud Bookings (Quote-)</label>
        <locationX>2250</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Support_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>InfraQL</name>
        <label>InfraQL?</label>
        <locationX>886</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>LoopQuoteLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Infra</defaultConnectorLabel>
        <rules>
            <name>Infra_Quote_Line</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoopQuoteLines.Workload_Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optimizer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQuoteLines.Workload_Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infrastructure for GCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQuoteLines.Workload_Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infrastructure for Azure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopQuoteLines.Workload_Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infrastructure for AWS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Final_MRR</targetReference>
            </connector>
            <label>Infra. Quote Line</label>
        </rules>
    </decisions>
    <decisions>
        <description>If an infrastructure quote line was found update the opportunity with correct infrastructure fee.</description>
        <name>Infrastructure_Fee_To_Update</name>
        <label>Infrastructure Fee To Update?</label>
        <locationX>666</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>QL_loop_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Total_Finall_MRR_is_LESS_than_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalFinalMRR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalFinalMRR</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cloud_Infrastructure_Fee_EQUALS_Total_Final_MRR</targetReference>
            </connector>
            <label>Total Finall MRR is Calculated</label>
        </rules>
        <rules>
            <name>No_Infra_and_Total_Final_MRR_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalFinalMRR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalFinalMRR</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Integration_API_Profile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Loop_Triggered_0</targetReference>
            </connector>
            <label>No Infra and Total Final MRR 0</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if logic is in place for positive &amp; negative amounts within the related Quote object - as per Process Builder &quot;Update Quote Data on Opp Final v11&quot;.</description>
        <name>Quote_Positive_or_Negative</name>
        <label>Quote - Positive or Negative</label>
        <locationX>1414</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>No_Quote_or_Quote_Line</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee_Forecast__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>formulaCloudBookingsNotAllowNegative</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Allow_Negative__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Cloud_Bookings</targetReference>
            </connector>
            <label>No Quote or Quote Line</label>
        </rules>
        <rules>
            <name>QL_Present_initiate_LOOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopTriggeredVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopQuoteLines</targetReference>
            </connector>
            <label>QL Present? (initiate LOOP)</label>
        </rules>
        <rules>
            <name>Quote_and_Quote_Line_MRR_EQUALS_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Optimizer_Quote_Line_added__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Integration_API_Profile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_0_Values</targetReference>
            </connector>
            <label>Quote and Quote Line MRR EQUALS 0</label>
        </rules>
        <rules>
            <name>Quote_and_NonInfra_QL_Only</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalFinalMRR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.MRR__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.MRR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Cloud_Bookings_Quote_NonInfra</targetReference>
            </connector>
            <label>Quote(+) and NonInfra QL Only</label>
        </rules>
        <rules>
            <name>Quote_and_All_QL_Type_Positive2</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalFinalMRR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.MRR__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TotalFinalMRR</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>QuoteMRRminusTotalFinalMRR1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_and_All_QL_Type_Positive</targetReference>
            </connector>
            <label>Quote(+) and All QL Type</label>
        </rules>
        <rules>
            <name>Quote_POSITIVE</name>
            <conditionLogic>1 AND (2 OR 6 OR 7) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.MRR__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.MRR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Cloud_Bookings_Quote</targetReference>
            </connector>
            <label>Only Quote - POSITIVE</label>
        </rules>
        <rules>
            <name>Quote_NEGATIVE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.MRR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Allow_Negative__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Integration_API_Profile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zero_Cloud_Bookings_Quote</targetReference>
            </connector>
            <label>Quote - NEGATIVE (Not Allowed)</label>
        </rules>
        <rules>
            <name>Negative_Allowed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_Negative__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee_Forecast__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Support_Fee_Forecast__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CloudInfraPlusSupport_Currency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allow_Negative_Cloud_Bookings_Calc</targetReference>
            </connector>
            <label>Negative (Allowed)</label>
        </rules>
    </decisions>
    <description>before save, final version
Updated Quote MRR with integration API profile only
Removed cloudInfra== Totalfinal MRR
Infra =o update 0 when integration API
Non-Infra update cloud infra to zero
username contains oracle
updated to use 15 digit integration profile id
infr 0 when all ql present and infra 0
only quote negative - update to zero if it integration api
IF( ({!Get_Quote.MRR__c} - {!TotalFinalMRR}) &lt; 0, 0 , ({!Get_Quote.MRR__c} - {!TotalFinalMRR})) - quotemrr minus total mrr to populate supportfee</description>
    <formulas>
        <description>calculate Cloud Bookings, no total final mrr.</description>
        <name>CloudInfraPlusSupport_Currency</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!$Record.Cloud_Infrastructure_Fee_Forecast__c}) &amp;&amp; ISNULL({!$Record.Cloud_Support_Fee__c}),0,
IF(ISNULL({!$Record.Cloud_Support_Fee__c}),0 + {!$Record.Cloud_Infrastructure_Fee_Forecast__c},
IF(ISNULL({!$Record.Cloud_Infrastructure_Fee_Forecast__c}),0 + {!$Record.Cloud_Support_Fee__c},
{!$Record.Cloud_Infrastructure_Fee_Forecast__c} + {!$Record.Cloud_Support_Fee__c})))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>this is for opportunities who have Allow Negative = false</description>
        <name>formulaCloudBookingsNotAllowNegative</name>
        <dataType>Currency</dataType>
        <expression>IF({!CloudInfraPlusSupport_Currency} &lt; 0, 0 , {!CloudInfraPlusSupport_Currency})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Integration_API_Profile</name>
        <dataType>String</dataType>
        <expression>  LEFT({!$Label.Integration_API_Profile} ,15)</expression>
    </formulas>
    <formulas>
        <description>Quote MRR - Total Final MRR (the total infra quotelines mrr) = Cloud Support Fee</description>
        <name>QuoteMRRminusTotalFinalMRR1</name>
        <dataType>Currency</dataType>
        <expression>IF( ({!Get_Quote.MRR__c} - {!TotalFinalMRR}) &lt; 0, 0 , ({!Get_Quote.MRR__c} - {!TotalFinalMRR}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Cloud Opportunity Amounts Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cloud Opportunity Amounts Updates</label>
    <loops>
        <name>LoopQuoteLines</name>
        <label>LoopQuoteLines</label>
        <locationX>666</locationX>
        <locationY>671</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InfraQL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Infrastructure_Fee_To_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>1414</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MRR__c</queriedFields>
        <queriedFields>Utility_Fee__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>1414</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Positive_or_Negative</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote_Line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Workload_Platform__c</queriedFields>
        <queriedFields>Opportunity_Quote__c</queriedFields>
        <queriedFields>Final_MRR__c</queriedFields>
        <queriedFields>Focus_Area__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1288</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <filterLogic>6 AND 1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AWS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Azure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Google</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RSVC</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>loopTriggeredVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NonInfraQL_found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>opp to be updated</description>
        <name>recordOppUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotalFinalMRR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varcollQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Line__c</objectType>
    </variables>
</Flow>
