force-app/main/default/flows/Contract_Ops_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contract_Completed</name>
        <label>Contract Completed</label>
        <locationX>1298</locationX>
        <locationY>1390</locationY>
        <actionName>Approval__c.Contract_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contract_to_Completed</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Legal_Review_Required_Email</name>
        <label>Contract Legal Review Required</label>
        <locationX>1110</locationX>
        <locationY>1643</locationY>
        <actionName>Approval__c.Contract_Legal_Review_Required</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contract_Legal_Review_Required</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Pending_Client_Signature</name>
        <label>Contract Pending Client Signature</label>
        <locationX>728</locationX>
        <locationY>1360</locationY>
        <actionName>Approval__c.Contract_Pending_Client_Signature</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contract_to_Pending_Client_Signature</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Pending_for_Onica_Signature</name>
        <label>Contract Pending for Onica Signature</label>
        <locationX>928</locationX>
        <locationY>1497</locationY>
        <actionName>Approval__c.Contract_Ready_for_Onica_Signature</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contract_to_Pending_Onica_Signature</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect_To_Contract</name>
        <label>Redirect To Contract</label>
        <locationX>1165</locationX>
        <locationY>243</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>RedirectToContract</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Contract_Legal_Review_Required</name>
        <label>Contract Legal Review Required</label>
        <locationX>1238</locationX>
        <locationY>1818</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Review Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_to_Completed</name>
        <label>Contract to Completed</label>
        <locationX>1325</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_to_Pending_Client_Signature</name>
        <label>Contract to Pending Client Signature</label>
        <locationX>539</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Client Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_to_Pending_Onica_Signature</name>
        <label>Contract to Pending Onica Signature</label>
        <locationX>866</locationX>
        <locationY>1712</locationY>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Onica Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Content_Document_Id</name>
        <label>Set Content Document Id</label>
        <locationX>1231</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Id_Size_and_Approval_Item_Information</name>
        <label>Set Document Id Size and Approval Item Information</label>
        <locationX>790</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>cidSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ops Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalOpsApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Current_Document_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Id_Size_and_Approval_Item_Information_Legal_Review</name>
        <label>Set Document Id Size and Approval Item Information</label>
        <locationX>376</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>cidSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalOpsApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Current_Document_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Current_Document_Info</name>
        <label>Update Current Document Info</label>
        <locationX>1446</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Item</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingClientSignature</name>
        <choiceText>Pending Client Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Client Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingLegalReview</name>
        <choiceText>Pending Legal Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Legal Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingOnicaSignature</name>
        <choiceText>Pending Onica Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Onica Signature</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Allowed_to_Approve</name>
        <label>Allowed to Approve?</label>
        <locationX>681</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Not_Allowed_to_Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Allowed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SignatureApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdminApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LegalApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Approval_State</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Approval_State</name>
        <label>In Approval State</label>
        <locationX>689</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Not_in_Ready_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Onica Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Onica Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_new_document</name>
        <label>Is there a new document?</label>
        <locationX>963</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Update_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No new document</defaultConnectorLabel>
        <rules>
            <name>Yes_new_document_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cidSize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CIDs</targetReference>
            </connector>
            <label>Yes, new document uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Status</name>
        <label>New Status</label>
        <locationX>1042</locationX>
        <locationY>1277</locationY>
        <defaultConnector>
            <targetReference>Contract_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Completed</defaultConnectorLabel>
        <rules>
            <name>Pending_Legal_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Legal Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Legal_Review_Required_Email</targetReference>
            </connector>
            <label>Pending Legal Review</label>
        </rules>
        <rules>
            <name>Pending_Client_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Client Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Pending_Client_Signature</targetReference>
            </connector>
            <label>Pending Client Signature</label>
        </rules>
        <rules>
            <name>Pending_Onica_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Onica Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Pending_for_Onica_Signature</targetReference>
            </connector>
            <label>Pending Onica Signature</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_status</name>
        <label>What is the status?</label>
        <locationX>509</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>Set_Document_Id_Size_and_Approval_Item_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Pending_Legal_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Legal Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Document_Id_Size_and_Approval_Item_Information_Legal_Review</targetReference>
            </connector>
            <label>Is Pending Legal Review</label>
        </rules>
    </decisions>
    <formulas>
        <name>AdminApprover</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Admin_Approver}</expression>
    </formulas>
    <formulas>
        <name>finalOpsApprover</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Record_Ids__c.Final_Ops_Approver_Id__c}</expression>
    </formulas>
    <formulas>
        <name>LegalApprover</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Legal_Approver}</expression>
    </formulas>
    <formulas>
        <name>RedirectToContract</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!contract.Id}</expression>
    </formulas>
    <formulas>
        <name>SignatureApprover</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Signature_Approver}</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Contract Ops Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Ops Review</label>
    <loops>
        <name>Loop_CIDs</name>
        <label>Loop CIDs</label>
        <locationX>1234</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Content_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Current_Document_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Item</name>
        <label>Create Approval Item</label>
        <locationX>705</locationX>
        <locationY>872</locationY>
        <connector>
            <targetReference>Is_there_a_new_document</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>1234</locationX>
        <locationY>1115</locationY>
        <assignRecordIdToReference>contentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApprovalItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordLookups>
        <name>getApprovalRecord</name>
        <label>getApprovalRecord</label>
        <locationX>443</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allowed_to_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contract.Primary_Approval__c</elementReference>
            </value>
        </filters>
        <object>Approval__c</object>
        <outputReference>sovApproval</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>239</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getApprovalRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>contract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Approval__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval</name>
        <label>Update Approval</label>
        <locationX>977</locationX>
        <locationY>1131</locationY>
        <connector>
            <targetReference>New_Status</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Item</name>
        <label>Update Approval Item</label>
        <locationX>1445</locationX>
        <locationY>1078</locationY>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>619</locationX>
        <locationY>1182</locationY>
        <connector>
            <targetReference>Redirect_To_Contract</targetReference>
        </connector>
        <inputReference>contract</inputReference>
    </recordUpdates>
    <screens>
        <name>Legal_Review_Screen11</name>
        <label>Legal Review Screen</label>
        <locationX>164</locationX>
        <locationY>482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UploadNewDocumentLegalReview</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApproval.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CommentsLegalReview</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!CommentsLegalReview}) || LEN({!CommentsLegalReview}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Allowed_to_Approve</name>
        <label>Not Allowed to Approve</label>
        <locationX>956</locationX>
        <locationY>62</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_To_Contract</targetReference>
        </connector>
        <fields>
            <name>NotAllowedToApprove</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You are not allowed to Approve this record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_in_Ready_State</name>
        <label>Not in Ready State</label>
        <locationX>937</locationX>
        <locationY>317</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_To_Contract</targetReference>
        </connector>
        <fields>
            <name>NotInReadyState</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Approval is not ready for Signature or Completion.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status</name>
        <label>Status</label>
        <locationX>572</locationX>
        <locationY>473</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_is_the_status</targetReference>
        </connector>
        <fields>
            <name>Update_Status</name>
            <choiceReferences>PendingLegalReview</choiceReferences>
            <choiceReferences>PendingClientSignature</choiceReferences>
            <choiceReferences>PendingOnicaSignature</choiceReferences>
            <choiceReferences>Completed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UploadNewDocument</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApproval.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Comments}) || LEN({!Comments}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cidSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sovApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval__c</objectType>
    </variables>
    <variables>
        <name>sovApprovalItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>sovOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
