force-app/main/default/flows/Contract_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>redirectToAccount</name>
        <label>redirectToAccount</label>
        <locationX>1164</locationX>
        <locationY>1163</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>accountURL</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Approval_Defaults</name>
        <label>Approval Defaults</label>
        <locationX>843</locationX>
        <locationY>2053</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Legal_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>legalApproverId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submission_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Account_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>company.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_as_Amendment</name>
        <label>Assign as Amendment</label>
        <locationX>803</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>newContract.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contractTypeAmendment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contract_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Info</name>
        <label>Assign Contract Info</label>
        <locationX>668</locationX>
        <locationY>1842</locationY>
        <assignmentItems>
            <assignToReference>newContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>company.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contractRecordTypeIdLegal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.Parent_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.Created_Through_Legal_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.Month_to_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.AWS_Support_Included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.CMP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContract.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contractName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>666</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>newContract.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contract_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Contracts</name>
        <label>Number of Contracts</label>
        <locationX>662</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>numberOfContracts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_Contract</name>
        <label>Set Active Contract</label>
        <locationX>961</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>activeContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Open_Contract</name>
        <label>Set Open Contract</label>
        <locationX>917</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>openContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Approval_Record</name>
        <label>Set Primary Approval Record</label>
        <locationX>1147</locationX>
        <locationY>2052</locationY>
        <assignmentItems>
            <assignToReference>newContract.Primary_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_With_Approval_Id</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>MSA</name>
        <choiceText>MSA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MSA</stringValue>
        </value>
    </choices>
    <choices>
        <name>NDA</name>
        <choiceText>NDA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NDA</stringValue>
        </value>
    </choices>
    <choices>
        <name>newContact</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;---New Contact---&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Existing_Contract_Types</name>
        <label>Existing Contract Types</label>
        <locationX>779</locationX>
        <locationY>997</locationY>
        <defaultConnector>
            <targetReference>Assign_Contract_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active or Open Contracts</defaultConnectorLabel>
        <rules>
            <name>Active_and_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>openContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_and_Open_Contracts_Exist</targetReference>
            </connector>
            <label>Active and Open</label>
        </rules>
        <rules>
            <name>Active_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>openContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Contract_Screen</targetReference>
            </connector>
            <label>Active Contract</label>
        </rules>
        <rules>
            <name>Open_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>openContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Contract_Screen</targetReference>
            </connector>
            <label>Open Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Contracts</name>
        <label>How Many Contracts?</label>
        <locationX>652</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>Loop_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 0</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type</targetReference>
            </connector>
            <label>0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>1500</locationX>
        <locationY>772</locationY>
        <defaultConnector>
            <targetReference>Loop_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contract.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_Contract</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contract.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contract.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Open_Contract</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Account_Found</name>
        <label>Was Account Found?</label>
        <locationX>562</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Contract_Type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Account_Found</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>-New contract type &apos;Other&apos;, Submitter Comments required</description>
    <dynamicChoiceSets>
        <name>ApprovingPracticeManager</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ApprovingPracticeManagerPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onica_Practice_Lead__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>customerSigner</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>company.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>customerSignerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Type__c</picklistField>
        <picklistObject>Approval__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreSalesSA</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>accountURL</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!company.Id}</expression>
    </formulas>
    <formulas>
        <name>activeContractURL</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!activeContract.Id}</expression>
    </formulas>
    <formulas>
        <name>buApprover</name>
        <dataType>String</dataType>
        <expression>IF({!recordType.DeveloperName}=&quot;Amazon_Professional_Services&quot;, &quot;0052h0000014DwQ&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>contactRecordTypeIdContact</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Record_Ids__c.Contact_Record_Type_Id_Contact__c}</expression>
    </formulas>
    <formulas>
        <name>contractName</name>
        <dataType>String</dataType>
        <expression>{!company.Name}&amp;&quot; - &quot;&amp;{!Contract_Type}</expression>
    </formulas>
    <formulas>
        <name>contractRecordTypeIdLegal</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Record_Ids__c.Contract_Record_Type_Id_Legal__c}</expression>
    </formulas>
    <formulas>
        <name>contractTypeAmendment</name>
        <dataType>String</dataType>
        <expression>{!Contract_Type}&amp;&quot; Amendment&quot;</expression>
    </formulas>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>finalOpsApproverId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Record_Ids__c.Final_Ops_Approver_Id__c}</expression>
    </formulas>
    <formulas>
        <name>legalApproverId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Record_Ids__c.Legal_Approver_Id__c}</expression>
    </formulas>
    <formulas>
        <name>notContractingStage</name>
        <dataType>String</dataType>
        <expression>{!$Label.Opportunity_Not_In_Contracting}</expression>
    </formulas>
    <formulas>
        <name>openContractURL</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!openContract.Id}</expression>
    </formulas>
    <formulas>
        <name>parentContractId</name>
        <dataType>String</dataType>
        <expression>IF({!Active_Contract},{!activeContract.Id},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RedirectToOpp</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!sovOpp.Id}</expression>
    </formulas>
    <interviewLabel>Contract Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit for Approval - Contract</label>
    <loops>
        <name>Loop_Contracts</name>
        <label>Loop Contracts</label>
        <locationX>808</locationX>
        <locationY>739</locationY>
        <assignNextValueToReference>contract</assignNextValueToReference>
        <collectionReference>contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existing_Contract_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createApproval</name>
        <label>createApproval</label>
        <locationX>1011</locationX>
        <locationY>2056</locationY>
        <connector>
            <targetReference>Set_Primary_Approval_Record</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createContract</name>
        <label>createContract</label>
        <locationX>671</locationX>
        <locationY>2050</locationY>
        <connector>
            <targetReference>Approval_Defaults</targetReference>
        </connector>
        <inputReference>newContract</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>333</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>company</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>656</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>company.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractRecordTypeIdLegal</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>contracts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Contract_Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Primary_Approval__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_With_Approval_Id</name>
        <label>Update Contract With Approval Id</label>
        <locationX>1294</locationX>
        <locationY>2056</locationY>
        <connector>
            <targetReference>Add_Contract</targetReference>
        </connector>
        <inputReference>newContract</inputReference>
    </recordUpdates>
    <screens>
        <name>Active_and_Open_Contracts_Exist</name>
        <label>Active and Open Contracts Exist</label>
        <locationX>1004</locationX>
        <locationY>981</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>redirectToAccount</targetReference>
        </connector>
        <fields>
            <name>ActiveAndOpenDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is already an active {!Contract_Type} Contract and an open {!Contract_Type} Amendment for this Account.  Please review the existing Contract and Amendment by clicking the buttons below or click next to go back to the Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>redirectToActiveContractButtonActiveAndOpen</name>
            <extensionName>ecflc:flowURLRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlRedirect</name>
                <value>
                    <elementReference>activeContractURL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Go To Main Contract</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>redirectToOpenContractButtonActiveAndOpen</name>
            <extensionName>ecflc:flowURLRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlRedirect</name>
                <value>
                    <elementReference>openContractURL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Go To Open Amendment Contract</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Active_Contract_Screen</name>
        <label>Active Contract Screen</label>
        <locationX>824</locationX>
        <locationY>1246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_as_Amendment</targetReference>
        </connector>
        <fields>
            <name>ActiveContractDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is an active {!Contract_Type} Contract on this Account.  Please click the buttons below to go to the Contract or Account OR click Next to create an Amendment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>activeContractButton</name>
            <extensionName>ecflc:flowURLRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlRedirect</name>
                <value>
                    <elementReference>activeContractURL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Go To Active Contract</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountButton</name>
            <extensionName>ecflc:flowURLRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlRedirect</name>
                <value>
                    <elementReference>accountURL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Go To Account</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Type_Screen</name>
        <label>Contract Type Screen</label>
        <locationX>651</locationX>
        <locationY>222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
        <fields>
            <name>Contract_Type</name>
            <choiceReferences>MSA</choiceReferences>
            <choiceReferences>NDA</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submission_Comments</name>
            <fieldText>Submission Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Initial comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Submission_Comments}) || LEN({!Submission_Comments}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Account_Found</name>
        <label>No Account Found</label>
        <locationX>877</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountNotFound</name>
            <fieldText>&lt;p&gt;An Account could not be found with the following Record Id.  Please check to make sure the Record Id is an Account Id and try again.  If it still does not work, please contact your system administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Record Id: {!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_Contract_Screen</name>
        <label>Open Contract Screen</label>
        <locationX>977</locationX>
        <locationY>1247</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>redirectToAccount</targetReference>
        </connector>
        <fields>
            <name>ContractBeingNegotiated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;There is an open {!Contract_Type} Contract  on this Account.  Click below to go to the Contract or click Next to go back to the Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>openContractButton</name>
            <extensionName>ecflc:flowURLRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlRedirect</name>
                <value>
                    <elementReference>openContractURL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Go To Contract</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Contract</name>
        <label>Add Contract</label>
        <locationX>1442</locationX>
        <locationY>2056</locationY>
        <flowName>Contract_Add_Document</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accounts__c</objectType>
    </variables>
    <variables>
        <name>activeContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Approver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approver__mdt</objectType>
    </variables>
    <variables>
        <name>buApproverItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>company</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>contracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>customerSignerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>dummyAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0012h00000GYqfyAAD</stringValue>
        </value>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>numberOfContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>openContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>OpsApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>socvUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>sovApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval__c</objectType>
    </variables>
    <variables>
        <name>sovOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TechApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
