force-app/main/default/flows/Contact_Update_on_NPS_OPT_Out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddContacts</name>
        <label>AddContacts</label>
        <locationX>756</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>ContactsToBeUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_through_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_to_be_Updated</name>
        <label>Assign to Collection to be Updated</label>
        <locationX>854</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>iterate_through_Contacts.NPS_Survey_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NPS_Survey_Opt_Out__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>iterate_through_Contacts.Reasons_to_opt_out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reasons_to_opt_out__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddContacts</targetReference>
        </connector>
    </assignments>
    <description>Once Contact get updated with NPS OPT Out it matches email will be update</description>
    <interviewLabel>Contact Update on NPS OPT Out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Update on NPS OPT Out</label>
    <loops>
        <description>Iterating through the contacts to update the fields</description>
        <name>iterate_through_Contacts</name>
        <label>iterate through Contacts</label>
        <locationX>681</locationX>
        <locationY>324</locationY>
        <collectionReference>Getting_Contact_with_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Collection_to_be_Updated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all the associated contacts with email of current contact</description>
        <name>Getting_Contact_with_Email</name>
        <label>Getting Contact with Email</label>
        <locationX>444</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>NPS_Survey_Opt_Out__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.NPS_Survey_Opt_Out__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating the NPS fields as per the accociated contact</description>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>772</locationX>
        <locationY>198</locationY>
        <inputReference>ContactsToBeUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Getting_Contact_with_Email</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NPS_Survey_Opt_Out__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collContactsFound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsToBeUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>reccollContactsUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
