force-app/main/default/flows/Infrastructure_Fees_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Final_MRR</name>
        <label>Add Final MRR</label>
        <locationX>873</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>TotalFinalMRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuoteLines.Final_MRR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Cloud infrastructure Fee Forecast = Amount</description>
        <name>Amount_Override</name>
        <label>Amount Override</label>
        <locationX>746</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Cloud_Infrastructure_Fee_Forecast_Amount</name>
        <label>Cloud Infrastructure Fee Forecast = Amount</label>
        <locationX>234</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Cloud_Infrastructure_Fee_Forecast_Final_MRR</name>
        <label>Cloud Infrastructure Fee Forecast = Final MRR</label>
        <locationX>412</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cloud_Infrastructure_Fee_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFinalMRR</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Opp_Amount_less_than_Total_Final_MRR</name>
        <label>Is Opp Amount less than Total Final MRR?</label>
        <locationX>574</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Cloud_Infrastructure_Fee_Forecast_Final_MRR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_is_less_than_Total_Final_MRR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalFinalMRR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amount_Override</targetReference>
            </connector>
            <label>Amount is less than Total Final MRR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Line_has_Final_MRR</name>
        <label>Quote Line has Final MRR?</label>
        <locationX>867</locationX>
        <locationY>233</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_MRR_is_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopQuoteLines.Final_MRR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Final_MRR</targetReference>
            </connector>
            <label>Final MRR is not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Lines_Present</name>
        <label>Infra Quote Lines Present?</label>
        <locationX>226</locationX>
        <locationY>400</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Lines_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varcollQuoteLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopQuoteLines</targetReference>
            </connector>
            <label>Infra Quote Lines Added</label>
        </rules>
        <rules>
            <name>No_Quote_Lines</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>varcollQuoteLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDP Shareshift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDP Non Shareshift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cloud_Infrastructure_Fee_Forecast_Amount</targetReference>
            </connector>
            <label>No Quote Lines</label>
        </rules>
    </decisions>
    <description>Before-Save Iteration
- add Read Only Exception</description>
    <interviewLabel>Infrastructure Fees Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Infrastructure Fees Automation</label>
    <loops>
        <name>LoopQuoteLines</name>
        <label>LoopQuoteLines</label>
        <locationX>577</locationX>
        <locationY>393</locationY>
        <collectionReference>varcollQuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quote_Line_has_Final_MRR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Opp_Amount_less_than_Total_Final_MRR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Quote_Lines</name>
        <label>Get related Quote Lines</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Lines_Present</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 )</filterLogic>
        <filters>
            <field>Opportunity_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Workload_Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Optimizer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workload_Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Infrastructure for GCP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workload_Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Infrastructure for Azure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Workload_Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Infrastructure for AWS</stringValue>
            </value>
        </filters>
        <object>Quote_Line__c</object>
        <outputReference>varcollQuoteLines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Workload_Platform__c</queriedFields>
        <queriedFields>Opportunity_Quote__c</queriedFields>
        <queriedFields>Final_MRR__c</queriedFields>
        <queriedFields>Focus_Area__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>215</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Get_related_Quote_Lines</targetReference>
        </connector>
        <filterLogic>4 AND (1 OR 2 OR 3)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AWS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Azure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Google</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Read_Only</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Sum of all quote lines of quote line items in loop</description>
        <name>TotalFinalMRR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCloudInfrastructureFeeForecast</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varcollQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Line__c</objectType>
    </variables>
</Flow>
