force-app/main/default/flows/JBSystemFlow_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj336c6f7049010e751639aa8d2ac3aa47_FireJBTrigger</name>
        <label>SalesforceObj336c6f7049010e751639aa8d2ac3aa47_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj336c6f7049010e751639aa8d2ac3aa47</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029754</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_FireJBTrigger</name>
        <label>SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja87ba288ad636e83377f879971b61dd9</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja87ba288ad636e83377f879971b61dd9</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029754</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Promo_Code__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj940df346ea95dfbfc592c252a984f16b_FireJBTrigger</name>
        <label>SalesforceObj940df346ea95dfbfc592c252a984f16b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj336c6f7049010e751639aa8d2ac3aa47</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj336c6f7049010e751639aa8d2ac3aa47</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj940df346ea95dfbfc592c252a984f16b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029755</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj950d1d6027535337a19a88510fd9247c_FireJBTrigger</name>
        <label>SalesforceObj950d1d6027535337a19a88510fd9247c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj940df346ea95dfbfc592c252a984f16b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj940df346ea95dfbfc592c252a984f16b</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj950d1d6027535337a19a88510fd9247c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029755</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Salutation&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155_FireJBTrigger</name>
        <label>SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029754</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja87ba288ad636e83377f879971b61dd9_FireJBTrigger</name>
        <label>SalesforceObja87ba288ad636e83377f879971b61dd9_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja87ba288ad636e83377f879971b61dd9</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029754</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Status&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Original_Campaign_Code__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2_FireJBTrigger</name>
        <label>SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Lead&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029754</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_FireJBTrigger</name>
        <label>SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj950d1d6027535337a19a88510fd9247c</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj950d1d6027535337a19a88510fd9247c</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029752</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Country&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj336c6f7049010e751639aa8d2ac3aa47</name>
        <label>JB_Decision_Null_Check_SalesforceObj336c6f7049010e751639aa8d2ac3aa47</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj336c6f7049010e751639aa8d2ac3aa47_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj336c6f7049010e751639aa8d2ac3aa47_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj336c6f7049010e751639aa8d2ac3aa47_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f</name>
        <label>JB_Decision_Null_Check_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja87ba288ad636e83377f879971b61dd9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj940df346ea95dfbfc592c252a984f16b</name>
        <label>JB_Decision_Null_Check_SalesforceObj940df346ea95dfbfc592c252a984f16b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj336c6f7049010e751639aa8d2ac3aa47</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj950d1d6027535337a19a88510fd9247c</name>
        <label>JB_Decision_Null_Check_SalesforceObj950d1d6027535337a19a88510fd9247c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj940df346ea95dfbfc592c252a984f16b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj950d1d6027535337a19a88510fd9247c_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj950d1d6027535337a19a88510fd9247c_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj950d1d6027535337a19a88510fd9247c_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155</name>
        <label>JB_Decision_Null_Check_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja87ba288ad636e83377f879971b61dd9</name>
        <label>JB_Decision_Null_Check_SalesforceObja87ba288ad636e83377f879971b61dd9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2</name>
        <label>JB_Decision_Null_Check_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</name>
        <label>JB_Decision_Null_Check_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj950d1d6027535337a19a88510fd9247c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj336c6f7049010e751639aa8d2ac3aa47_Decision</name>
        <label>JB_SalesforceObj336c6f7049010e751639aa8d2ac3aa47_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj336c6f7049010e751639aa8d2ac3aa47</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Original_Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q319_LATAM_Online_Display_LDM-DIGITAL_Brand_Owned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj336c6f7049010e751639aa8d2ac3aa47_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj336c6f7049010e751639aa8d2ac3aa47</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_Decision</name>
        <label>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja87ba288ad636e83377f879971b61dd9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f</name>
            <conditionLogic>(1 AND  (2 OR 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Original_Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q319_LATAM_Online_Display_LDM-DIGITAL_ITPROS_Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Promo_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Promo_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_State_change_Decision</name>
        <label>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja87ba288ad636e83377f879971b61dd9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f</name>
            <conditionLogic>NOT  (1 AND  (2 OR 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Original_Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q319_LATAM_Online_Display_LDM-DIGITAL_ITPROS_Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Promo_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Promo_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_Decision</name>
        <label>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj336c6f7049010e751639aa8d2ac3aa47</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj940df346ea95dfbfc592c252a984f16b</name>
            <conditionLogic>(1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.GDPR_Lead_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Double_Opt_In_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj940df346ea95dfbfc592c252a984f16b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj940df346ea95dfbfc592c252a984f16b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_State_change_Decision</name>
        <label>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj336c6f7049010e751639aa8d2ac3aa47</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj940df346ea95dfbfc592c252a984f16b</name>
            <conditionLogic>NOT  (1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.GDPR_Lead_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Double_Opt_In_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj940df346ea95dfbfc592c252a984f16b_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj940df346ea95dfbfc592c252a984f16b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj950d1d6027535337a19a88510fd9247c_Decision</name>
        <label>JB_SalesforceObj950d1d6027535337a19a88510fd9247c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj940df346ea95dfbfc592c252a984f16b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj950d1d6027535337a19a88510fd9247c</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  AND  ( (4 OR 5)  OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - To Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Double_Opt_In_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj950d1d6027535337a19a88510fd9247c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj950d1d6027535337a19a88510fd9247c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj950d1d6027535337a19a88510fd9247c_State_change_Decision</name>
        <label>JB_SalesforceObj950d1d6027535337a19a88510fd9247c_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj940df346ea95dfbfc592c252a984f16b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj950d1d6027535337a19a88510fd9247c</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND  ( (4 OR 5)  OR 6) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - To Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Double_Opt_In_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj950d1d6027535337a19a88510fd9247c_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj950d1d6027535337a19a88510fd9247c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155_Decision</name>
        <label>JB_SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Original_Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q319_LATAM_Online_Display_LDM-DIGITAL_Dedicated_Owned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9bf0297a735c72eb5a45bb3f22ad1155</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_Decision</name>
        <label>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja87ba288ad636e83377f879971b61dd9</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Original_Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q319_LATAM_Online_Display_LDM-DIGITAL_CXO_Owned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja87ba288ad636e83377f879971b61dd9_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja87ba288ad636e83377f879971b61dd9</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_State_change_Decision</name>
        <label>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja87ba288ad636e83377f879971b61dd9</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Original_Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q319_LATAM_Online_Display_LDM-DIGITAL_CXO_Owned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja87ba288ad636e83377f879971b61dd9_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja87ba288ad636e83377f879971b61dd9</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2_Decision</name>
        <label>JB_SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Original_Campaign_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q319_LATAM_Online_Display_LDM-DIGITAL_AWS_Owned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjdf50d4d26d24eeb86588fa1e4ba99ed2</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_Decision</name>
        <label>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj950d1d6027535337a19a88510fd9247c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</name>
            <conditionLogic>( (1 AND 2)  AND  ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( (3 OR 4)  OR 5)  OR 6)  OR 7)  OR 8)  OR 9)  OR 10)  OR 11)  OR 12)  OR 13)  OR 14)  OR 15)  OR 16)  OR 17)  OR 18)  OR 19)  OR 20)  OR 21)  OR 22)  OR 23)  OR 24) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - To Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iran</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iraq</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yemen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jordan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Arab Emirates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Israel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lebanon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Palestine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oman</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kuwait</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qatar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahrain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_State_change_Decision</name>
        <label>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj950d1d6027535337a19a88510fd9247c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND  ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( (3 OR 4)  OR 5)  OR 6)  OR 7)  OR 8)  OR 9)  OR 10)  OR 11)  OR 12)  OR 13)  OR 14)  OR 15)  OR 16)  OR 17)  OR 18)  OR 19)  OR 20)  OR 21)  OR 22)  OR 23)  OR 24) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified - To Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iran</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iraq</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yemen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jordan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Arab Emirates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Israel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lebanon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Palestine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oman</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kuwait</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qatar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahrain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjfc011e1dcd6c1c286da46452b92a82ea</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj39c3dc2fa3c43b47a3bc4c9cd5e8817f</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
