force-app/main/default/flows/Lead_Email_Alerts_to_Partner_PAM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Alert_to_Partner_When_Lead_is_Recieved</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email Alert to Partner</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_Alert_to_Partner_When_Lead_is_Recieved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Alert_to_RAXPartnerHelp_When_Lead_is_Created</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Email Alert To RAXHelp</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Lead.Email_Alert_to_RAXPartnerHelp_When_Lead_is_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Alert_to_Partner_When_Lead_is_Recieved</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Email Alert to Partners</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Lead.Email_Alert_to_Partner_When_Lead_is_Recieved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Alert_to_PAM_When_Lead_is_Created</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Email Alert to PAM</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <actionName>Lead.Email_Alert_to_PAM_When_Lead_is_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Isn&apos;t PAM associated to Partner Lead ?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Is PAM associated to Partner Lead?</label>
        </rules>
    </decisions>
    <description>Email alert sent to PAM or RAXPartnerHelp@Rackspace.com</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Lead].LeadSource,&apos;Partner Network&apos;)  ,CONTAINS( $Label.Partner_Profiles , [Lead].CreatedBy.ProfileId ),ISBLANK([Lead].Partner_Company__c.OwnerId ) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.LeadSource},&apos;Partner Network&apos;)  ,CONTAINS( {!$Label.Partner_Profiles} , {!myVariable_current.CreatedBy.ProfileId} ),ISBLANK({!myVariable_current.Partner_Company__r.OwnerId} ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISPICKVAL([Lead].LeadSource ,&apos;Partner Network&apos;)  ,CONTAINS( $Label.Partner_Profiles , [Lead].CreatedBy.ProfileId ) ,NOT(ISBLANK([Lead].Partner_Company__c.OwnerId)) , ISBLANK([Lead].Sub_Agent__c) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!myVariable_current.LeadSource} ,&apos;Partner Network&apos;)  ,CONTAINS( {!$Label.Partner_Profiles} , {!myVariable_current.CreatedBy.ProfileId} ) ,NOT(ISBLANK({!myVariable_current.Partner_Company__r.OwnerId})) , ISBLANK({!myVariable_current.Sub_Agent__c}) )</expression>
    </formulas>
    <interviewLabel>Lead_Email_Alerts_to_Partner_PAM-8_InterviewLabel</interviewLabel>
    <label>Lead Email Alerts to PAM or RAXPartnerHelp</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
