force-app/main/default/flows/Lead_SLA_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>X1_Hour_SLA_Lead_Alert_Urgent</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA1</name>
        <label>1 Hour Urgent</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Lead.X1_Hour_SLA_Lead_Alert_Urgent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>X3_Hours_SLA_Lead_Alert_Urgent</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_1_SA1</name>
        <label>3 Hours Urgent</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Lead.X3_Hours_SLA_Lead_Alert_Urgent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_1_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>X24_Hours_SLA_Lead_Alert_Urgent</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_2_SA1</name>
        <label>24 Hours Urgent</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Lead.X24_Hours_SLA_Lead_Alert_Urgent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_2_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>X24_Hours_SLA_Lead_Alert_Standard</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_3_event_0_SA1</name>
        <label>24 Hours Standard</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Lead.X24_Hours_SLA_Lead_Alert_Standard</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_3_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myPreWaitDecision_myWait_myRule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_1</name>
        <label>myWaitAssignment_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_3</name>
        <label>myWaitAssignment_myWait_myRule_3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myPreWaitDecision_myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_1_event_1_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_1_event_1_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_1_event_1_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_1_event_2_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_1_event_2_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_1_event_2_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_3_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_3_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_3_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Urgent Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Standard Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Max_Date_Passed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_1</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_1_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Max_Date_Passed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_1_event_1_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_2</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_2_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Max_Date_Passed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_1_event_2_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_2</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_3_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_3_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Max_Date_Passed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_3_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_3_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_1</name>
        <label>myPreWaitDecision_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_3</name>
        <label>myPreWaitDecision_myWait_myRule_3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPreWaitDecision_myWait_myRule_1</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_3</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_3</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Email alerts when Lead SLAs are not met.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(ISCHANGED([Lead].Max_Date_Passed__c ),ISCHANGED([Lead].OwnerId),
AND(ISNEW(),NOT(ISNULL([Lead].Max_Date_Passed__c)))
),

IF(AND(BEGINS([Lead].OwnerId,&apos;005&apos;), NOT(ISBLANK([Lead].Owner:User.UserRoleId))), AND(NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;Q Team&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;LDT&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;US – Leadmasters&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;US Operatix&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;Online&apos;))
), FALSE) ,

[Lead].Max_Date_Passed__c  &gt; DATETIMEVALUE(&quot;2018-04-02 00:00:00&quot;) ,
[Lead].ActivityLogged__c ==FALSE,
OR(ISPICKVAL([Lead].LeadSource ,&apos;Call In&apos;),ISPICKVAL([Lead].LeadSource,&apos;Chat&apos;),ISPICKVAL([Lead].LeadSource,&apos;Site Submission&apos;)),OR(CONTAINS([Lead].Max_Lead_Role__c,&apos;Q Team&apos; ),
CONTAINS([Lead].Max_Lead_Role__c,&apos;US ISR&apos; ),
CONTAINS([Lead].Max_Lead_Role__c,&apos;Online&apos;),CONTAINS([Lead].Max_Lead_Role__c,&apos;LDT&apos;)),
AND(NOT(ISBLANK([Lead].Owners_s_Group__c)),CONTAINS( $Label.LeadGroup,[Lead].Owners_s_Group__c))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(ISCHANGED({!myVariable_current.Max_Date_Passed__c} ),ISCHANGED({!myVariable_current.OwnerId}),
AND(ISNEW(),NOT(ISNULL({!myVariable_current.Max_Date_Passed__c})))
),

IF(AND(BEGINS({!myVariable_current.OwnerId},&apos;005&apos;), NOT(ISBLANK({!myVariable_current.Owner:User.UserRoleId}))), AND(NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;Q Team&apos;)),
NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;LDT&apos;)),
NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;US – Leadmasters&apos;)),
NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;US Operatix&apos;)),
NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;Online&apos;))
), FALSE) ,

{!myVariable_current.Max_Date_Passed__c}  &gt; DATETIMEVALUE(&quot;2018-04-02 00:00:00&quot;) ,
{!myVariable_current.ActivityLogged__c} ==FALSE,
OR(ISPICKVAL({!myVariable_current.LeadSource} ,&apos;Call In&apos;),ISPICKVAL({!myVariable_current.LeadSource},&apos;Chat&apos;),ISPICKVAL({!myVariable_current.LeadSource},&apos;Site Submission&apos;)),OR(CONTAINS({!myVariable_current.Max_Lead_Role__c},&apos;Q Team&apos; ),
CONTAINS({!myVariable_current.Max_Lead_Role__c},&apos;US ISR&apos; ),
CONTAINS({!myVariable_current.Max_Lead_Role__c},&apos;Online&apos;),CONTAINS({!myVariable_current.Max_Lead_Role__c},&apos;LDT&apos;)),
AND(NOT(ISBLANK({!myVariable_current.Owners_s_Group__c})),CONTAINS( $Label.LeadGroup,{!myVariable_current.Owners_s_Group__c}))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(ISCHANGED([Lead].Max_Date_Passed__c ),ISCHANGED([Lead].OwnerId),
AND(ISNEW(),NOT(ISNULL([Lead].Max_Date_Passed__c)))
),

IF(AND(BEGINS([Lead].OwnerId,&apos;005&apos;), NOT(ISBLANK([Lead].Owner:User.UserRoleId))), AND(NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;Q Team&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;LDT&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;US – Leadmasters&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;US Operatix&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;Online&apos;))
), FALSE) ,

[Lead].Max_Date_Passed__c  &gt; DATETIMEVALUE(&quot;2018-04-02 00:00:00&quot;) ,
[Lead].ActivityLogged__c ==FALSE,
OR(ISPICKVAL([Lead].LeadSource ,&apos;Call In&apos;),ISPICKVAL([Lead].LeadSource,&apos;Chat&apos;),ISPICKVAL([Lead].LeadSource,&apos;Site Submission&apos;)),OR(CONTAINS([Lead].Max_Lead_Role__c,&apos;Q Team&apos; ),
CONTAINS([Lead].Max_Lead_Role__c,&apos;US ISR&apos; ),
CONTAINS([Lead].Max_Lead_Role__c,&apos;Online&apos;),CONTAINS([Lead].Max_Lead_Role__c,&apos;LDT&apos;)),
AND(NOT(ISBLANK([Lead].Owners_s_Group__c)),CONTAINS( $Label.LeadGroup,[Lead].Owners_s_Group__c))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(ISCHANGED({!myVariable_old.Max_Date_Passed__c} ),ISCHANGED({!myVariable_old.OwnerId}),
AND(ISNEW(),NOT(ISNULL({!myVariable_old.Max_Date_Passed__c})))
),

IF(AND(BEGINS({!myVariable_old.OwnerId},&apos;005&apos;), NOT(ISBLANK({!myVariable_old.Owner:User.UserRoleId}))), AND(NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;Q Team&apos;)),
NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;LDT&apos;)),
NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;US – Leadmasters&apos;)),
NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;US Operatix&apos;)),
NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;Online&apos;))
), FALSE) ,

{!myVariable_old.Max_Date_Passed__c}  &gt; DATETIMEVALUE(&quot;2018-04-02 00:00:00&quot;) ,
{!myVariable_old.ActivityLogged__c} ==FALSE,
OR(ISPICKVAL({!myVariable_old.LeadSource} ,&apos;Call In&apos;),ISPICKVAL({!myVariable_old.LeadSource},&apos;Chat&apos;),ISPICKVAL({!myVariable_old.LeadSource},&apos;Site Submission&apos;)),OR(CONTAINS({!myVariable_old.Max_Lead_Role__c},&apos;Q Team&apos; ),
CONTAINS({!myVariable_old.Max_Lead_Role__c},&apos;US ISR&apos; ),
CONTAINS({!myVariable_old.Max_Lead_Role__c},&apos;Online&apos;),CONTAINS({!myVariable_old.Max_Lead_Role__c},&apos;LDT&apos;)),
AND(NOT(ISBLANK({!myVariable_old.Owners_s_Group__c})),CONTAINS( $Label.LeadGroup,{!myVariable_old.Owners_s_Group__c}))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(ISCHANGED([Lead].Max_Date_Passed__c ),ISCHANGED([Lead].OwnerId),
AND(ISNEW(),NOT(ISNULL([Lead].Max_Date_Passed__c)))
),
IF(AND(BEGINS([Lead].OwnerId,&apos;005&apos;), NOT(ISBLANK([Lead].Owner:User.UserRoleId))), AND(NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;Q Team&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;LDT&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;US – Leadmasters&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;US Operatix&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;Online&apos;))
), FALSE) ,

[Lead].Max_Date_Passed__c  &gt; DATETIMEVALUE(&quot;2018-04-02 00:00:00&quot;) ,
[Lead].ActivityLogged__c ==FALSE,

AND(NOT(ISPICKVAL([Lead].LeadSource ,&apos;Call In&apos;)),NOT(ISPICKVAL([Lead].LeadSource,&apos;Chat&apos;)),NOT(ISPICKVAL([Lead].LeadSource,&apos;Site Submission&apos;))),

OR(CONTAINS([Lead].Max_Lead_Role__c,&apos;Q Team&apos;),CONTAINS([Lead].Max_Lead_Role__c,&apos;Online’ &apos;),CONTAINS([Lead].Max_Lead_Role__c,&apos;LDT&apos;),
CONTAINS([Lead].Max_Lead_Role__c,&apos;US ISR&apos;)),

AND(NOT(ISBLANK([Lead].Owners_s_Group__c)),CONTAINS( $Label.LeadGroup,[Lead].Owners_s_Group__c))

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(ISCHANGED({!myVariable_current.Max_Date_Passed__c} ),ISCHANGED({!myVariable_current.OwnerId}),
AND(ISNEW(),NOT(ISNULL({!myVariable_current.Max_Date_Passed__c})))
),
IF(AND(BEGINS({!myVariable_current.OwnerId},&apos;005&apos;), NOT(ISBLANK({!myVariable_current.Owner:User.UserRoleId}))), AND(NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;Q Team&apos;)),
NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;LDT&apos;)),
NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;US – Leadmasters&apos;)),
NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;US Operatix&apos;)),
NOT(CONTAINS({!myVariable_current.Owner:User.UserRole.Name},&apos;Online&apos;))
), FALSE) ,

{!myVariable_current.Max_Date_Passed__c}  &gt; DATETIMEVALUE(&quot;2018-04-02 00:00:00&quot;) ,
{!myVariable_current.ActivityLogged__c} ==FALSE,

AND(NOT(ISPICKVAL({!myVariable_current.LeadSource} ,&apos;Call In&apos;)),NOT(ISPICKVAL({!myVariable_current.LeadSource},&apos;Chat&apos;)),NOT(ISPICKVAL({!myVariable_current.LeadSource},&apos;Site Submission&apos;))),

OR(CONTAINS({!myVariable_current.Max_Lead_Role__c},&apos;Q Team&apos;),CONTAINS({!myVariable_current.Max_Lead_Role__c},&apos;Online’ &apos;),CONTAINS({!myVariable_current.Max_Lead_Role__c},&apos;LDT&apos;),
CONTAINS({!myVariable_current.Max_Lead_Role__c},&apos;US ISR&apos;)),

AND(NOT(ISBLANK({!myVariable_current.Owners_s_Group__c})),CONTAINS( $Label.LeadGroup,{!myVariable_current.Owners_s_Group__c}))

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(ISCHANGED([Lead].Max_Date_Passed__c ),ISCHANGED([Lead].OwnerId),
AND(ISNEW(),NOT(ISNULL([Lead].Max_Date_Passed__c)))
),
IF(AND(BEGINS([Lead].OwnerId,&apos;005&apos;), NOT(ISBLANK([Lead].Owner:User.UserRoleId))), AND(NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;Q Team&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;LDT&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;US – Leadmasters&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;US Operatix&apos;)),
NOT(CONTAINS([Lead].Owner:User.UserRole.Name,&apos;Online&apos;))
), FALSE) ,

[Lead].Max_Date_Passed__c  &gt; DATETIMEVALUE(&quot;2018-04-02 00:00:00&quot;) ,
[Lead].ActivityLogged__c ==FALSE,

AND(NOT(ISPICKVAL([Lead].LeadSource ,&apos;Call In&apos;)),NOT(ISPICKVAL([Lead].LeadSource,&apos;Chat&apos;)),NOT(ISPICKVAL([Lead].LeadSource,&apos;Site Submission&apos;))),

OR(CONTAINS([Lead].Max_Lead_Role__c,&apos;Q Team&apos;),CONTAINS([Lead].Max_Lead_Role__c,&apos;Online’ &apos;),CONTAINS([Lead].Max_Lead_Role__c,&apos;LDT&apos;),
CONTAINS([Lead].Max_Lead_Role__c,&apos;US ISR&apos;)),

AND(NOT(ISBLANK([Lead].Owners_s_Group__c)),CONTAINS( $Label.LeadGroup,[Lead].Owners_s_Group__c))

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(ISCHANGED({!myVariable_old.Max_Date_Passed__c} ),ISCHANGED({!myVariable_old.OwnerId}),
AND(ISNEW(),NOT(ISNULL({!myVariable_old.Max_Date_Passed__c})))
),
IF(AND(BEGINS({!myVariable_old.OwnerId},&apos;005&apos;), NOT(ISBLANK({!myVariable_old.Owner:User.UserRoleId}))), AND(NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;Q Team&apos;)),
NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;LDT&apos;)),
NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;US – Leadmasters&apos;)),
NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;US Operatix&apos;)),
NOT(CONTAINS({!myVariable_old.Owner:User.UserRole.Name},&apos;Online&apos;))
), FALSE) ,

{!myVariable_old.Max_Date_Passed__c}  &gt; DATETIMEVALUE(&quot;2018-04-02 00:00:00&quot;) ,
{!myVariable_old.ActivityLogged__c} ==FALSE,

AND(NOT(ISPICKVAL({!myVariable_old.LeadSource} ,&apos;Call In&apos;)),NOT(ISPICKVAL({!myVariable_old.LeadSource},&apos;Chat&apos;)),NOT(ISPICKVAL({!myVariable_old.LeadSource},&apos;Site Submission&apos;))),

OR(CONTAINS({!myVariable_old.Max_Lead_Role__c},&apos;Q Team&apos;),CONTAINS({!myVariable_old.Max_Lead_Role__c},&apos;Online’ &apos;),CONTAINS({!myVariable_old.Max_Lead_Role__c},&apos;LDT&apos;),
CONTAINS({!myVariable_old.Max_Lead_Role__c},&apos;US ISR&apos;)),

AND(NOT(ISBLANK({!myVariable_old.Owners_s_Group__c})),CONTAINS( $Label.LeadGroup,{!myVariable_old.Owners_s_Group__c}))

)</expression>
    </formulas>
    <interviewLabel>Lead_SLA_Email_Alerts-2_InterviewLabel</interviewLabel>
    <label>Lead SLA Email Alerts</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_1_event_1_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_1_event_2_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_3_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_1</name>
        <label>myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_1_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Max_Date_Passed__c</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_1_event_0</label>
        </waitEvents>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_1_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_1_event_1_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_1</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Max_Date_Passed__c</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_1_event_1</label>
        </waitEvents>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_1_event_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_1_event_2_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_2</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Max_Date_Passed__c</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_1_event_2</label>
        </waitEvents>
    </waits>
    <waits>
        <name>myWait_myRule_3</name>
        <label>myWait_myRule_3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_3_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_3_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_3_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Max_Date_Passed__c</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_3_event_0</label>
        </waitEvents>
    </waits>
</Flow>
