force-app/main/default/flows/MCO_Opps_Closed_Won_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MCO_Opp_Closed_Won_Alert</name>
        <label>MCO Opp Closed Won Alert</label>
        <locationX>535</locationX>
        <locationY>518</locationY>
        <actionName>Opportunity.MCO_Close_Won_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MCO_Opp_Closed_Won_Alert_0</name>
        <label>MCO Opp Closed Won Alert</label>
        <locationX>1038</locationX>
        <locationY>513</locationY>
        <actionName>Opportunity.MCO_Close_Won_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Optimizer_or_MCO</name>
        <label>Optimizer or MCO</label>
        <locationX>768</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Optimizer_present</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>CollOptimizerVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onica_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e61000000l8BsAAI, 00e6100000163tsAAA,  00e61000000izkP,  00e3f000000p6dE, 00e61000000l8BwAAI,  00561000001znTuAAI,  00561000001zo2kAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MCO_Opp_Closed_Won_Alert_0</targetReference>
            </connector>
            <label>Optimizer present</label>
        </rules>
        <rules>
            <name>Onica_Type_MCO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e61000000l8BsAAI, 00e6100000163tsAAA,  00e61000000izkP,  00e3f000000p6dE, 00e61000000l8BwAAI,  00561000001znTuAAI,  00561000001zo2kAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MCO_Opp_Closed_Won_Alert</targetReference>
            </connector>
            <label>Onica Type MCO</label>
        </rules>
    </decisions>
    <description>Added Profiles in &quot;System_Admin_Integration_Profiles&quot; custom label to the exceptions.</description>
    <interviewLabel>MCO Opps. Closed Won alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MCO Opps. Closed Won alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOptimizerQL</name>
        <label>getOptimizerQL</label>
        <locationX>776</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Optimizer_or_MCO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Workload_Platform__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Optimizer</stringValue>
            </value>
        </filters>
        <object>Quote_Line__c</object>
        <outputReference>CollOptimizerVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Workload_Platform__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getOptimizerQL</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollOptimizerVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Line__c</objectType>
    </variables>
</Flow>
