force-app/main/default/flows/New_Opportunity_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>AWS</name>
        <choiceText>AWS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AWS</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_google</name>
        <choiceText>Google</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Google</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_mail_online_signup</name>
        <choiceText>Mail Online Signup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mail Online Signup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_objectRocket</name>
        <choiceText>ObjectRocket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ObjectRocket</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Rackspace_cloud</name>
        <choiceText>Rackspace Cloud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rackspace Cloud</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceAliCloud</name>
        <choiceText>AliCloud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AliCloud</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceAzure</name>
        <choiceText>Azure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Azure</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceColo</name>
        <choiceText>Colo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Colo</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceCustomerSuccess</name>
        <choiceText>Customer Success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Success</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceDedicatedPrivateCloud</name>
        <choiceText>Dedicated/Private Cloud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dedicated/Private Cloud</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMailContractSignup</name>
        <choiceText>Mail Contract Signup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mail Contract Signup</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMolo</name>
        <choiceText>Molo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Molo</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceOpenStackPrivate</name>
        <choiceText>Open Stack Private</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open Stack Private</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceProfessionalServices</name>
        <choiceText>Professional Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceRenewal</name>
        <choiceText>Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceRevenueTicket</name>
        <choiceText>Revenue Ticket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Revenue Ticket</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceTriCore</name>
        <choiceText>TriCore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TriCore</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceTriCoreProServe</name>
        <choiceText>TriCore ProServe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TriCore ProServe</stringValue>
        </value>
    </choices>
    <choices>
        <name>CloudRT</name>
        <choiceText>Cloud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01261000000iv0jAAA</stringValue>
        </value>
    </choices>
    <choices>
        <name>CloudRT_Intl</name>
        <choiceText>Cloud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01261000000iv0fAAA</stringValue>
        </value>
    </choices>
    <choices>
        <name>DedicatedRT</name>
        <choiceText>Dedicated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01261000000iv0kAAA</stringValue>
        </value>
    </choices>
    <choices>
        <name>DedicatedRT_Intl</name>
        <choiceText>Dedicated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01261000000iv0gAAA</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Profile based record type access</description>
        <name>Allowed_Record_Types</name>
        <label>Allowed Record Types</label>
        <locationX>653</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Government</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Government</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GovernmentOpp</targetReference>
            </connector>
            <label>Government</label>
        </rules>
        <rules>
            <name>Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>avar_CurrentUserInfo.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>USOpp</targetReference>
            </connector>
            <label>Americas</label>
        </rules>
        <rules>
            <name>INTL</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>avar_CurrentUserInfo.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>avar_CurrentUserInfo.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INTLOpp</targetReference>
            </connector>
            <label>INTL</label>
        </rules>
    </decisions>
    <description>-reconfigured for Company
-updated prod url</description>
    <dynamicChoiceSets>
        <name>Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FocusArea_MPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Focus_Area__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultiPickFocusArea</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Focus_Area__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_GetOppType</name>
        <dataType>String</dataType>
        <expression>{!Opportunity_Product_Type} &amp; {!Opportunity_Product_Type_dedicated}</expression>
    </formulas>
    <formulas>
        <name>f_GetOppTypeIntl</name>
        <dataType>String</dataType>
        <expression>{!DediOpportunity_Product_Type} &amp; {!INTLCloudOpportunity_Product_Type}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UserProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>New Opportunity Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Opportunity Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Govt_Oppty</name>
        <label>Create Govt Oppty</label>
        <locationX>1214</locationX>
        <locationY>395</locationY>
        <assignRecordIdToReference>var_NewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>FinishText</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>ProductAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount_govt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>PicklistCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Focus_Area__c</field>
            <value>
                <elementReference>Focus_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Source__c</field>
            <value>
                <elementReference>marketing_sourced_gov</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01261000000X4wSAAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stage 1 - Planning &amp; Identification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>GovtType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Intl_Oppty</name>
        <label>Create Intl Oppty</label>
        <locationX>1227</locationX>
        <locationY>240</locationY>
        <assignRecordIdToReference>var_NewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>FinishText</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>ProductAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount_Intl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category_Intl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>INTLClose_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_Support_Fee_Forecast__c</field>
            <value>
                <elementReference>INTLCloud_Support_Fee_Forecast</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Focus_Area__c</field>
            <value>
                <elementReference>INTLFocus_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Source__c</field>
            <value>
                <elementReference>marketing_sourced_intl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name_Itnl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Choose_Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stage 1 - Planning &amp; Identification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>f_GetOppTypeIntl</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_US_Oppty</name>
        <label>Create US Oppty</label>
        <locationX>1217</locationX>
        <locationY>78</locationY>
        <assignRecordIdToReference>var_NewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>FinishText</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>ProductAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_Support_Fee_Forecast__c</field>
            <value>
                <elementReference>Cloud_Support_Forecast</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Focus_Area__c</field>
            <value>
                <elementReference>Focus_Area_ms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Source__c</field>
            <value>
                <elementReference>marketing_sourced_amer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stage 1 - Planning &amp; Identification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>f_GetOppType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Current_User_Info</name>
        <label>Current User Info</label>
        <locationX>329</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>avar_CurrentUserInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Product_Account_ID</name>
        <label>Product Account ID</label>
        <locationX>479</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allowed_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1650</locationX>
        <locationY>429</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;Something went wrong. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Rest assured the details you&apos;ve entered up to this point and your error message have been sent to the system administrators. Please wait to be contacted regarding this matter, or feel free to try again. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinishText</name>
        <label>FinishText</label>
        <locationX>1583</locationX>
        <locationY>232</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finishdisplaytext</name>
            <fieldText>&lt;p&gt;Your Opportunity is created! Click &lt;a href=&quot;https://rax.lightning.force.com/lightning/r/Opportunity/{!var_NewOppId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to view or edit it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you&apos;d like, you can create another opportunity for this customer on the next screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GovernmentOpp</name>
        <label>Government Opp</label>
        <locationX>1039</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Govt_Oppty</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GovtType</name>
            <choiceReferences>ChoiceAliCloud</choiceReferences>
            <choiceReferences>AWS</choiceReferences>
            <choiceReferences>ChoiceAzure</choiceReferences>
            <choiceReferences>ChoiceColo</choiceReferences>
            <choiceReferences>ChoiceDedicatedPrivateCloud</choiceReferences>
            <choiceReferences>ChoiceMailContractSignup</choiceReferences>
            <choiceReferences>ChoiceMolo</choiceReferences>
            <choiceReferences>ChoiceOpenStackPrivate</choiceReferences>
            <choiceReferences>ChoiceProfessionalServices</choiceReferences>
            <choiceReferences>ChoiceRenewal</choiceReferences>
            <choiceReferences>ChoiceRevenueTicket</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PicklistCategory</name>
            <choiceReferences>Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Focus_Area</name>
            <choiceReferences>MultiPickFocusArea</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Focus Area</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount_govt</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>marketing_sourced_gov</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_No</defaultSelectedChoiceReference>
            <fieldText>Marketing Sourced?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>INTLOpp</name>
        <label>INTL Opp</label>
        <locationX>1037</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Intl_Oppty</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name_Itnl</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choose_Opportunity_Type</name>
            <choiceReferences>DedicatedRT_Intl</choiceReferences>
            <choiceReferences>CloudRT_Intl</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Opportunity Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DediOpportunity_Product_Type</name>
            <choiceReferences>ChoiceColo</choiceReferences>
            <choiceReferences>ChoiceDedicatedPrivateCloud</choiceReferences>
            <choiceReferences>ChoiceMailContractSignup</choiceReferences>
            <choiceReferences>ChoiceMolo</choiceReferences>
            <choiceReferences>ChoiceOpenStackPrivate</choiceReferences>
            <choiceReferences>ChoiceProfessionalServices</choiceReferences>
            <choiceReferences>ChoiceRenewal</choiceReferences>
            <choiceReferences>ChoiceRevenueTicket</choiceReferences>
            <choiceReferences>ChoiceTriCore</choiceReferences>
            <choiceReferences>ChoiceTriCoreProServe</choiceReferences>
            <choiceReferences>ChoiceCustomerSuccess</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DedicatedRT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>INTLCloudOpportunity_Product_Type</name>
            <choiceReferences>ChoiceAliCloud</choiceReferences>
            <choiceReferences>AWS</choiceReferences>
            <choiceReferences>ChoiceAzure</choiceReferences>
            <choiceReferences>ChoiceMailContractSignup</choiceReferences>
            <choiceReferences>ChoiceProfessionalServices</choiceReferences>
            <choiceReferences>choice_google</choiceReferences>
            <choiceReferences>choice_Rackspace_cloud</choiceReferences>
            <choiceReferences>choice_objectRocket</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CloudRT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Category_Intl</name>
            <choiceReferences>Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>INTLClose_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_any_amounts_to_enter</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have any amounts to enter?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount_Intl</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>INTLCloud_Support_Fee_Forecast</name>
            <dataType>Currency</dataType>
            <fieldText>Cloud Support Fee Forecast</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CloudRT</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_you_have_any_amounts_to_enter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>INTLFocus_Area</name>
            <choiceReferences>FocusArea_MPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Focus Area</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>marketing_sourced_intl</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_No</defaultSelectedChoiceReference>
            <fieldText>Marketing Sourced?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>USOpp</name>
        <label>US Opp</label>
        <locationX>1037</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_US_Oppty</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name_US</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Type</name>
            <choiceReferences>CloudRT</choiceReferences>
            <choiceReferences>DedicatedRT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Product_Type</name>
            <choiceReferences>ChoiceAliCloud</choiceReferences>
            <choiceReferences>AWS</choiceReferences>
            <choiceReferences>ChoiceAzure</choiceReferences>
            <choiceReferences>choice_google</choiceReferences>
            <choiceReferences>choice_mail_online_signup</choiceReferences>
            <choiceReferences>choice_objectRocket</choiceReferences>
            <choiceReferences>ChoiceProfessionalServices</choiceReferences>
            <choiceReferences>choice_Rackspace_cloud</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CloudRT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity_Product_Type_dedicated</name>
            <choiceReferences>ChoiceColo</choiceReferences>
            <choiceReferences>ChoiceDedicatedPrivateCloud</choiceReferences>
            <choiceReferences>ChoiceMailContractSignup</choiceReferences>
            <choiceReferences>ChoiceMolo</choiceReferences>
            <choiceReferences>ChoiceOpenStackPrivate</choiceReferences>
            <choiceReferences>ChoiceProfessionalServices</choiceReferences>
            <choiceReferences>ChoiceRenewal</choiceReferences>
            <choiceReferences>ChoiceRevenueTicket</choiceReferences>
            <choiceReferences>ChoiceTriCore</choiceReferences>
            <choiceReferences>ChoiceTriCoreProServe</choiceReferences>
            <choiceReferences>ChoiceCustomerSuccess</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DedicatedRT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Close_Date_US</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Focus_Area_ms</name>
            <choiceReferences>FocusArea_MPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Focus Area</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Category_US</name>
            <choiceReferences>Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount_US</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Cloud_Support_Forecast</name>
            <dataType>Currency</dataType>
            <fieldText>Cloud Support Forecast</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CloudRT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>marketing_sourced_amer</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_No</defaultSelectedChoiceReference>
            <fieldText>Marketing Sourced?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>16</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Current_User_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>avar_CurrentUserInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OppRecordTypeIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvar_AcctRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accounts__c</objectType>
    </variables>
    <variables>
        <name>rvar_newOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
