force-app/main/default/flows/Opp_Close_Lost_Email_Notification_to_PAM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Opp_Close_Lost_Email_to_US_Channel_Direct</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email US Channel Direct</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Opp_Close_Lost_Email_to_US_Channel_Direct</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Opp_Close_Lost_Email_Alert_to_PAM</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Email PAMS</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Opportunity.Opp_Close_Lost_Email_Alert_to_PAM</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Opp_Close_Lost_Email_Alert_to_PAM</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Opp_Close_Lost_Email_Alert_to_PAM</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Opportunity.Opp_Close_Lost_Email_Alert_to_PAM</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Criteria for US Channel Direct Opps</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Criteria on Opp Stage Name is Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND(NOT(ISBLANK([Opportunity].Partner_Company_Owner__c)),
NOT(ISBLANK([Opportunity].Partner_Company_Owner__c.Email )),
NOT(ISPICKVAL( PRIORVALUE([Opportunity].StageName) , &apos;Closed Lost&apos;) ),
ISPICKVAL([Opportunity].StageName , &apos;Closed Lost&apos;),
CONTAINS([Opportunity].Owner_Role__c ,&quot;US Channel Direct&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression> AND(NOT(ISBLANK({!myVariable_current.Partner_Company_Owner__c})),
NOT(ISBLANK({!myVariable_current.Partner_Company_Owner__r.Email} )),
NOT(ISPICKVAL( PRIORVALUE({!myVariable_current.StageName}) , &apos;Closed Lost&apos;) ),
ISPICKVAL({!myVariable_current.StageName} , &apos;Closed Lost&apos;),
CONTAINS({!myVariable_current.Owner_Role__c} ,&quot;US Channel Direct&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND(NOT(ISBLANK([Opportunity].Partner_Company_Owner__c)),
NOT(ISBLANK([Opportunity].Partner_Company_Owner__c.Email )),
NOT(ISPICKVAL( PRIORVALUE([Opportunity].StageName) , &apos;Closed Lost&apos;) ),
ISPICKVAL([Opportunity].StageName , &apos;Closed Lost&apos;),
CONTAINS([Opportunity].Owner_Role__c ,&quot;US Channel Direct&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression> AND(NOT(ISBLANK({!myVariable_old.Partner_Company_Owner__c})),
NOT(ISBLANK({!myVariable_old.Partner_Company_Owner__r.Email} )),
NOT(ISPICKVAL( PRIORVALUE({!myVariable_old.StageName}) , &apos;Closed Lost&apos;) ),
ISPICKVAL({!myVariable_old.StageName} , &apos;Closed Lost&apos;),
CONTAINS({!myVariable_old.Owner_Role__c} ,&quot;US Channel Direct&quot;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND(NOT(ISBLANK([Opportunity].Partner_Company_Owner__c)),
NOT(ISBLANK([Opportunity].Partner_Company_Owner__c.Email )),
NOT(ISPICKVAL( PRIORVALUE([Opportunity].StageName) , &apos;Closed Lost&apos;) ),
ISPICKVAL([Opportunity].StageName , &apos;Closed Lost&apos;)
 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression> AND(NOT(ISBLANK({!myVariable_current.Partner_Company_Owner__c})),
NOT(ISBLANK({!myVariable_current.Partner_Company_Owner__r.Email} )),
NOT(ISPICKVAL( PRIORVALUE({!myVariable_current.StageName}) , &apos;Closed Lost&apos;) ),
ISPICKVAL({!myVariable_current.StageName} , &apos;Closed Lost&apos;)
 )</expression>
    </formulas>
    <interviewLabel>Opp_Close_Lost_Email_Notification_to_PAM-2_InterviewLabel</interviewLabel>
    <label>Opp Close/Lost Email Notification to PAM v2</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
