force-app/main/default/flows/Opportunity_Team_Legal_Approval_Alert_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Account_Exec_User_ID</name>
        <label>Assign Account Exec User ID</label>
        <locationX>1176</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>varAcctExecId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOppTeamMembers.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Executive_2</name>
        <label>Assign Account Executive (2)</label>
        <locationX>1242</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>varAcctExec2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOppTeamMembers.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AWSSPD</name>
        <label>Assign AWSSPD</label>
        <locationX>1646</locationX>
        <locationY>946</locationY>
        <assignmentItems>
            <assignToReference>varAWSPDId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOppTeamMembers.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AWSSPD_2</name>
        <label>Assign AWSSPD 2</label>
        <locationX>1776</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>varAWSPDId2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOppTeamMembers.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SPD_2</name>
        <label>Assign SPD 2</label>
        <locationX>1520</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>varSPDId2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOppTeamMembers.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Strategic_Pursuit_Director_User_ID</name>
        <label>Assign Strategic Pursuit Director User ID</label>
        <locationX>1434</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>varSPDUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOppTeamMembers.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOppTeamMembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opp_Owner_on_Legal_Approval</name>
        <label>Opp Owner on Legal Approval?</label>
        <locationX>912</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Update_AE_on_Legal_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varOppRecord.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Owner_on_Legal_Approval</targetReference>
            </connector>
            <label>Opp Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Team_is_Null</name>
        <label>Opp Team is Null?</label>
        <locationX>676</locationX>
        <locationY>746</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Team_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityTeamMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOppTeamMembers</targetReference>
            </connector>
            <label>Opp Team is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_is_Null</name>
        <label>Opportunity is Null?</label>
        <locationX>856</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunityTeam</targetReference>
            </connector>
            <label>Opportunity is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Role</name>
        <label>Team Member Role?</label>
        <locationX>1167</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>LoopOppTeamMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Executive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOppTeamMembers.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Executive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAcctExecId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Exec_User_ID</targetReference>
            </connector>
            <label>Account Executive</label>
        </rules>
        <rules>
            <name>Strategic_Pursuit_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOppTeamMembers.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategic Pursuit Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSPDUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Strategic_Pursuit_Director_User_ID</targetReference>
            </connector>
            <label>Strategic Pursuit Director</label>
        </rules>
        <rules>
            <name>Account_Executive_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOppTeamMembers.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Executive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOppTeamMembers.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAcctExecId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Executive_2</targetReference>
            </connector>
            <label>Account Executive (2)</label>
        </rules>
        <rules>
            <name>Strategic_Pursuit_Director_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOppTeamMembers.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategic Pursuit Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOppTeamMembers.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSPDUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SPD_2</targetReference>
            </connector>
            <label>Strategic Pursuit Director (2)</label>
        </rules>
        <rules>
            <name>AWS_Strategic_Pursuit_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOppTeamMembers.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWS Strategic Pursuit Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAWSPDId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AWSSPD</targetReference>
            </connector>
            <label>AWS Strategic Pursuit Director</label>
        </rules>
        <rules>
            <name>AWSSPD2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOppTeamMembers.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWS Strategic Pursuit Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOppTeamMembers.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAWSPDId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AWSSPD_2</targetReference>
            </connector>
            <label>AWSSPD2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_AE_on_Legal_Approval</name>
        <label>Update AE on Legal Approval?</label>
        <locationX>384</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Update_SPD_on_Legal_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Executive_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Executive__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Executive__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAcctExecId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Executive_on_Legal_Approval_0</targetReference>
            </connector>
            <label>Is Account Executive</label>
        </rules>
        <rules>
            <name>Is_Account_Executive_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Executive_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Executive_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAcctExec2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Executive_2</targetReference>
            </connector>
            <label>Is Account Executive (2)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_AWSSPD_on_Legal_Approval</name>
        <label>Update AWSSPD on Legal Approval?</label>
        <locationX>383</locationX>
        <locationY>2110</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_AWS_Strategic_Pursuit_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AWS_Strategic_Pursuit_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AWS_Strategic_Pursuit_Director__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAWSPDId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AWS_Strategic_Pursuit_Director_on_Legal_Approval</targetReference>
            </connector>
            <label>Is AWS Strategic Pursuit Director</label>
        </rules>
        <rules>
            <name>Is_AWS_Strategic_Pursuit_Director_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AWS_Strategic_Pursuit_Director_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AWS_Strategic_Pursuit_Director_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAWSPDId2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AWS_Strategic_Pursuit_Director_2_on_Legal_Approval</targetReference>
            </connector>
            <label>Is AWS Strategic Pursuit Director 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SPD_on_Legal_Approval</name>
        <label>Update SPD on Legal Approval?</label>
        <locationX>370</locationX>
        <locationY>1817</locationY>
        <defaultConnector>
            <targetReference>Update_AWSSPD_on_Legal_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Strategic_Pursuit_Director_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Strategic_Pursuit_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Pursuit_Director__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSPDUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Strategic_Pursuit_Director_on_Legal_Approval_0</targetReference>
            </connector>
            <label>Is Strategic Pursuit Director</label>
        </rules>
        <rules>
            <name>Is_Strategic_Pursuit_Director_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Strategic_Pursuit_Director_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Strategic_Pursuit_Director_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSPDId2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Strategic_Pursuit_Director_2</targetReference>
            </connector>
            <label>Is Strategic Pursuit Director (2)</label>
        </rules>
    </decisions>
    <description>multiple roles</description>
    <interviewLabel>Opportunity Team-Legal Approval Alert Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Team-Legal Approval Alert Process</label>
    <loops>
        <name>LoopOppTeamMembers</name>
        <label>LoopOppTeamMembers</label>
        <locationX>910</locationX>
        <locationY>748</locationY>
        <collectionReference>varOpportunityTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Team_Member_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opp_Owner_on_Legal_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>855</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOppRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Onica_Primary_Approval__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityTeam</name>
        <label>getOpportunityTeam</label>
        <locationX>684</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Team_is_Null</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Executive</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Strategic Pursuit Director</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AWS Strategic Pursuit Director</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>varOpportunityTeamMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Executive_2</name>
        <label>Update Account Executive (2)</label>
        <locationX>55</locationX>
        <locationY>1699</locationY>
        <connector>
            <targetReference>Update_SPD_on_Legal_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Executive_2__c</field>
            <value>
                <elementReference>varAcctExec2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Executive_on_Legal_Approval_0</name>
        <label>Update Account Executive on Legal Approval</label>
        <locationX>654</locationX>
        <locationY>1673</locationY>
        <connector>
            <targetReference>Update_SPD_on_Legal_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Executive__c</field>
            <value>
                <elementReference>varAcctExecId</elementReference>
            </value>
        </inputAssignments>
        <object>Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AWS_Strategic_Pursuit_Director_2_on_Legal_Approval</name>
        <label>Update AWS Strategic Pursuit Director 2 on Legal Approval</label>
        <locationX>159</locationX>
        <locationY>2363</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AWS_Strategic_Pursuit_Director_2__c</field>
            <value>
                <elementReference>varAWSPDId2</elementReference>
            </value>
        </inputAssignments>
        <object>Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AWS_Strategic_Pursuit_Director_on_Legal_Approval</name>
        <label>Update AWS Strategic Pursuit Director on Legal Approval</label>
        <locationX>656</locationX>
        <locationY>2348</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AWS_Strategic_Pursuit_Director__c</field>
            <value>
                <elementReference>varAWSPDId</elementReference>
            </value>
        </inputAssignments>
        <object>Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Owner_on_Legal_Approval</name>
        <label>Update Opp Owner on Legal Approval</label>
        <locationX>279</locationX>
        <locationY>1329</locationY>
        <connector>
            <targetReference>Update_AE_on_Legal_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Owner__c</field>
            <value>
                <elementReference>varOppRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Strategic_Pursuit_Director_2</name>
        <label>Update Strategic Pursuit Director (2)</label>
        <locationX>683</locationX>
        <locationY>1971</locationY>
        <connector>
            <targetReference>Update_AWSSPD_on_Legal_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Strategic_Pursuit_Director_2__c</field>
            <value>
                <elementReference>varSPDId2</elementReference>
            </value>
        </inputAssignments>
        <object>Approval__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Strategic_Pursuit_Director_on_Legal_Approval_0</name>
        <label>Update Strategic Pursuit Director on Legal Approval</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Update_AWSSPD_on_Legal_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Strategic_Pursuit_Director__c</field>
            <value>
                <elementReference>varSPDUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Approval__c</object>
    </recordUpdates>
    <start>
        <locationX>729</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Approval__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAcctExec2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAcctExecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAWSPDId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAWSPDId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>contains opp owner, account executive, and strategic pursuit director records if exists</description>
        <name>varOpportunityTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varOppOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varSPDId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSPDUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
