force-app/main/default/flows/Ops_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_Completed</name>
        <label>Approval Completed</label>
        <locationX>1540</locationX>
        <locationY>1441</locationY>
        <actionName>Approval__c.Approval_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_To_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Approval_Completed_No_Legal_Required_Email</name>
        <label>Approval Completed (No Legal Required) Email</label>
        <locationX>1611</locationX>
        <locationY>1581</locationY>
        <actionName>Approval__c.Approval_Completed_No_Legal_Required</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_To_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Legal_review_required</name>
        <label>Legal review required</label>
        <locationX>1204</locationX>
        <locationY>1825</locationY>
        <actionName>Approval__c.Legal_review_required</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_To_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Pending_Client_Signature_Email_Alert</name>
        <label>Pending Client Signature Email Alert</label>
        <locationX>653</locationX>
        <locationY>1454</locationY>
        <actionName>Approval__c.Pending_Client_Signature</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_To_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Pending_Client_Signature_No_Legal_Required_Email</name>
        <label>Pending Client Signature (No Legal Required) Email</label>
        <locationX>603</locationX>
        <locationY>1696</locationY>
        <actionName>Approval__c.Pending_Client_Signature_No_Legal_Required</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_To_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Pending_Legal_Review_Email</name>
        <label>Pending Legal Review</label>
        <locationX>1419</locationX>
        <locationY>1678</locationY>
        <actionName>Approval__c.Contract_Legal_Review_Required</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_To_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Pending_Onica_Signature_Email</name>
        <label>Pending Rackspace Signature</label>
        <locationX>897</locationX>
        <locationY>1750</locationY>
        <actionName>Approval__c.Pending_Onica_Signature</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_To_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect_To_Opp</name>
        <label>Redirect To Opp</label>
        <locationX>1475</locationX>
        <locationY>314</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>RedirectToOpp</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Content_Document_Id</name>
        <label>Set Content Document Id</label>
        <locationX>1160</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Id_Size_and_Approval_Item_Information</name>
        <label>Set Document Id Size and Approval Item Information</label>
        <locationX>815</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>cidSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ops Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pFwf</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Current_Document_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Id_Size_and_Approval_Item_Information_Legal_Review</name>
        <label>Set Document Id Size and Approval Item Information Legal Review</label>
        <locationX>538</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>cidSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approved_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalOpsApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Current_Document_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Current_Document_Info</name>
        <label>Update Current Document Info</label>
        <locationX>1468</locationX>
        <locationY>1001</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Item</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingClientSignature</name>
        <choiceText>Pending Client Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Client Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingLegalReview</name>
        <choiceText>Pending Legal Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Legal Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>PendingOnicaSignature</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Pending Rackspace Signature&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Rackspace Signature</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Allowed_to_Approve</name>
        <label>Allowed to Approve?</label>
        <locationX>801</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Not_Allowed_to_Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Allowed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SignatureApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdminApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Approval_State</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Approval_State</name>
        <label>In Approval State</label>
        <locationX>801</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>Not_in_Ready_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Rackspace Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Rackspace Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_new_document</name>
        <label>Is there a new document?</label>
        <locationX>762</locationX>
        <locationY>1000</locationY>
        <defaultConnector>
            <targetReference>Update_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No new document</defaultConnectorLabel>
        <rules>
            <name>Yes_new_document_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cidSize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CIDs</targetReference>
            </connector>
            <label>Yes, new document uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Status</name>
        <label>New Status</label>
        <locationX>879</locationX>
        <locationY>1448</locationY>
        <defaultConnector>
            <targetReference>Approval_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Completed</defaultConnectorLabel>
        <rules>
            <name>Pending_Legal_Review_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Legal Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Pending_Legal_Review_Email</targetReference>
            </connector>
            <label>Pending Legal Review</label>
        </rules>
        <rules>
            <name>Pending_Client_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Client_Signature_Email_Alert</targetReference>
            </connector>
            <label>Pending Client Signature</label>
        </rules>
        <rules>
            <name>Pending_Client_Signature_No_Legal_Required</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Client_Signature_No_Legal_Required_Email</targetReference>
            </connector>
            <label>Pending Client Signature (No Legal Required)</label>
        </rules>
        <rules>
            <name>Pending_Onica_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Rackspace Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Onica_Signature_Email</targetReference>
            </connector>
            <label>Pending Rackspace Signature</label>
        </rules>
        <rules>
            <name>Pending_Legal_Review_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Legal Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Legal_review_required</targetReference>
            </connector>
            <label>Pending Legal Review Required</label>
        </rules>
        <rules>
            <name>Completed_No_Legal_Required</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Completed_No_Legal_Required_Email</targetReference>
            </connector>
            <label>Completed (No Legal Required)</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_status</name>
        <label>What is the status?</label>
        <locationX>652</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Set_Document_Id_Size_and_Approval_Item_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Pending_Legal_Review</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Update_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PendingLegalReview</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Document_Id_Size_and_Approval_Item_Information_Legal_Review</targetReference>
            </connector>
            <label>Pending Legal Review</label>
        </rules>
        <rules>
            <name>No_Legal_Required</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Update_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PendingLegalReview</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Legal_Review_Required</targetReference>
            </connector>
            <label>No Legal Required</label>
        </rules>
    </decisions>
    <description>- Split email alerts for Pending Client Signature and Completed for No Legal Required Sub practices</description>
    <formulas>
        <name>AdminApprover</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Admin_Approver}</expression>
    </formulas>
    <formulas>
        <name>finalOpsApprover</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Record_Ids__c.Final_Ops_Approver_Id__c}</expression>
    </formulas>
    <formulas>
        <name>RedirectToOpp</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!sovOpp.Id}</expression>
    </formulas>
    <formulas>
        <name>SignatureApprover</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Signature_Approver}</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Ops Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ops Review</label>
    <loops>
        <name>Loop_CIDs</name>
        <label>Loop CIDs</label>
        <locationX>1167</locationX>
        <locationY>1008</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Content_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Current_Document_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Item</name>
        <label>Create Approval Item</label>
        <locationX>814</locationX>
        <locationY>766</locationY>
        <connector>
            <targetReference>Is_there_a_new_document</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>1147</locationX>
        <locationY>1177</locationY>
        <assignRecordIdToReference>contentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApprovalItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordLookups>
        <name>getApprovalRecord</name>
        <label>getApprovalRecord</label>
        <locationX>578</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allowed_to_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.Onica_Primary_Approval__c</elementReference>
            </value>
        </filters>
        <object>Approval__c</object>
        <outputReference>sovApproval</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetApprovalRecordforReview</name>
        <label>GetApprovalRecord</label>
        <locationX>886</locationX>
        <locationY>1300</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.Onica_Primary_Approval__c</elementReference>
            </value>
        </filters>
        <object>Approval__c</object>
        <outputReference>sovApproval</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>391</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getApprovalRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sovOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onica_Primary_Approval__c</queriedFields>
        <queriedFields>Onica_BU_Practice__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval</name>
        <label>Update Approval</label>
        <locationX>896</locationX>
        <locationY>1161</locationY>
        <connector>
            <targetReference>GetApprovalRecordforReview</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Item</name>
        <label>Update Approval Item</label>
        <locationX>1444</locationX>
        <locationY>1195</locationY>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordUpdates>
    <screens>
        <description>for sub practices that do not require finance or legal</description>
        <name>No_Legal_Review_Required</name>
        <label>No Legal Review Required</label>
        <locationX>354</locationX>
        <locationY>397</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Pending Legal Review&lt;/b&gt; is not a valid option for the current Sub-practice: &lt;b&gt;{!sovOpp.Onica_BU_Practice__c}&lt;/b&gt;.&lt;b&gt; &lt;/b&gt;Please return to the previous select status screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Allowed_to_Approve</name>
        <label>Not Allowed to Approve</label>
        <locationX>1099</locationX>
        <locationY>53</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_To_Opp</targetReference>
        </connector>
        <fields>
            <name>NotAllowedToApprove</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You are not allowed to Approve this record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_in_Ready_State</name>
        <label>Not in Ready State</label>
        <locationX>1101</locationX>
        <locationY>263</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_To_Opp</targetReference>
        </connector>
        <fields>
            <name>NotInReadyState</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Approval is not ready for Signature or Completion.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status</name>
        <label>Status</label>
        <locationX>802</locationX>
        <locationY>437</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_is_the_status</targetReference>
        </connector>
        <fields>
            <name>Update_Status</name>
            <choiceReferences>PendingLegalReview</choiceReferences>
            <choiceReferences>PendingClientSignature</choiceReferences>
            <choiceReferences>PendingOnicaSignature</choiceReferences>
            <choiceReferences>Completed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UploadNewDocument</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApproval.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Comments}) || LEN({!Comments}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cidSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sovApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval__c</objectType>
    </variables>
    <variables>
        <name>sovApprovalItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>sovOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
