force-app/main/default/flows/Pipeline_Cleanup_and_Auto_Close.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Close_Date_50_days_in_the_past_AMER</name>
        <label>Close Date 50 days in the past (AMER)</label>
        <locationX>263</locationX>
        <locationY>492</locationY>
        <actionName>Opportunity.Close_Date_50_days_in_the_past_AMER</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Close_Date_50_days_in_the_past_APAC</name>
        <label>Close Date 50 days in the past (APAC)</label>
        <locationX>159</locationX>
        <locationY>435</locationY>
        <actionName>Opportunity.Close_Date_50_days_in_the_past_APAC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Close_Date_50_days_in_the_past_DACH</name>
        <label>Close Date 50 days in the past (DACH)</label>
        <locationX>467</locationX>
        <locationY>608</locationY>
        <actionName>Opportunity.Close_Date_50_days_in_the_past_DACH</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Close_Date_50_days_in_the_past_EMEA</name>
        <label>Close Date 50 days in the past (EMEA)</label>
        <locationX>363</locationX>
        <locationY>552</locationY>
        <actionName>Opportunity.Close_Date_50_days_in_the_past_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Close_Date_50_days_in_the_past_Global</name>
        <label>Close Date 50 days in the past (Global)</label>
        <locationX>50</locationX>
        <locationY>351</locationY>
        <actionName>Opportunity.Close_Date_50_days_in_the_past_Global</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Close_Date_50_days_in_the_past_MEA</name>
        <label>Close Date 50 days in the past (MEA)</label>
        <locationX>566</locationX>
        <locationY>665</locationY>
        <actionName>Opportunity.Close_Date_50_days_in_the_past_MEA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Close_Date_50_days_in_the_past_NE</name>
        <label>Close Date 50 days in the past (NE)</label>
        <locationX>663</locationX>
        <locationY>712</locationY>
        <actionName>Opportunity.Close_Date_50_days_in_the_past_NE</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>X50_or_60_Close_Date_criteria_met</name>
        <label>50 or 60 Close Date criteria met</label>
        <locationX>1038</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysinCloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Date_50_days_in_the_past_APAC</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
        <rules>
            <name>AMER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysinCloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Date_50_days_in_the_past_AMER</targetReference>
            </connector>
            <label>AMER</label>
        </rules>
        <rules>
            <name>EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysinCloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Date_50_days_in_the_past_EMEA</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
        <rules>
            <name>DACH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysinCloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Sub_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DACH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Date_50_days_in_the_past_DACH</targetReference>
            </connector>
            <label>DACH</label>
        </rules>
        <rules>
            <name>MEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysinCloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Sub_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Date_50_days_in_the_past_MEA</targetReference>
            </connector>
            <label>MEA</label>
        </rules>
        <rules>
            <name>NE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysinCloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Sub_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Northern_Europe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Date_50_days_in_the_past_NE</targetReference>
            </connector>
            <label>NE</label>
        </rules>
        <rules>
            <name>Owner_Region_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysinCloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Date_50_days_in_the_past_Global</targetReference>
            </connector>
            <label>Owner Region NULL</label>
        </rules>
        <rules>
            <name>Auto_Close_Opps_after_60_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysinCloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVP_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Closed_after_60_days</targetReference>
            </connector>
            <label>Auto Close Opps  after 60 days</label>
        </rules>
    </decisions>
    <description>Sub Region &apos;Northern Europe is updated to &apos;Northern_Europe&apos;</description>
    <formulas>
        <name>DaysinCloseDate</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!$Record.CloseDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>setCloseDateToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Pipeline Cleanup and Auto Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pipeline Cleanup and Auto Close</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Opp_Closed_after_60_days</name>
        <label>Opp. Closed after 60 days</label>
        <locationX>1184</locationX>
        <locationY>668</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>setCloseDateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>921</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>X50_or_60_Close_Date_criteria_met</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2020-11-28</dateValue>
            </value>
        </filters>
        <filters>
            <field>CVP_Verified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Focus_Area__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-06-07</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
