force-app/main/default/flows/Resubmit_for_Approval_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contract_Legal_Approval_Required</name>
        <label>Contract Legal Approval Required</label>
        <locationX>3573</locationX>
        <locationY>506</locationY>
        <actionName>Approval__c.Contract_Legal_Approval_Required</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Legal_Resubmitted</name>
        <label>Contract Legal Resubmitted</label>
        <locationX>2379</locationX>
        <locationY>1325</locationY>
        <actionName>Approval__c.Contract_Legal_Resubmitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Contract_Ops_Approval_Required</name>
        <label>Contract Ops Approval Required</label>
        <locationX>989</locationX>
        <locationY>1558</locationY>
        <actionName>Approval__c.Contract_Ops_Approval_Required</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Contract</name>
        <label>Redirect to Contract</label>
        <locationX>2639</locationX>
        <locationY>653</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>RedirectToContract</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Approval_Item_Size_Legal_review</name>
        <label>Approval Item Size Legal review</label>
        <locationX>1080</locationX>
        <locationY>751</locationY>
        <assignmentItems>
            <assignToReference>negotiateSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>socvApprovalItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Item_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Item_Size_Negotiate</name>
        <label>Approval Item Size Negotiate</label>
        <locationX>1902</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>negotiateSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>socvApprovalItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Legal_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Negotiate_Approval_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval</name>
        <label>Assign Approval</label>
        <locationX>2134</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Legal_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Document_Upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval_Item</name>
        <label>Assign Approval Item</label>
        <locationX>2181</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalItemLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Get_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval_Item_Legal_Review</name>
        <label>Assign Approval Item Legal Review</label>
        <locationX>282</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalItemLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Get_Approval_Legal_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval_Legal_Review</name>
        <label>Assign Approval Legal Review</label>
        <locationX>665</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalOpsApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Legal Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Approval_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc</name>
        <label>Assign Doc</label>
        <locationX>2254</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Legal_review</name>
        <label>Assign Doc Legal review</label>
        <locationX>226</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Document_Id_Legal_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Id</name>
        <label>Assign Document Id</label>
        <locationX>1620</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Content_Document_Link_to_Approval_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Info</name>
        <label>Assign Info</label>
        <locationX>2681</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Legal_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation - Legal Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractLegal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Info_Legal_Review_Ready_for_Client</name>
        <label>Assign Info Legal Review Ready for Client</label>
        <locationX>1011</locationX>
        <locationY>1294</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Client Signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Legal_Review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ops Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Client Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Info_Legal_Review_Ready_for_Onica</name>
        <label>Assign Info Legal Review Ready for Onica</label>
        <locationX>1022</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Onica Signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Legal_Review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ops Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Onica Signature</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Client_Document_size</name>
        <label>Client Document size</label>
        <locationX>2251</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>DocumentSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_There_a_file</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Legal_approval_required</name>
        <label>Legal approval required</label>
        <locationX>3029</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Negotiate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_Variable_1</name>
        <label>Loop Variable 1</label>
        <locationX>1626</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApprovalItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Approval_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_Variable_2</name>
        <label>Loop Variable 2</label>
        <locationX>2178</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Documents</name>
        <label>Number of Documents</label>
        <locationX>2238</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>DocumentSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_SOCV_Size</name>
        <label>Set Approval SOCV Size</label>
        <locationX>1620</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>ApprovalItemsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>socvApprovalItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_Item_Size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Admin_status_on_Legal_approval</name>
        <label>Update Admin status on Legal approval</label>
        <locationX>3038</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval_Negotiate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Approval_status</name>
        <label>Update Approval status</label>
        <locationX>1739</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Legal_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Pending_review_by_legal</name>
        <label>Update Pending review by legal</label>
        <locationX>810</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_File_Pending_Legal</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClientApprovalRequired</name>
        <choiceText>Client Approval Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Approval Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReadyforClientSignature</name>
        <choiceText>Ready for Client Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for Client Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReadyforOnicaSignature</name>
        <choiceText>Ready for Onica Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for Onica Signature</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_Item_Size</name>
        <label>Approval Item Size</label>
        <locationX>1783</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Approval_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalItemsSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Approvals_Ready_for_Resubmission</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
        <rules>
            <name>Two_or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalItemsSize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Legal / Sales Action Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Too_Many_Records_Found</targetReference>
            </connector>
            <label>Two or More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Status</name>
        <label>Approval Status</label>
        <locationX>1449</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>getApprovalItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needing Approval</defaultConnectorLabel>
        <rules>
            <name>Negotiate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Sales Action Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approval Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovalItemRecords</targetReference>
            </connector>
            <label>Negotiate</label>
        </rules>
        <rules>
            <name>Signatures</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Onica Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signatures_Screen</targetReference>
            </connector>
            <label>Signatures</label>
        </rules>
        <rules>
            <name>Pending_Legal_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Legal Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovalItemsLeagalReview</targetReference>
            </connector>
            <label>Pending Legal Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Item_Records</name>
        <label>Are there Item Records?</label>
        <locationX>896</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Assign_Approval_Legal_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_item_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socvApprovalItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Item_Size_Legal_review</targetReference>
            </connector>
            <label>Yes, there are item records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_negotiate_records</name>
        <label>Are there negotiate records?</label>
        <locationX>1919</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There are no negotiate records</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_negotiate_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socvApprovalItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Item_Size_Negotiate</targetReference>
            </connector>
            <label>Yes, there are negotiate records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_or_Onica</name>
        <label>Client or Onica</label>
        <locationX>765</locationX>
        <locationY>1205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Onica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Onica Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Info_Legal_Review_Ready_for_Onica</targetReference>
            </connector>
            <label>Ready for Onica</label>
        </rules>
        <rules>
            <name>Ready_for_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Info_Legal_Review_Ready_for_Client</targetReference>
            </connector>
            <label>Ready for Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Size</name>
        <label>Document Size</label>
        <locationX>2235</locationX>
        <locationY>1030</locationY>
        <defaultConnector>
            <targetReference>NoDocument</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YesDoc</targetReference>
            </connector>
            <label>One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ContentDocumentId_Legal_Review_Null</name>
        <label>Is ContentDocumentId Legal Review Null?</label>
        <locationX>1188</locationX>
        <locationY>1147</locationY>
        <defaultConnector>
            <targetReference>Create_Content_Document_Link_Negotiate_Legal_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, is not null</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_null_Legal_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Legal_review</targetReference>
            </connector>
            <label>Yes, it is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ContentDocumentId_Null</name>
        <label>Is ContentDocumentId Null</label>
        <locationX>2829</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>Create_Content_Document_Link_Negotiate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it&apos;s not null</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_approval_required</targetReference>
            </connector>
            <label>Yes, it is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_file</name>
        <label>Is There a file?</label>
        <locationX>2424</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>NoFile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YesFile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_File_Pending_Legal</name>
        <label>Is there a File? Pending Legal</label>
        <locationX>627</locationX>
        <locationY>973</locationY>
        <defaultConnector>
            <targetReference>NoUploaded_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0</defaultConnectorLabel>
        <rules>
            <name>YesFileUploadedPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Review_File_Uploaded</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Approval_items</name>
        <label>Number of Approval items</label>
        <locationX>515</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Get_Approval_Legal_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1</defaultConnectorLabel>
        <rules>
            <name>X1_or_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>negotiateSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currently_In_Review_Legal_Review</targetReference>
            </connector>
            <label>1 or more</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Negotiate_Approval_Items</name>
        <label>Number of Negotiate Approval Items</label>
        <locationX>1966</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Get_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>negotiateSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Approval Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currently_In_Review</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
    </decisions>
    <description>-comments mapped and required.</description>
    <formulas>
        <name>contentDocumentIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!contentDocumentId}), {!sovApproval.Current_Document_Id__c},{!contentDocumentId})</expression>
    </formulas>
    <formulas>
        <name>finalOpsApprover</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Record_Ids__c.Final_Ops_Approver_Id__c}</expression>
    </formulas>
    <formulas>
        <name>RedirectToContract</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!recordId}</expression>
    </formulas>
    <interviewLabel>Resubmit for Approval - Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resubmit for Approval - Contracts</label>
    <loops>
        <name>Get_Content_Document_Id</name>
        <label>Get Content Document Id</label>
        <locationX>1875</locationX>
        <locationY>1115</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Variable_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Document_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Document_Id</name>
        <label>Get Document Id</label>
        <locationX>2547</locationX>
        <locationY>559</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Doc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Document_Id_Legal_Review</name>
        <label>Get Document Id Legal Review</label>
        <locationX>584</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Doc_Legal_review</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Client_or_Onica</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Approval_Items</name>
        <label>Loop Through Approval Items</label>
        <locationX>1833</locationX>
        <locationY>776</locationY>
        <assignNextValueToReference>sovApprovalItem</assignNextValueToReference>
        <collectionReference>socvApprovalItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Variable_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upload_New_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Get_Approval</name>
        <label>Loop to Get Approval</label>
        <locationX>2041</locationX>
        <locationY>234</locationY>
        <assignNextValueToReference>approvalItemLoopVariable</assignNextValueToReference>
        <collectionReference>socvApprovalItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approval_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Document_Upload</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Get_Approval_Legal_Review</name>
        <label>Loop to Get Approval Legal Review</label>
        <locationX>470</locationX>
        <locationY>722</locationY>
        <assignNextValueToReference>approvalItemLoopVariable</assignNextValueToReference>
        <collectionReference>socvApprovalItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approval_Item_Legal_Review</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Document_Upload_Legal_Review</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Item</name>
        <label>Create Approval Item</label>
        <locationX>1345</locationX>
        <locationY>1432</locationY>
        <connector>
            <targetReference>Contract_Ops_Approval_Required</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Approval_Item_after_rejected</name>
        <label>Create Approval Item after rejected</label>
        <locationX>2074</locationX>
        <locationY>1351</locationY>
        <connector>
            <targetReference>Contract_Legal_Resubmitted</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Approval_Item_Client_Approval</name>
        <label>Create Approval Item</label>
        <locationX>3352</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Contract_Legal_Approval_Required</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Approval_Item_Record</name>
        <label>Create Approval Item Record</label>
        <locationX>978</locationX>
        <locationY>962</locationY>
        <connector>
            <targetReference>New_Document_Upload_Legal_Review</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_Negotiate</name>
        <label>Create Content Document Link Negotiate</label>
        <locationX>2820</locationX>
        <locationY>291</locationY>
        <assignRecordIdToReference>ContentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Admin_status_on_Legal_approval</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_Negotiate_Legal_Review</name>
        <label>Create Content Document Link Negotiate Legal Review</label>
        <locationX>1328</locationX>
        <locationY>894</locationY>
        <assignRecordIdToReference>ContentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Approval_Legal_review</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_to_Approval_Record</name>
        <label>Create Content Document Link to Approval Record</label>
        <locationX>1553</locationX>
        <locationY>1230</locationY>
        <assignRecordIdToReference>ContentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Approval_status</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Approval_Record</name>
        <label>Get Approval Record</label>
        <locationX>1458</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contract.Primary_Approval__c</elementReference>
            </value>
        </filters>
        <object>Approval__c</object>
        <outputReference>sovApproval</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Legal_Approver__c</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprovalItemRecords</name>
        <label>getApprovalItemRecords</label>
        <locationX>1731</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_negotiate_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Client Approval Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready for Client Signature</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Approval_Item__c</object>
        <outputReference>socvApprovalItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
        <queriedFields>Approval_Step__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprovalItems</name>
        <label>getApprovalItems</label>
        <locationX>1296</locationX>
        <locationY>613</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Approval_SOCV_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected by Legal / Sales Action Required</stringValue>
            </value>
        </filters>
        <object>Approval_Item__c</object>
        <outputReference>socvApprovalItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Approval_Step__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprovalItemsLeagalReview</name>
        <label>getApprovalItemsLeagalReview</label>
        <locationX>971</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Item_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Legal Review</stringValue>
            </value>
        </filters>
        <object>Approval_Item__c</object>
        <outputReference>sovApprovalItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>1449</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>contract</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Approval__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Pending_review_to_Approved</name>
        <label>Pending review to Approved</label>
        <locationX>463</locationX>
        <locationY>1125</locationY>
        <connector>
            <targetReference>Get_Document_Id_Legal_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Legal Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval</name>
        <label>Update Approval</label>
        <locationX>1884</locationX>
        <locationY>1313</locationY>
        <connector>
            <targetReference>Create_Approval_Item_after_rejected</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Legal_review</name>
        <label>Update Approval Legal review</label>
        <locationX>1463</locationX>
        <locationY>1186</locationY>
        <connector>
            <targetReference>Create_Approval_Item</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Negotiate</name>
        <label>Update Approval Negotiate</label>
        <locationX>3171</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>Create_Approval_Item_Client_Approval</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Approval item Approved</description>
        <name>Update_Client_approval_required</name>
        <label>Update Client approval required</label>
        <locationX>2554</locationX>
        <locationY>403</locationY>
        <connector>
            <targetReference>Get_Document_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContractLegal</name>
        <label>UpdateContractLegal</label>
        <locationX>2760</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Is_ContentDocumentId_Null</targetReference>
        </connector>
        <inputReference>contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContractStatus</name>
        <label>UpdateContractStatus</label>
        <locationX>1133</locationX>
        <locationY>1245</locationY>
        <connector>
            <targetReference>Is_ContentDocumentId_Legal_Review_Null</targetReference>
        </connector>
        <inputReference>contract</inputReference>
    </recordUpdates>
    <screens>
        <name>Currently_In_Review</name>
        <label>Currently In Review</label>
        <locationX>2556</locationX>
        <locationY>45</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <fields>
            <name>CurrentlyInReview</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Approval is currently in Review and cannot be changed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Currently_In_Review_Legal_Review</name>
        <label>Currently In Review Legal Review</label>
        <locationX>235</locationX>
        <locationY>544</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <fields>
            <name>CurrentlyLegalInReview</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Approval is currently in Review and cannot be changed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Document_Upload</name>
        <label>New Document Upload</label>
        <locationX>2256</locationX>
        <locationY>213</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Client_Document_size</targetReference>
        </connector>
        <fields>
            <name>Upload_New_Document</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApprovalItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.docx,.doc,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Comments}) || LEN({!Comments}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Document_Upload_Legal_Review</name>
        <label>New Document Upload Legal Review</label>
        <locationX>748</locationX>
        <locationY>847</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Pending_review_by_legal</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>ReadyforClientSignature</choiceReferences>
            <choiceReferences>ReadyforOnicaSignature</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_Legal_Review</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Comments_Legal_Review}) || LEN({!Comments}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Upload_New_Document_Legal_Review</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApprovalItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.docx,.doc,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Approvals_Ready_for_Resubmission</name>
        <label>No Approvals Ready for Resubmission</label>
        <locationX>2211</locationX>
        <locationY>707</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <fields>
            <name>NotReadyForResubmission</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You cannot re-submit this Approval at this time.  Please check with the Approvers to ensure that it is ok to re-submit for Approval.  If you still receive this error, please contact your system administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoDocument</name>
        <label>NoDocument</label>
        <locationX>2030</locationX>
        <locationY>925</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_New_File</targetReference>
        </connector>
        <fields>
            <name>NoDoc</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;The Document needs to be uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoFile</name>
        <label>No</label>
        <locationX>2656</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Client_approval_required</targetReference>
        </connector>
        <fields>
            <name>No</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No Document has been uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoUploaded_File</name>
        <label>NoUploaded File</label>
        <locationX>685</locationX>
        <locationY>1074</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pending_review_to_Approved</targetReference>
        </connector>
        <fields>
            <name>NoUploadedFilePending</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No Document has been uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pending_Review_File_Uploaded</name>
        <label>Pending Review File Uploaded</label>
        <locationX>479</locationX>
        <locationY>992</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pending_review_to_Approved</targetReference>
        </connector>
        <fields>
            <name>YesUploadedPending</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Document has been uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Signatures_Screen</name>
        <label>Signatures</label>
        <locationX>1226</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <fields>
            <name>SignatureProcess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Approval cannot be resubmitted as it is in the Signature Process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Too_Many_Records_Found</name>
        <label>Too Many Records Found</label>
        <locationX>2113</locationX>
        <locationY>540</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Contract</targetReference>
        </connector>
        <fields>
            <name>TooManyRecordsFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Too many Approval Items were found.  Please advise the system admin that there were multiple Approval Items in the Rejected Status for the Approval {!sovApproval.Name}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_New_File</name>
        <label>Upload New File</label>
        <locationX>2029</locationX>
        <locationY>798</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Number_of_Documents</targetReference>
        </connector>
        <fields>
            <name>NewFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload the new file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApprovalItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.docx,.doc,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Submitter_Comments</name>
            <fieldText>Submitter Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Submitter_Comments}) || LEN({!Submitter_Comments}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>YesDoc</name>
        <label>YesDoc</label>
        <locationX>2076</locationX>
        <locationY>1057</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Content_Document_Id</targetReference>
        </connector>
        <fields>
            <name>YesDocument</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;The Document has been uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>YesFile</name>
        <label>Yes</label>
        <locationX>2472</locationX>
        <locationY>161</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Client_approval_required</targetReference>
        </connector>
        <fields>
            <name>YesUploaded</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Document has been uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1109</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalItemLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>ApprovalItemsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>DocumentSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>negotiateSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>socvApprovalItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>sovApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval__c</objectType>
    </variables>
    <variables>
        <name>sovApprovalItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>sovOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
