force-app/main/default/flows/Resubmit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BU_Resubmitted_Fully_Partner_Delivered_Email</name>
        <label>BU Resubmitted - Fully Partner Delivered Email</label>
        <locationX>3248</locationX>
        <locationY>2407</locationY>
        <actionName>Approval__c.BU_Resubmitted_Fully_Partner_Delivered</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Contains Advisory, A&amp;E, CND, DS&amp;E</description>
        <name>BU_Resubmitted_ProServ</name>
        <label>BU Resubmitted - ProServ</label>
        <locationX>3375</locationX>
        <locationY>2315</locationY>
        <actionName>Approval__c.BU_Resubmitted_ProServ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BU_Resubmitted_ProServ_Delivery_Lead_Growth</name>
        <label>BU Resubmitted - ProServ Delivery Lead Growth</label>
        <locationX>3926</locationX>
        <locationY>2753</locationY>
        <actionName>Approval__c.BU_Resubmitted_ProServ_Delivery_Lead_Growth</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BU_Resubmitted_ProServ_ERP</name>
        <label>BU Resubmitted - ProServ ERP/ERP-MSP</label>
        <locationX>3389</locationX>
        <locationY>2472</locationY>
        <actionName>Approval__c.BU_Resubmitted_ProServ_ERP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BU_Resubmitted_ProServ_MSFT</name>
        <label>BU Resubmitted - ProServ MSFT</label>
        <locationX>3457</locationX>
        <locationY>2609</locationY>
        <actionName>Approval__c.BU_Resubmitted_ProServ_MSFT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BU_Resubmitted_ProServ_Security</name>
        <label>BU Resubmitted - ProServ (Security)</label>
        <locationX>3737</locationX>
        <locationY>2719</locationY>
        <actionName>Approval__c.BU_Resubmitted_ProServ_Security</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Finance_Resubmitted_A_E</name>
        <label>Finance Resubmitted A&amp;E</label>
        <locationX>5349</locationX>
        <locationY>1957</locationY>
        <actionName>Approval__c.Finance_Resubmitted_A_E</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Finance_Resubmitted_Advisory</name>
        <label>Finance Resubmitted Advisory</label>
        <locationX>5321</locationX>
        <locationY>1798</locationY>
        <actionName>Approval__c.Finance_Resubmitted_Advisory</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Finance_Resubmitted_CND</name>
        <label>Finance Resubmitted CND &amp; IoT</label>
        <locationX>5393</locationX>
        <locationY>2121</locationY>
        <actionName>Approval__c.Finance_Resubmitted_CND</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Finance_Resubmitted_DS_E</name>
        <label>Finance Resubmitted DS&amp;E</label>
        <locationX>5337</locationX>
        <locationY>2298</locationY>
        <actionName>Approval__c.Finance_Resubmitted_DS_E</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Finance_Resubmitted_Fully_Partner_Delivered_Email</name>
        <label>Finance Resubmitted Fully Partner Delivered Email</label>
        <locationX>5156</locationX>
        <locationY>1683</locationY>
        <actionName>Approval__c.Finance_Resubmitted_Fully_Partner_Delivered</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Finance_Resubmitted_MCO_EE</name>
        <label>Finance Resubmitted MCO/EE</label>
        <locationX>4104</locationX>
        <locationY>2996</locationY>
        <actionName>Approval__c.Ops_Resubmitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Legal_Approval_Required_Email_Alert</name>
        <label>Legal Approval Required Email Alert</label>
        <locationX>4753</locationX>
        <locationY>1559</locationY>
        <actionName>Approval__c.Legal_Approval_Required</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Legal_Email_Alert</name>
        <label>Legal Email Alert</label>
        <locationX>4283</locationX>
        <locationY>2296</locationY>
        <actionName>Approval__c.Legal_Resubmitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Legal_Resubmitted_non_contract</name>
        <label>Legal Resubmitted non contract</label>
        <locationX>2676</locationX>
        <locationY>2191</locationY>
        <actionName>Approval__c.Legal_Resubmitted_non_contract</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Opp</name>
        <label>Redirect to Opp</label>
        <locationX>4928</locationX>
        <locationY>2195</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>RedirectToOpp</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_CND</name>
        <label>Restart CND &amp; IoT</label>
        <locationX>286</locationX>
        <locationY>906</locationY>
        <actionName>Approval__c.Tech_Approval_Required_PSO_Cloud_Native_Development_CND</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_D_E</name>
        <label>Restart DS&amp;E</label>
        <locationX>376</locationX>
        <locationY>986</locationY>
        <actionName>Approval__c.Tech_Approval_Required_PSO_Data_Science_Engineering_D_E</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_DE</name>
        <label>Restart Advisory</label>
        <locationX>134</locationX>
        <locationY>674</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_Advisory</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_EE</name>
        <label>Restart EE</label>
        <locationX>231</locationX>
        <locationY>507</locationY>
        <actionName>Approval__c.Tech_Approval_Required_EE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_ERP_MSP</name>
        <label>Restart ERP-MSP</label>
        <locationX>584</locationX>
        <locationY>1156</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_ERP_MSP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_Fully_Partner_Delivered</name>
        <label>Restart Fully Partner Delivered</label>
        <locationX>50</locationX>
        <locationY>548</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Fully_Partner_Delivered</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_MCO</name>
        <label>Restart MCO</label>
        <locationX>317</locationX>
        <locationY>415</locationY>
        <actionName>Approval__c.Tech_Approval_Required_MCO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_PS_Delivery_Lead_Growth_GTS</name>
        <label>Restart PS Delivery Lead Growth (GTS)</label>
        <locationX>1146</locationX>
        <locationY>1295</locationY>
        <actionName>Approval__c.Tech_Approval_Required_PS_Delivery_Lead_Growth_GTS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_PS_ERP</name>
        <label>Restart PS ERP</label>
        <locationX>476</locationX>
        <locationY>1063</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_ERP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_PS_Productivity_MSFT</name>
        <label>Restart PS Productivity MSFT</label>
        <locationX>714</locationX>
        <locationY>1133</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_Productivity_MSFT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_PS_Security</name>
        <label>Restart PS Security</label>
        <locationX>979</locationX>
        <locationY>1246</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_Security</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Restart_PSO_A_E</name>
        <label>Restart PSO (A&amp;E)</label>
        <locationX>212</locationX>
        <locationY>772</locationY>
        <actionName>Approval__c.Tech_Approval_Required_PSO_Cloud_Architecture_Engineering_A_E</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Email_Alert</name>
        <label>Tech Resubmit MCO Email Alert</label>
        <locationX>5696</locationX>
        <locationY>2495</locationY>
        <actionName>Approval__c.Tech_Resubmitted_MCO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_EE</name>
        <label>Tech Resubmitted EE</label>
        <locationX>5607</locationX>
        <locationY>2397</locationY>
        <actionName>Approval__c.Tech_Resubmitted_EE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_PS_Advisory</name>
        <label>Tech Resubmitted PS (Advisory)</label>
        <locationX>5472</locationX>
        <locationY>2672</locationY>
        <actionName>Approval__c.Tech_Resubmitted_PS_Advisory</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_PS_CND</name>
        <label>Tech Resubmitted PS (CND &amp; IoT)</label>
        <locationX>5367</locationX>
        <locationY>2975</locationY>
        <actionName>Approval__c.Tech_Resubmitted_PS_CND</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_PS_Delivery_Lead_Growth</name>
        <label>Tech Resubmitted PS (Delivery Lead Growth)</label>
        <locationX>4266</locationX>
        <locationY>3096</locationY>
        <actionName>Approval__c.Tech_Resubmitted_PS_Delivery_Lead_Growth</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_PS_ERP</name>
        <label>Tech Resubmitted PS (ERP)</label>
        <locationX>5077</locationX>
        <locationY>3093</locationY>
        <actionName>Approval__c.Tech_Resubmitted_PS_ERP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_PS_ERP_MSP</name>
        <label>Tech Resubmitted PS (ERP-MSP)</label>
        <locationX>4907</locationX>
        <locationY>3107</locationY>
        <actionName>Approval__c.Tech_Resubmitted_PS_ERP_MSP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_PS_Fully_Partner_Delivered_Email</name>
        <label>Tech Resubmitted PS (Fully Partner Delivered) Email</label>
        <locationX>5545</locationX>
        <locationY>2556</locationY>
        <actionName>Approval__c.Tech_Resubmitted_PS_Fully_Partner_Delivered</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_PS_Productivity_MSFT</name>
        <label>Tech Resubmitted PS (Productivity MSFT)</label>
        <locationX>4740</locationX>
        <locationY>3080</locationY>
        <actionName>Approval__c.Tech_Resubmitted_PS_Productivity_MSFT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_PS_Security</name>
        <label>Tech Resubmitted PS (Security)</label>
        <locationX>4446</locationX>
        <locationY>3091</locationY>
        <actionName>Approval__c.Tech_Resubmitted_PS_Security</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Includes ProServ (A&amp;E)</description>
        <name>Tech_Resubmitted_PSO_A_E</name>
        <label>Tech Resubmitted PSO (A&amp;E)</label>
        <locationX>5412</locationX>
        <locationY>2819</locationY>
        <actionName>Approval__c.Tech_Resubmitted_A_E</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Resubmitted_PSO_D_E</name>
        <label>Tech Resubmitted PSO (DS&amp;E)</label>
        <locationX>5253</locationX>
        <locationY>3069</locationY>
        <actionName>Approval__c.Tech_Resubmitted_D_E</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Approval_defaults_MCO_EE</name>
        <label>Approval defaults MCO/EE</label>
        <locationX>2042</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.CSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Technical_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Legal_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pHWv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Ops_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000tsXU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Tech_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Fully_Partner_Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Item_Size_Legal_review</name>
        <label>Approval Item Size Legal review</label>
        <locationX>2354</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>negotiateSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>socvApprovalItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Item_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approval_Item_Size_Negotiate</name>
        <label>Approval Item Size Negotiate</label>
        <locationX>3375</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>negotiateSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>socvApprovalItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Negotiate_Approval_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval</name>
        <label>Assign Approval</label>
        <locationX>3626</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Legal_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Negotiate_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval_Item_Legal_Review</name>
        <label>Assign Approval Item Legal Review</label>
        <locationX>1848</locationX>
        <locationY>1362</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalItemLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Get_Approval_Legal_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approval_Legal_Review</name>
        <label>Assign Approval Legal Review</label>
        <locationX>2204</locationX>
        <locationY>1147</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finalOpsApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Legal Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Approval_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ApprovalItem</name>
        <label>Assign ApprovalItem</label>
        <locationX>4108</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalItemLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Get_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc</name>
        <label>Assign Doc</label>
        <locationX>3868</locationX>
        <locationY>1178</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doc_Legal_review</name>
        <label>Assign Doc Legal review</label>
        <locationX>1782</locationX>
        <locationY>1685</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Document_Id_Legal_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Id</name>
        <label>Assign Document Id</label>
        <locationX>3373</locationX>
        <locationY>1746</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Content_Document_Link_to_Approval_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Id_Restart</name>
        <label>Assign Document Id</label>
        <locationX>1775</locationX>
        <locationY>861</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Info</name>
        <label>Assign Info</label>
        <locationX>4014</locationX>
        <locationY>1424</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approver_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Is_ContentDocumentId_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Info_Legal_Review_Ready_for_Client</name>
        <label>Assign Info Legal Review Ready for Client</label>
        <locationX>2399</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Client Signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Legal_Review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ops Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ContentDocumentId_Legal_Review_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Info_Legal_Review_Ready_for_Onica</name>
        <label>Assign Info Legal Review Ready for Onica</label>
        <locationX>2300</locationX>
        <locationY>1870</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Rackspace Signature</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Legal_Review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApprovalItem.Approval_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ops Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_ContentDocumentId_Legal_Review_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_Variable_1</name>
        <label>Loop Variable 1</label>
        <locationX>2878</locationX>
        <locationY>1407</locationY>
        <assignmentItems>
            <assignToReference>sovApprovalItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApprovalItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Approval_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_Variable_2</name>
        <label>Loop Variable 2</label>
        <locationX>3886</locationX>
        <locationY>1762</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Documents</name>
        <label>Number of Documents</label>
        <locationX>3876</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>DocumentSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>of_Documents</name>
        <label># of Documents</label>
        <locationX>2140</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>DocumentSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For ProServe Advisory, A&amp;E, CND, DS&amp;E, ERP</description>
        <name>ProServ_Approval_Defaults</name>
        <label>ProServ Approval Defaults</label>
        <locationX>1740</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Legal_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pHWvAAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Ops_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000tsXUAAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments_Restart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Tech_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.BU_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Pre_Sales_SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Onica_Primary_Approval__r.Pre_Sales_SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Fully_Partner_Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For all sub practices and &apos;Fully Partner Delivered&apos; equals true.</description>
        <name>ProServ_Approval_Defaults_0</name>
        <label>Fully Partner Delivered Approval Defaults</label>
        <locationX>1787</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Legal_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pHWvAAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Ops_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000tsXUAAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments_Restart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Tech_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pC3BAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.BU_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pFvHAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Pre_Sales_SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Onica_Primary_Approval__r.Pre_Sales_SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Fully_Partner_Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For ProServe ERP, ERP-MSP, Productivity MSFT, Digital
No Finance and Legal Approvers</description>
        <name>ProServ_Approval_Defaults_No_Finance_and_Legal</name>
        <label>ProServ Approval Defaults (No Finance and Legal)</label>
        <locationX>1899</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments_Restart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Tech_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.BU_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Pre_Sales_SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Onica_Primary_Approval__r.Pre_Sales_SA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.CSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Onica_Primary_Approval__r.CSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Fully_Partner_Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_SOCV_Size</name>
        <label>Set Approval SOCV Size</label>
        <locationX>3296</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>ApprovalItemsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>socvApprovalItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_Item_Size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Approval_Record</name>
        <label>Set Primary Approval Record</label>
        <locationX>1793</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>sovOpp.Onica_Primary_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_With_Approval_Id</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChangeOrder</name>
        <choiceText>Change Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReadyforClientSignature</name>
        <choiceText>Ready for Client Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for Client Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReadyforOnicaSignature</name>
        <choiceText>Ready for Rackspace Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready for Rackspace Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>SOW</name>
        <choiceText>SOW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SOW</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_Item_Size</name>
        <label>Approval Item Size</label>
        <locationX>3512</locationX>
        <locationY>1141</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Approval_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalItemsSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Approvals_Ready_for_Resubmission</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
        <rules>
            <name>Two_or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalItemsSize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Too_Many_Records_Found</targetReference>
            </connector>
            <label>Two or More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Item_Type</name>
        <label>Approval Item Type</label>
        <locationX>3983</locationX>
        <locationY>2262</locationY>
        <defaultConnector>
            <targetReference>Legal_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Legal</defaultConnectorLabel>
        <rules>
            <name>Tech_MCO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Email_Alert</targetReference>
            </connector>
            <label>Tech MCO</label>
        </rules>
        <rules>
            <name>Tech_EE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_EE</targetReference>
            </connector>
            <label>Tech EE</label>
        </rules>
        <rules>
            <name>Tech_Fully_Partner_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PS_Fully_Partner_Delivered_Email</targetReference>
            </connector>
            <label>Tech Fully Partner Delivered</label>
        </rules>
        <rules>
            <name>Tech_PS_Advisory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Delivery &amp; Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PS_Advisory</targetReference>
            </connector>
            <label>Tech PS Advisory</label>
        </rules>
        <rules>
            <name>Tech_PSO_A_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Architecture &amp; Engineering (A&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PSO_A_E</targetReference>
            </connector>
            <label>Tech PS (A&amp;E)</label>
        </rules>
        <rules>
            <name>Tech_PS_CND</name>
            <conditionLogic>1 AND 2 AND 5 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Native Development (CND)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS - Internet of Things (IoT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PS_CND</targetReference>
            </connector>
            <label>Tech PS CND &amp; IoT</label>
        </rules>
        <rules>
            <name>Tech_PS_Productivity_MSFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PS_Productivity_MSFT</targetReference>
            </connector>
            <label>Tech PS Productivity MSFT</label>
        </rules>
        <rules>
            <name>Tech_PSO_D_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Data Science &amp; Engineering (D&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PSO_D_E</targetReference>
            </connector>
            <label>Tech PS DS&amp;E</label>
        </rules>
        <rules>
            <name>Tech_PS_ERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PS_ERP</targetReference>
            </connector>
            <label>Tech  PS ERP</label>
        </rules>
        <rules>
            <name>Tech_PS_ERP_MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PS_ERP_MSP</targetReference>
            </connector>
            <label>Tech PS ERP-MSP</label>
        </rules>
        <rules>
            <name>Tech_PS_Security</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PS_Security</targetReference>
            </connector>
            <label>Tech PS Security</label>
        </rules>
        <rules>
            <name>Tech_PS_Delivery_Lead_Growth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tech Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Resubmitted_PS_Delivery_Lead_Growth</targetReference>
            </connector>
            <label>Tech PS Delivery Lead Growth</label>
        </rules>
        <rules>
            <name>BU_Fully_Partner_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BU Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BU_Resubmitted_Fully_Partner_Delivered_Email</targetReference>
            </connector>
            <label>BU - Fully Partner Delivered</label>
        </rules>
        <rules>
            <name>BU_Proserv</name>
            <conditionLogic>1 AND 2 AND 8 AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BU Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Delivery &amp; Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Architecture &amp; Engineering (A&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Native Development (CND)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Data Science &amp; Engineering (D&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS - Internet of Things (IoT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BU_Resubmitted_ProServ</targetReference>
            </connector>
            <label>BU - Proserv</label>
        </rules>
        <rules>
            <name>BU_ProServ_ERP</name>
            <conditionLogic>1 AND 2 AND 5 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BU Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BU_Resubmitted_ProServ_ERP</targetReference>
            </connector>
            <label>BU - ProServ ERP &amp; ERP-MSP</label>
        </rules>
        <rules>
            <name>BU_ProServ_MSFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BU Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BU_Resubmitted_ProServ_MSFT</targetReference>
            </connector>
            <label>BU - ProServ MSFT</label>
        </rules>
        <rules>
            <name>BU_ProServ_Security</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BU Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BU_Resubmitted_ProServ_Security</targetReference>
            </connector>
            <label>BU - ProServ Security</label>
        </rules>
        <rules>
            <name>BU_ProServ_Delivery_Lead_Growth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BU Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BU_Resubmitted_ProServ_Delivery_Lead_Growth</targetReference>
            </connector>
            <label>BU - ProServ Delivery Lead Growth</label>
        </rules>
        <rules>
            <name>Finance_MCO_EE</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Resubmitted_MCO_EE</targetReference>
            </connector>
            <label>Finance MCO/EE</label>
        </rules>
        <rules>
            <name>Finance_Fully_Partner_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Resubmitted_Fully_Partner_Delivered_Email</targetReference>
            </connector>
            <label>Finance Fully Partner Delivered</label>
        </rules>
        <rules>
            <name>Finance_ProServ_Advisory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Delivery &amp; Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Resubmitted_Advisory</targetReference>
            </connector>
            <label>Finance ProServ Advisory</label>
        </rules>
        <rules>
            <name>Finance_ProServ_CND</name>
            <conditionLogic>1 AND 2 AND 5 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Native Development (CND)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS - Internet of Things (IoT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Resubmitted_CND</targetReference>
            </connector>
            <label>Finance ProServ CND &amp; IoT</label>
        </rules>
        <rules>
            <name>Finance_ProServ_DS_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Data Science &amp; Engineering (D&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Resubmitted_DS_E</targetReference>
            </connector>
            <label>Finance ProServ DS&amp;E</label>
        </rules>
        <rules>
            <name>Finance_ProServ_A_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Architecture &amp; Engineering (A&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Resubmitted_A_E</targetReference>
            </connector>
            <label>Finance ProServ A&amp;E</label>
        </rules>
        <rules>
            <name>Finance_ERP_MSFT_Security</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApprovalItem.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Finance ProServ Security</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Status</name>
        <label>Approval Status</label>
        <locationX>3023</locationX>
        <locationY>925</locationY>
        <defaultConnector>
            <targetReference>getApprovalItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needing Approval</defaultConnectorLabel>
        <rules>
            <name>Negotiate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Sales Action Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approval Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovalItemRecords</targetReference>
            </connector>
            <label>Negotiate</label>
        </rules>
        <rules>
            <name>Signatures</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Client Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Rackspace Signature</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Rackspace Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signatures_Screen</targetReference>
            </connector>
            <label>Signatures</label>
        </rules>
        <rules>
            <name>Pending_Legal_Review_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Legal Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovalItemsLeagalReview</targetReference>
            </connector>
            <label>Pending Legal Review</label>
        </rules>
        <rules>
            <name>Restart_the_Workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restart the Workflow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getApprovalItemsrestart</targetReference>
            </connector>
            <label>Restart the Workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Item_Records</name>
        <label>Are there Item Records?</label>
        <locationX>2392</locationX>
        <locationY>1143</locationY>
        <defaultConnector>
            <targetReference>Assign_Approval_Legal_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_item_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socvApprovalItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Item_Size_Legal_review</targetReference>
            </connector>
            <label>Yes, there are item records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_negotiate_records</name>
        <label>Are there negotiate records?</label>
        <locationX>3370</locationX>
        <locationY>945</locationY>
        <defaultConnector>
            <targetReference>Assign_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There are no negotiate records</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_negotiate_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socvApprovalItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Item_Size_Negotiate</targetReference>
            </connector>
            <label>Yes, there are negotiate records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_or_Onica</name>
        <label>Client or Rackspace</label>
        <locationX>2067</locationX>
        <locationY>1747</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Onica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Rackspace Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Info_Legal_Review_Ready_for_Onica</targetReference>
            </connector>
            <label>Ready for Rackspace</label>
        </rules>
        <rules>
            <name>Ready_for_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Client Signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Info_Legal_Review_Ready_for_Client</targetReference>
            </connector>
            <label>Ready for Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Ids</name>
        <label>Document Ids?</label>
        <locationX>2417</locationX>
        <locationY>826</locationY>
        <defaultConnector>
            <targetReference>File_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>One_Restart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YesUploaded</targetReference>
            </connector>
            <label>One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Size</name>
        <label>Document Size</label>
        <locationX>3918</locationX>
        <locationY>1643</locationY>
        <defaultConnector>
            <targetReference>NoDoc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YesDoc</targetReference>
            </connector>
            <label>One</label>
        </rules>
    </decisions>
    <decisions>
        <description>ProServ ERP, ERP-MSP, Productivity MSFT, Digital, Security do not need finance and legal approval</description>
        <name>Finance_and_Legal_Required</name>
        <label>Finance and Legal Required?</label>
        <locationX>829</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProServ_Finance_and_Legal_Required</name>
            <conditionLogic>7 OR (1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Delivery &amp; Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Architecture &amp; Engineering (A&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Native Development (CND)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Data Science &amp; Engineering (D&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS - Internet of Things (IoT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ops_Approval_Item</targetReference>
            </connector>
            <label>ProServ Finance and Legal Required</label>
        </rules>
        <rules>
            <name>ProServ_Finance_and_Legal_NOT_Required</name>
            <conditionLogic>1 AND 4 AND (2 OR 3 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_Type</targetReference>
            </connector>
            <label>ProServ Finance and Legal NOT Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ContentDocumentId_Legal_Review_Null</name>
        <label>Is ContentDocumentId Legal Review Null?</label>
        <locationX>2626</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Create_Content_Document_Link_Negotiate_Legal_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it is not Null</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_null_Legal_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Legal_review</targetReference>
            </connector>
            <label>Yes, it is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ContentDocumentId_Null</name>
        <label>Is ContentDocumentId Null?</label>
        <locationX>4299</locationX>
        <locationY>1457</locationY>
        <defaultConnector>
            <targetReference>Create_Content_Document_Link_Negotiate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it&apos;s not null</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Negotiate</targetReference>
            </connector>
            <label>Yes, it is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Approval_items</name>
        <label>Number of Approval items</label>
        <locationX>1999</locationX>
        <locationY>1154</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Get_Approval_Legal_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1</defaultConnectorLabel>
        <rules>
            <name>X1_or_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>negotiateSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currently_In_Review_Legal_Review</targetReference>
            </connector>
            <label>1 or more</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Negotiate_Approval_Items</name>
        <label>Number of Negotiate Approval Items</label>
        <locationX>3698</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Get_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>negotiateSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currently_In_Review</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>PSO_or_MCO_EE</name>
        <label>PS or MCO/EE</label>
        <locationX>1888</locationX>
        <locationY>714</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MCO_or_EE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_defaults_MCO_EE</targetReference>
            </connector>
            <label>MCO or EE</label>
        </rules>
        <rules>
            <name>Fully_Partner_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProServ_Approval_Defaults_0</targetReference>
            </connector>
            <label>Fully Partner Delivered</label>
        </rules>
        <rules>
            <name>ProServ</name>
            <conditionLogic>1 AND 7 AND (2 OR 3 OR 4 OR 5 OR 6 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Delivery &amp; Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Architecture &amp; Engineering (A&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Native Development (CND)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Data Science &amp; Engineering (D&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS - Internet of Things (IoT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProServ_Approval_Defaults</targetReference>
            </connector>
            <label>ProServ</label>
        </rules>
        <rules>
            <name>ProServ_No_Finance_or_Legal</name>
            <conditionLogic>1 AND 4 AND (2 OR 3 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProServ_Approval_Defaults_No_Finance_and_Legal</targetReference>
            </connector>
            <label>ProServ-(No Finance or Legal)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restart_Type</name>
        <label>Restart Type</label>
        <locationX>742</locationX>
        <locationY>589</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PS_Fully_Partner_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_Fully_Partner_Delivered</targetReference>
            </connector>
            <label>PS Fully Partner Delivered</label>
        </rules>
        <rules>
            <name>PS_Advisory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Delivery &amp; Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_DE</targetReference>
            </connector>
            <label>PS (Advisory)</label>
        </rules>
        <rules>
            <name>PS_A_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Architecture &amp; Engineering (A&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_PSO_A_E</targetReference>
            </connector>
            <label>PS (A&amp;E)</label>
        </rules>
        <rules>
            <name>PS_CND</name>
            <conditionLogic>2 AND 4 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Native Development (CND)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS - Internet of Things (IoT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_CND</targetReference>
            </connector>
            <label>PS (CND &amp; IoT)</label>
        </rules>
        <rules>
            <name>PS_DS_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Data Science &amp; Engineering (D&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_D_E</targetReference>
            </connector>
            <label>PS (DS&amp;E)</label>
        </rules>
        <rules>
            <name>ProServ_ERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_PS_ERP</targetReference>
            </connector>
            <label>ProServ-ERP</label>
        </rules>
        <rules>
            <name>PS_ERP_MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_ERP_MSP</targetReference>
            </connector>
            <label>PS (ERP-MSP)</label>
        </rules>
        <rules>
            <name>ProServ_Productivity_MSFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_PS_Productivity_MSFT</targetReference>
            </connector>
            <label>ProServ-Productivity MSFT</label>
        </rules>
        <rules>
            <name>PS_Security</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_PS_Security</targetReference>
            </connector>
            <label>PS (Security)</label>
        </rules>
        <rules>
            <name>PS_Delivery_Lead_Growth_GTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_PS_Delivery_Lead_Growth_GTS</targetReference>
            </connector>
            <label>PS (Delivery Lead Growth-GTS)</label>
        </rules>
        <rules>
            <name>EE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_EE</targetReference>
            </connector>
            <label>EE</label>
        </rules>
        <rules>
            <name>MCO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restart_MCO</targetReference>
            </connector>
            <label>MCO</label>
        </rules>
    </decisions>
    <decisions>
        <name>US_Cloud_and_Type</name>
        <label>US Cloud and Type</label>
        <locationX>1559</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>DeleteApprovalRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BU_Approval_Item</targetReference>
            </connector>
            <label>PS</label>
        </rules>
        <rules>
            <name>MCO_and_EE</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Opportunity_Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US_Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ops_Approval_Item</targetReference>
            </connector>
            <label>MCO and EE</label>
        </rules>
    </decisions>
    <description>-No finance or legal for Sub Practice-Erp &amp; Productivity-MSFT
-Security remains in Finance and Legal required.</description>
    <formulas>
        <name>buApprover</name>
        <dataType>String</dataType>
        <expression>IF( AND(ISPICKVAL({!sovOpp.Onica_BU_Practice__c} ,&quot;Productivity MSFT&quot; ), OR(ISPICKVAL({!sovOpp.Onica_Type__c}, &quot;PSO&quot;),ISPICKVAL({!sovOpp.Type}, &quot;Professional Services&quot;))), &quot;00561000001zt2gAAA&quot;,
IF(AND(ISPICKVAL({!sovOpp.Onica_BU_Practice__c} ,&quot;Delivery Lead Growth (GTS)&quot; ), OR(ISPICKVAL({!sovOpp.Onica_Type__c}, &quot;PSO&quot;),ISPICKVAL({!sovOpp.Type}, &quot;Professional Services&quot;))), &quot;00561000003Ck7K&quot;, &quot;0053f000000pG2CAAU&quot;))</expression>
    </formulas>
    <formulas>
        <name>contentDocumentIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!contentDocumentId}), {!sovApproval.Current_Document_Id__c},{!contentDocumentId})</expression>
    </formulas>
    <formulas>
        <name>finalOpsApprover</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Record_Ids__c.Final_Ops_Approver_Id__c}</expression>
    </formulas>
    <formulas>
        <name>RedirectToOpp</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!sovOpp.Id}</expression>
    </formulas>
    <formulas>
        <name>TechApproverPermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Tech_Approver}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Update for resubmit add document. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resubmit for Approval</label>
    <loops>
        <name>Get_Content_Document_Id</name>
        <label>Get Content Document Id</label>
        <locationX>3644</locationX>
        <locationY>1744</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Variable_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Document_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Document_Id</name>
        <label>Get Document Id</label>
        <locationX>4028</locationX>
        <locationY>1178</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Doc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Document_Id_Legal_Review</name>
        <label>Get Document Id Legal Review</label>
        <locationX>1964</locationX>
        <locationY>1527</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Doc_Legal_review</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Client_or_Onica</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Approval_Items</name>
        <label>Loop Through Approval Items</label>
        <locationX>3469</locationX>
        <locationY>1447</locationY>
        <assignNextValueToReference>sovApprovalItem</assignNextValueToReference>
        <collectionReference>socvApprovalItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Variable_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upload_New_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Get_Approval</name>
        <label>Loop to Get Approval</label>
        <locationX>3859</locationX>
        <locationY>777</locationY>
        <assignNextValueToReference>approvalItemLoopVariable</assignNextValueToReference>
        <collectionReference>socvApprovalItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ApprovalItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Document_Upload</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Get_Approval_Legal_Review</name>
        <label>Loop to Get Approval Legal Review</label>
        <locationX>2016</locationX>
        <locationY>1359</locationY>
        <assignNextValueToReference>approvalItemLoopVariable</assignNextValueToReference>
        <collectionReference>socvApprovalItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Approval_Item_Legal_Review</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Document_Upload_Legal_Review</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Document_Id</name>
        <label>Set Document Id</label>
        <locationX>2046</locationX>
        <locationY>915</locationY>
        <assignNextValueToReference>contentDocumentId</assignNextValueToReference>
        <collectionReference>contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Document_Id_Restart</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PSO_or_MCO_EE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Approval_Item_Record</name>
        <label>Create Approval Item Record</label>
        <locationX>2436</locationX>
        <locationY>1501</locationY>
        <connector>
            <targetReference>New_Document_Upload_Legal_Review</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_BU_Approval_Item</name>
        <label>Create BU Approval Item</label>
        <locationX>1383</locationX>
        <locationY>259</locationY>
        <assignRecordIdToReference>buApproverItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Finance_and_Legal_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>BU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.BU_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_Negotiate</name>
        <label>Create Content Document Link Negotiate</label>
        <locationX>4436</locationX>
        <locationY>1025</locationY>
        <assignRecordIdToReference>ContentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Approval_Negotiate</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_Negotiate_Legal_Review</name>
        <label>Create Content Document Link Negotiate Legal Review</label>
        <locationX>2665</locationX>
        <locationY>1502</locationY>
        <assignRecordIdToReference>ContentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Approval_Legal_review</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_to_Approval_Record</name>
        <label>Create Content Document Link to Approval Record</label>
        <locationX>3372</locationX>
        <locationY>1909</locationY>
        <assignRecordIdToReference>ContentDocumentLinkId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Legal_Approval_Item</name>
        <label>Create Legal Approval Item</label>
        <locationX>1058</locationX>
        <locationY>476</locationY>
        <assignRecordIdToReference>LegalApprovalItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Restart_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.Legal_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Negotiate_Record</name>
        <label>Create Negotiate Record</label>
        <locationX>3833</locationX>
        <locationY>990</locationY>
        <connector>
            <targetReference>New_Document_Upload</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Approval</name>
        <label>Create new Approval</label>
        <locationX>1996</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Set_Primary_Approval_Record</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ops_Approval_Item</name>
        <label>Create Ops Approval Item</label>
        <locationX>1065</locationX>
        <locationY>308</locationY>
        <assignRecordIdToReference>OpsApprovalItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Legal_Approval_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Finance Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.Ops_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tech_Approval</name>
        <label>Create Tech Approval</label>
        <locationX>1561</locationX>
        <locationY>378</locationY>
        <assignRecordIdToReference>TechApprovalItemId</assignRecordIdToReference>
        <connector>
            <targetReference>US_Cloud_and_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Tech Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.Tech_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Document_Id__c</field>
            <value>
                <elementReference>sovApproval.Current_Document_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordDeletes>
        <name>DeleteApprovalRecord</name>
        <label>DeleteApprovalRecord</label>
        <locationX>1298</locationX>
        <locationY>907</locationY>
        <connector>
            <targetReference>IncorrectType</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Approval_Record</name>
        <label>Get Approval Record</label>
        <locationX>3025</locationX>
        <locationY>713</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.Onica_Primary_Approval__c</elementReference>
            </value>
        </filters>
        <object>Approval__c</object>
        <outputReference>sovApproval</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Legal_Approver__c</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
        <queriedFields>Tech_Approver__c</queriedFields>
        <queriedFields>Pre_Sales_SA__c</queriedFields>
        <queriedFields>Fully_Partner_Delivered__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprovalItemRecords</name>
        <label>getApprovalItemRecords</label>
        <locationX>3235</locationX>
        <locationY>943</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_negotiate_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Client Approval Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready for Client Signature</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Restart the Workflow</stringValue>
            </value>
        </filters>
        <object>Approval_Item__c</object>
        <outputReference>socvApprovalItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
        <queriedFields>Approval__c</queriedFields>
        <queriedFields>Approval_Step__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Step_Status__c</queriedFields>
        <queriedFields>Approver__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprovalItems</name>
        <label>getApprovalItems</label>
        <locationX>3025</locationX>
        <locationY>1191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Approval_SOCV_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Approval_Item__c</object>
        <outputReference>socvApprovalItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Approval_Step__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprovalItemsLeagalReview</name>
        <label>getApprovalItemsLeagalReview</label>
        <locationX>2634</locationX>
        <locationY>1133</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Item_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Legal Review</stringValue>
            </value>
        </filters>
        <object>Approval_Item__c</object>
        <outputReference>sovApprovalItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_Document_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprovalItemsrestart</name>
        <label>getApprovalItemsrestart</label>
        <locationX>2841</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resubmit_the_process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Restart the Workflow</stringValue>
            </value>
        </filters>
        <object>Approval_Item__c</object>
        <outputReference>socvApprovalItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Approval_Step__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApprover</name>
        <label>Approver</label>
        <locationX>2350</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>of_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approver_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.Onica_Practice_Lead__c</elementReference>
            </value>
        </filters>
        <object>Approver__mdt</object>
        <outputReference>Approver</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id__c</queriedFields>
        <queriedFields>Approver_Name__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>3025</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sovOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onica_Primary_Approval__c</queriedFields>
        <queriedFields>Technical_Owner__c</queriedFields>
        <queriedFields>Onica_Practice_Lead__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Onica_LA_Date_scoping_meeting_was_held__c</queriedFields>
        <queriedFields>Onica_BU_Practice__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Onica_Type__c</queriedFields>
        <queriedFields>Opportunity_Record_Type_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval</name>
        <label>Update Approval</label>
        <locationX>3551</locationX>
        <locationY>1908</locationY>
        <connector>
            <targetReference>Update_Approval_Item</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Item</name>
        <label>Update Approval Item</label>
        <locationX>3800</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>Approval_Item_Type</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Item_Legal_Review</name>
        <label>Update Approval Item Legal Review</label>
        <locationX>2867</locationX>
        <locationY>1897</locationY>
        <connector>
            <targetReference>Legal_Resubmitted_non_contract</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Item_Negotiate</name>
        <label>Update Approval Item Negotiate</label>
        <locationX>4726</locationX>
        <locationY>1347</locationY>
        <connector>
            <targetReference>Legal_Approval_Required_Email_Alert</targetReference>
        </connector>
        <inputReference>sovApprovalItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Legal_review</name>
        <label>Update Approval Legal review</label>
        <locationX>2913</locationX>
        <locationY>1657</locationY>
        <connector>
            <targetReference>Update_Approval_Item_Legal_Review</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Negotiate</name>
        <label>Update Approval Negotiate</label>
        <locationX>4523</locationX>
        <locationY>1336</locationY>
        <connector>
            <targetReference>Update_Approval_Item_Negotiate</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_With_Approval_Id</name>
        <label>Update Opp With Approval Id</label>
        <locationX>1556</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Create_Tech_Approval</targetReference>
        </connector>
        <inputReference>sovOpp</inputReference>
    </recordUpdates>
    <screens>
        <name>Currently_In_Review</name>
        <label>Currently In Review</label>
        <locationX>4334</locationX>
        <locationY>683</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>CurrentlyInReview</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Approval is currently in Review and cannot be changed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Currently_In_Review_Legal_Review</name>
        <label>Currently In Review Legal Review</label>
        <locationX>1740</locationX>
        <locationY>1164</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>CurrentlyLegalInReview</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Approval is currently in Review and cannot be changed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Required</name>
        <label>File Required</label>
        <locationX>2342</locationX>
        <locationY>669</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Resubmit_the_process</targetReference>
        </connector>
        <fields>
            <name>Filerequired</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Document needs to be uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IncorrectType</name>
        <label>IncorrectType</label>
        <locationX>1527</locationX>
        <locationY>960</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>NotRequiredType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please review: Opportunity Type is incorrect or Onica Type is null.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Document_Upload</name>
        <label>New Document Upload</label>
        <locationX>4027</locationX>
        <locationY>1010</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Document_Id</targetReference>
        </connector>
        <fields>
            <name>Upload_New_Document</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApprovalItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.docx,.doc,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Comments}) || LEN({!Comments}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Document_Upload_Legal_Review</name>
        <label>New Document Upload Legal Review</label>
        <locationX>2239</locationX>
        <locationY>1463</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Document_Id_Legal_Review</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>ReadyforClientSignature</choiceReferences>
            <choiceReferences>ReadyforOnicaSignature</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_Legal_Review</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Comments_Legal_Review}) || LEN({!Comments}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Upload_New_Document_Legal_Review</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApprovalItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.docx,.doc,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Approvals_Ready_for_Resubmission</name>
        <label>No Approvals Ready for Resubmission</label>
        <locationX>3727</locationX>
        <locationY>1269</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>NotReadyForResubmission</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You cannot re-submit this Approval at this time.  Please check with the Approvers to ensure that it is ok to re-submit for Approval.  If you still receive this error, please contact your system administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoDoc</name>
        <label>NoDoc</label>
        <locationX>4112</locationX>
        <locationY>1693</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_New_File</targetReference>
        </connector>
        <fields>
            <name>No</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Document needs to be uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resubmit_the_process</name>
        <label>Resubmit the process</label>
        <locationX>2435</locationX>
        <locationY>510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getApprover</targetReference>
        </connector>
        <fields>
            <name>Document_Type</name>
            <choiceReferences>SOW</choiceReferences>
            <choiceReferences>ChangeOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AttachDoc</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Document </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApproval.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Submitter_Comments_Restart</name>
            <fieldText>Submitter Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Initial comments must be less than or equal to 1,000 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Submitter_Comments_Restart}) || LEN({!Submitter_Comments_Restart}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Signatures_Screen</name>
        <label>Signatures</label>
        <locationX>2682</locationX>
        <locationY>980</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>SignatureProcess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;This Approval cannot be resubmitted as it is in the Signature Process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Too_Many_Records_Found</name>
        <label>Too Many Records Found</label>
        <locationX>3723</locationX>
        <locationY>1136</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>TooManyRecordsFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Too many Approval Items were found.  Please advise the system admin that there were multiple Approval Items in the Rejected Status for the Approval {!sovApproval.Name}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_New_File</name>
        <label>Upload New File</label>
        <locationX>3648</locationX>
        <locationY>1513</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Number_of_Documents</targetReference>
        </connector>
        <fields>
            <name>NewFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload the new file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApprovalItem.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.docx,.doc,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Submitter_Comments</name>
            <fieldText>Submitter Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;ISBLANK({!Submitter_Comments}) || LEN({!Submitter_Comments}) &amp;lt;= 1000&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!Submitter_Comments}) || LEN({!Submitter_Comments}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>YesDoc</name>
        <label>YesDoc</label>
        <locationX>4071</locationX>
        <locationY>1545</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Content_Document_Id</targetReference>
        </connector>
        <fields>
            <name>Yes</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Document has been uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>YesUploaded</name>
        <label>YesUploaded</label>
        <locationX>2272</locationX>
        <locationY>905</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Document_Id</targetReference>
        </connector>
        <fields>
            <name>YesDocUploaded</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Document has been uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2685</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>getOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalItemLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>ApprovalItemsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Approver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approver__mdt</objectType>
    </variables>
    <variables>
        <name>buApproverItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LegalApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>negotiateSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpsApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>socvApprovalItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>sovApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval__c</objectType>
    </variables>
    <variables>
        <name>sovApprovalItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Item__c</objectType>
    </variables>
    <variables>
        <name>sovOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TechApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
