force-app/main/default/flows/Revegy_Standard_Task_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Seller Profiles Using Revegy</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Support Profiles Using Revegy</label>
        </rules>
    </decisions>
    <description>Convert Tasks created in Revegy to appropriate Profile RT default</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(TEXT([Task].Type),
&apos;Account Strategy Review&apos;, &apos;Account Strategy Review&apos;,
&apos;QBR&apos;, &apos;QBR&apos;,
&apos;Call&apos;, &apos;Call&apos;,
&apos;Email&apos;, &apos;Email&apos;, &apos;&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_6789450601</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!myVariable_current.Type}),
&apos;Account Strategy Review&apos;, &apos;Account Strategy Review&apos;,
&apos;QBR&apos;, &apos;QBR&apos;,
&apos;Call&apos;, &apos;Call&apos;,
&apos;Email&apos;, &apos;Email&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Task].Sync_Source__c = &quot;Revegy&quot;,
[Task].RecordType.DeveloperName = &quot;Standard_Task&quot;,
OR(
[Task].Owner:User.Profile.Name = &quot;Rackspace Seller-INTL&quot;,
[Task].Owner:User.Profile.Name = &quot;Rackspace Seller-US&quot;,
[Task].Owner:User.Profile.Name = &quot;Rackspace Manager-US&quot;,
[Task].Owner:User.Profile.Name = &quot;Rackspace Manager-INTL&quot;
)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Sync_Source__c} = &quot;Revegy&quot;,
{!myVariable_current.RecordType.DeveloperName} = &quot;Standard_Task&quot;,
OR(
{!myVariable_current.Owner:User.Profile.Name} = &quot;Rackspace Seller-INTL&quot;,
{!myVariable_current.Owner:User.Profile.Name} = &quot;Rackspace Seller-US&quot;,
{!myVariable_current.Owner:User.Profile.Name} = &quot;Rackspace Manager-US&quot;,
{!myVariable_current.Owner:User.Profile.Name} = &quot;Rackspace Manager-INTL&quot;
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Task].Sync_Source__c = &quot;Revegy&quot;,
[Task].RecordType.DeveloperName = &quot;Standard_Task&quot;,
OR(
[Task].Owner:User.Profile.Name = &quot;Rackspace - Standard Support User INTL&quot;,
[Task].Owner:User.Profile.Name = &quot;Rackspace - Standard Support User US&quot;
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Sync_Source__c} = &quot;Revegy&quot;,
{!myVariable_current.RecordType.DeveloperName} = &quot;Standard_Task&quot;,
OR(
{!myVariable_current.Owner:User.Profile.Name} = &quot;Rackspace - Standard Support User INTL&quot;,
{!myVariable_current.Owner:User.Profile.Name} = &quot;Rackspace - Standard Support User US&quot;
)
)</expression>
    </formulas>
    <interviewLabel>Revegy_Standard_Task_Conversion-8_InterviewLabel</interviewLabel>
    <label>Revegy Standard Task Conversion</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Task]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update RT and Values to Sales Activity</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01261000000j3YQAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Type__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_6789450601</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Task]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Update RT to Support Task</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01261000000MWr1AAG</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
