force-app/main/default/flows/Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Travis Malone
Josh Villarreal
Leroy Ruvalcaba</description>
        <name>Delivery_Lead_Growth_GTS_Email</name>
        <label>Delivery Lead Growth (GTS) Email</label>
        <locationX>3610</locationX>
        <locationY>892</locationY>
        <actionName>Approval__c.Tech_Approval_Required_PS_Delivery_Lead_Growth_GTS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Scott Rice (SAP)*
Shyamal Shah (Oracle)*</description>
        <name>ERP_MSP_Email_Alert</name>
        <label>ERP-MSP Email Alert</label>
        <locationX>3502</locationX>
        <locationY>805</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_ERP_MSP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Professional_Services_Cloud_Architecture_Email_Alert</name>
        <label>Professional Services Cloud Architecture Email Alert</label>
        <locationX>3820</locationX>
        <locationY>1410</locationY>
        <actionName>Approval__c.Tech_Approval_Required_PSO_Cloud_Architecture_Engineering_A_E</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Professional_Services_Cloud_Native_Email_Alert</name>
        <label>Professional Services CND &amp; IoT Email Alert</label>
        <locationX>3819</locationX>
        <locationY>1560</locationY>
        <actionName>Approval__c.Tech_Approval_Required_PSO_Cloud_Native_Development_CND</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Professional_Services_Data_Science_Email_Alert</name>
        <label>Professional Services Data Science Email Alert</label>
        <locationX>3804</locationX>
        <locationY>1706</locationY>
        <actionName>Approval__c.Tech_Approval_Required_PSO_Data_Science_Engineering_D_E</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Professional_Services_Delivery_Email_Alert</name>
        <label>Professional Services Advisory Email Alert</label>
        <locationX>3816</locationX>
        <locationY>1263</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_Advisory</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Tech Approval Required Professional Services ERP</description>
        <name>ProServ_ERP</name>
        <label>ProServ - ERP</label>
        <locationX>3421</locationX>
        <locationY>741</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_ERP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Tech Approval Required Professional Services Productivity MSFT</description>
        <name>ProServ_Productivity_MSFT</name>
        <label>ProServ - Productivity MSFT</label>
        <locationX>3720</locationX>
        <locationY>987</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_Productivity_MSFT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Joshua Groda
Gregg Stout*</description>
        <name>ProServ_Security</name>
        <label>ProServ - Security</label>
        <locationX>3329</locationX>
        <locationY>675</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Professional_Services_Security</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Opp</name>
        <label>Redirect to Opp</label>
        <locationX>2684</locationX>
        <locationY>664</locationY>
        <actionName>ecflc:flowURLRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>urlRedirect</name>
            <value>
                <elementReference>RedirectToOpp</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Approval_Required_EE</name>
        <label>Tech Approval Required EE</label>
        <locationX>2225</locationX>
        <locationY>1179</locationY>
        <actionName>Approval__c.Tech_Approval_Required_EE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tech_Approval_Required_Email_Alert</name>
        <label>Tech Approval Required MCO Email Alert</label>
        <locationX>2324</locationX>
        <locationY>1103</locationY>
        <actionName>Approval__c.Tech_Approval_Required_MCO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>email alert for fully partner delivered approvals if selected</description>
        <name>Tech_Approval_Required_Fully_Partner_Delivered</name>
        <label>Tech Approval Required Fully Partner Delivered</label>
        <locationX>3808</locationX>
        <locationY>1103</locationY>
        <actionName>Approval__c.Tech_Approval_Required_Fully_Partner_Delivered</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Finance Approver = Kunal Desai</description>
        <name>Approval_Defaults_EE_or_MCO</name>
        <label>Approval Defaults EE or MCO</label>
        <locationX>1899</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.CSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Technical_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Legal_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pHWv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Ops_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000tsXU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Tech_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Fully_Partner_Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Id</name>
        <label>Assign Document Id</label>
        <locationX>1813</locationX>
        <locationY>1773</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Current_Document_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>of_Documents</name>
        <label># of Documents</label>
        <locationX>1535</locationX>
        <locationY>1369</locationY>
        <assignmentItems>
            <assignToReference>DocumentSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For ProServ Advisory, A&amp;E, CND, DS&amp;E
{!sovApproval.Legal_Approver__c} needs to be equal Sophia Nguyen
{!sovApproval.Ops_Approver__c} needs to be equal Finance user Jonny Lee
BU Approver = Peter Fitzgibbon</description>
        <name>ProServ_Approval_Defaults</name>
        <label>ProServ Approval Defaults</label>
        <locationX>1686</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Pre_Sales_SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreSalesSAuser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Legal_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pHWvAAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Ops_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000tsXUAAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Tech_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.BU_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.CSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCSAId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Fully_Partner_Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For ProServ all sub practices with Fully Partner Delivered = yes
{!sovApproval.Legal_Approver__c} needs to be equal Sophia Nguyen
{!sovApproval.Ops_Approver__c} needs to be equal Finance user Karthik Gurumurthy
BU Approver = Andy Buist
Tech Approver</description>
        <name>ProServ_Approval_Defaults_0</name>
        <label>ProServ Approval Defaults (Fully Partner Delivered)</label>
        <locationX>1199</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Pre_Sales_SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreSalesSAuser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Legal_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pHWvAAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Ops_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000tsXUAAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Tech_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pC3BAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.BU_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053f000000pFvHAAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.CSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCSAId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Fully_Partner_Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For ProServ ERP, ERP-MSP, Productivity MSFT, Digital
No Finance and Legal Approvers, these will autocomplete after BU approval.</description>
        <name>ProServ_Approval_Defaults_No_Finance_or_Legal</name>
        <label>ProServ Approval Defaults (No Finance or Legal)</label>
        <locationX>1515</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>sovApproval.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Pre_Sales_SA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreSalesSAuser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Document_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Submitter_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submitter_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpp.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Tech_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver.Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.BU_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>buApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.CSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCSAId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovApproval.Fully_Partner_Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Approval_Record</name>
        <label>Set Primary Approval Record</label>
        <locationX>2010</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>sovOpp.Onica_Primary_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_With_Approval_Id</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChangeOrder</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Change Order&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Order</stringValue>
        </value>
    </choices>
    <choices>
        <description>Pre-Sales SA not part of opp team</description>
        <name>ChoiceNA</name>
        <choiceText>Not Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Available</stringValue>
        </value>
    </choices>
    <choices>
        <description>used for Fully-Partner Delivered question</description>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>used for Fully-Partner Delivered question</description>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SOW</name>
        <choiceText>SOW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SOW</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Document_Ids</name>
        <label>Document Ids?</label>
        <locationX>1473</locationX>
        <locationY>1628</locationY>
        <defaultConnector>
            <targetReference>Nofile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yes</targetReference>
            </connector>
            <label>One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Approver_Null</name>
        <label>Is Approver Null?</label>
        <locationX>1638</locationX>
        <locationY>939</locationY>
        <defaultConnectorLabel>Approver Not Null</defaultConnectorLabel>
        <rules>
            <name>Yes_Approver_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Approving_Practice_Manager</targetReference>
            </connector>
            <label>Yes, Approver Null</label>
        </rules>
        <rules>
            <name>Approver_Not_Null_EE_or_MCO</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Defaults_EE_or_MCO</targetReference>
            </connector>
            <label>Approver Not Null - EE or MCO</label>
        </rules>
        <rules>
            <name>Approver_Not_Null_ProServ</name>
            <conditionLogic>1 AND 2 AND 8 AND (3 OR 4 OR 5 OR 6 OR 7 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Delivery &amp; Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Architecture &amp; Engineering (A&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Native Development (CND)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Data Science &amp; Engineering (D&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS - Internet of Things (IoT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChoiceNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProServ_Approval_Defaults</targetReference>
            </connector>
            <label>Approver Not Null - ProServ</label>
        </rules>
        <rules>
            <name>Approver_Not_Null_PS_No_Finance_or_Legal</name>
            <conditionLogic>1 AND 2 AND 4 AND (3 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChoiceNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProServ_Approval_Defaults_No_Finance_or_Legal</targetReference>
            </connector>
            <label>Approver Not Null - PS (No Finance or Legal)</label>
        </rules>
        <rules>
            <name>Fully_Partner_Delivered_ProServ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProServ_Approval_Defaults_0</targetReference>
            </connector>
            <label>Fully Partner Delivered (ProServ)</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Finance_or_Legal_Required</name>
        <label>No Finance or Legal Required?</label>
        <locationX>2613</locationX>
        <locationY>1410</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finance_and_Legal_Required</name>
            <conditionLogic>7 OR (5 AND (1 OR 2 OR 3 OR 4 OR 6 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Delivery &amp; Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Architecture &amp; Engineering (A&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Native Development (CND)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Data Science &amp; Engineering (D&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS - Internet of Things (IoT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ops_Approval_Item</targetReference>
            </connector>
            <label>Finance and Legal Required</label>
        </rules>
        <rules>
            <name>No_Finance_and_Legal_Step_Required</name>
            <conditionLogic>3 AND 4 AND (1 OR 2 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Practice_Type</targetReference>
            </connector>
            <label>No Finance and Legal Step Required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Contracting will not need to be in the criteria.</description>
        <name>Opp_Stage</name>
        <label>Opp Stage</label>
        <locationX>2227</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Not_Contracting_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Contracting</defaultConnectorLabel>
        <rules>
            <name>Contracting</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 3 - Proposal &amp; Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4 - Negotiation &amp; Quote Mod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4 - Negotiation &amp; Quote Mod</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 5 - Closing the Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordType</targetReference>
            </connector>
            <label>Contracting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>1352</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non ProServ</defaultConnectorLabel>
        <rules>
            <name>ProServ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProServ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitter_Check_Screen</targetReference>
            </connector>
            <label>ProServ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Practice_Type</name>
        <label>Practice Type</label>
        <locationX>3030</locationX>
        <locationY>1353</locationY>
        <defaultConnector>
            <targetReference>Tech_Approval_Required_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MCO</defaultConnectorLabel>
        <rules>
            <name>Professional_Services_Fully_Partner_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Approval_Required_Fully_Partner_Delivered</targetReference>
            </connector>
            <label>Professional Services - Fully Partner Delivered</label>
        </rules>
        <rules>
            <name>Professional_Services_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Delivery &amp; Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Services_Delivery_Email_Alert</targetReference>
            </connector>
            <label>Professional Services - Advisory</label>
        </rules>
        <rules>
            <name>Professional_Services_Cloud_Architecture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Architecture &amp; Engineering (A&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Services_Cloud_Architecture_Email_Alert</targetReference>
            </connector>
            <label>Professional Services - Cloud Architecture</label>
        </rules>
        <rules>
            <name>Professional_Services_Cloud_Native</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Cloud Native Development (CND)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS - Internet of Things (IoT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Services_Cloud_Native_Email_Alert</targetReference>
            </connector>
            <label>Professional Services - Cloud Native &amp; IoT</label>
        </rules>
        <rules>
            <name>Professional_Services_Data_Science</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSO - Data Science &amp; Engineering (D&amp;E)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Services_Data_Science_Email_Alert</targetReference>
            </connector>
            <label>Professional Services - Data Science</label>
        </rules>
        <rules>
            <name>Professional_Services_ERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProServ_ERP</targetReference>
            </connector>
            <label>Professional Services - ERP</label>
        </rules>
        <rules>
            <name>Professional_Services_ERP_MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERP - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERP_MSP_Email_Alert</targetReference>
            </connector>
            <label>Professional Services - ERP MSP</label>
        </rules>
        <rules>
            <name>Professional_Services_Productivity_MSFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Productivity MSFT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProServ_Productivity_MSFT</targetReference>
            </connector>
            <label>Professional Services - Productivity MSFT</label>
        </rules>
        <rules>
            <name>Professional_Services_Delivery_Lead_Growth_GTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Lead Growth (GTS)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Lead_Growth_GTS_Email</targetReference>
            </connector>
            <label>Professional Services - Delivery Lead Growth (GTS)</label>
        </rules>
        <rules>
            <name>Professional_Services_Security</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovApproval.Fully_Partner_Delivered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProServ_Security</targetReference>
            </connector>
            <label>Professional Services - Security</label>
        </rules>
        <rules>
            <name>EE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChoiceNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tech_Approval_Required_EE</targetReference>
            </connector>
            <label>EE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Professional_Services_or_MCO_EE</name>
        <label>Professional Services or MCO/EE</label>
        <locationX>2301</locationX>
        <locationY>1544</locationY>
        <defaultConnector>
            <targetReference>DeleteApprovalRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>MCO_and_EE</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>recordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US_Cloud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AWS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ops_Approval_Item</targetReference>
            </connector>
            <label>MCO and EE</label>
        </rules>
        <rules>
            <name>All_ProServ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BU_Approval_Item</targetReference>
            </connector>
            <label>All ProServ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Fields_Missing</name>
        <label>Required Fields Missing</label>
        <locationX>1711</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PSO_EE</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 ) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_Practice_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_LA_Date_scoping_meeting_was_held__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Account__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Fields_Missing_Screen</targetReference>
            </connector>
            <label>Yes, EE</label>
        </rules>
        <rules>
            <name>Yes_MCO</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Account__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Practice_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Fields_Missing_Screen_MCO_EE</targetReference>
            </connector>
            <label>Yes, MCO</label>
        </rules>
        <rules>
            <name>Yes_ProServ</name>
            <conditionLogic>5 AND 6 AND (1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>sovOpp.Onica_Practice_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_BU_Practice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Amount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProServ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Fields_Missing_Screen</targetReference>
            </connector>
            <label>Yes, ProServ</label>
        </rules>
        <rules>
            <name>Billing_country_and_state_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getProductAcct.ShippingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Billing_Country_or_State</targetReference>
            </connector>
            <label>Billing country and state blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitter_Selected</name>
        <label>Pre-Sales SA / CSA Selected</label>
        <locationX>712</locationX>
        <locationY>697</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitter_is_part_of_Opp_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNA</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Pre-Sales SA or CSA is part of Opp Team?</label>
        </rules>
        <rules>
            <name>Submitter_Not_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNA</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Submitter_Selected_Screen</targetReference>
            </connector>
            <label>Pre-Sales SA Or CSA Not Available</label>
        </rules>
    </decisions>
    <description>Opps for Productivity and ERP should go through Tech and BU approval, then go to Docusign process. Reverting back to no finance or legal required.</description>
    <dynamicChoiceSets>
        <name>ApprovingPracticeManagerPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onica_Practice_Lead__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Type__c</picklistField>
        <picklistObject>Approval__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>CSA Team members</description>
        <name>OppTeamMembersCSA</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSA</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputAssignments>
            <assignToReference>varCSAId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Pre-Sales SA team members</description>
        <name>OppTeamMembersSA</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Architect</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Specialist</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Solution</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TCT Racker</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal Manager</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputAssignments>
            <assignToReference>varPreSalesSAuser</assignToReference>
            <field>UserId</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Needs to be updated to Peter Fitzgibbon Id for all practices except &apos;Productivity MSFT&apos;</description>
        <name>buApprover</name>
        <dataType>String</dataType>
        <expression>IF(AND (ISPICKVAL({!sovOpp.Onica_BU_Practice__c} ,&quot;Productivity MSFT&quot; ),  TEXT({!sovOpp.Type}) = &quot;Professional Services&quot;), &quot;00561000001zt2gAAA&quot;, 
IF(AND (ISPICKVAL({!sovOpp.Onica_BU_Practice__c} ,&quot;Delivery Lead Growth (GTS)&quot; ),  TEXT({!sovOpp.Type}) = &quot;Professional Services&quot;), &quot;00561000003Ck7K&quot;, &quot;0053f000000pG2CAAU&quot;))</expression>
    </formulas>
    <formulas>
        <name>RedirectToOpp</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!sovOpp.Id}</expression>
    </formulas>
    <interviewLabel>Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit for Approval</label>
    <loops>
        <name>Set_Document_Id</name>
        <label>Set Document Id</label>
        <locationX>1813</locationX>
        <locationY>1562</locationY>
        <assignNextValueToReference>DocumentId</assignNextValueToReference>
        <collectionReference>DocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_BU_Approval_Item</name>
        <label>Create BU Approval Item</label>
        <locationX>2319</locationX>
        <locationY>1341</locationY>
        <assignRecordIdToReference>buApproverItemId</assignRecordIdToReference>
        <connector>
            <targetReference>No_Finance_or_Legal_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>BU Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.BU_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Legal_Approval_Item</name>
        <label>Create Legal Approval Item</label>
        <locationX>2958</locationX>
        <locationY>1658</locationY>
        <assignRecordIdToReference>LegalApprovalItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Practice_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Legal Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.Legal_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Ops_Approval_Item</name>
        <label>Create Ops Approval Item</label>
        <locationX>2622</locationX>
        <locationY>1659</locationY>
        <assignRecordIdToReference>OpsApprovalItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Legal_Approval_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Finance Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.Ops_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tech_Approval</name>
        <label>Create Tech Approval</label>
        <locationX>2162</locationX>
        <locationY>1562</locationY>
        <assignRecordIdToReference>TechApprovalItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Professional_Services_or_MCO_EE</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Tech Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>sovApproval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>sovApproval.Tech_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Document_Id__c</field>
            <value>
                <elementReference>sovApproval.Current_Document_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>Approval_Item__c</object>
    </recordCreates>
    <recordCreates>
        <name>createApproval</name>
        <label>createApproval</label>
        <locationX>1777</locationX>
        <locationY>1272</locationY>
        <connector>
            <targetReference>Set_Primary_Approval_Record</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteApprovalRecord</name>
        <label>DeleteApprovalRecord</label>
        <locationX>2310</locationX>
        <locationY>1757</locationY>
        <connector>
            <targetReference>IncorrectType</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>1992</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProductAcct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApprovingPracticeManagerId</name>
        <label>getApprovingPracticeManagerId</label>
        <locationX>1240</locationX>
        <locationY>919</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Approver_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approver_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.Onica_Practice_Lead__c</elementReference>
            </value>
        </filters>
        <object>Approver__mdt</object>
        <outputReference>Approver</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id__c</queriedFields>
        <queriedFields>Approver_Name__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>1761</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sovOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Technical_Owner__c</queriedFields>
        <queriedFields>Onica_Practice_Lead__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Onica_LA_Date_scoping_meeting_was_held__c</queriedFields>
        <queriedFields>Onica_BU_Practice__c</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Onica_Type__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProductAcct</name>
        <label>getProductAcct</label>
        <locationX>2224</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordType</name>
        <label>getRecordType</label>
        <locationX>1894</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Required_Fields_Missing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpp.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval</name>
        <label>Update Approval</label>
        <locationX>2009</locationX>
        <locationY>1563</locationY>
        <connector>
            <targetReference>Create_Tech_Approval</targetReference>
        </connector>
        <inputReference>sovApproval</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_With_Approval_Id</name>
        <label>Update Opp With Approval Id</label>
        <locationX>2014</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Add_Document</targetReference>
        </connector>
        <inputReference>sovOpp</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Document</name>
        <label>Add Document</label>
        <locationX>1810</locationX>
        <locationY>1396</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>of_Documents</targetReference>
        </connector>
        <fields>
            <name>AttachDocument</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sovApproval.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.doc,.docx,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HelpTEXT</name>
            <fieldText>&lt;p&gt;Click on Next after uploading the document&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Approving_Practice_Manager</name>
        <label>Error - Approving Practice Manager</label>
        <locationX>2117</locationX>
        <locationY>931</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;There was an error getting the Id for the Approving Practice Manager.  Please let your admin know that an error occurred and the following information:&lt;/p&gt;&lt;p&gt;Approving Practice Manager: {!sovOpp.Onica_Practice_Lead__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IncorrectType</name>
        <label>IncorrectType</label>
        <locationX>2496</locationX>
        <locationY>1820</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>NotRequiredType</name>
            <fieldText>&lt;p&gt;Please review: Opportunity Type is incorrect or Onica Type is null. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Billing_Country_or_State</name>
        <label>No Billing Country or State</label>
        <locationX>1735</locationX>
        <locationY>479</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoBillingCountryorState</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Billing Country, Billing State or Primary Country are blank within the Account - please populate before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Submitter_Selected_Screen</name>
        <label>No Submitter Selected Screen</label>
        <locationX>721</locationX>
        <locationY>486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApproverSubmitterNA</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please add missing Pre-Sales SA or CSA member to the Opportunity Team. Close this screen then restart approval.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChoiceNA</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nofile</name>
        <label>Nofile</label>
        <locationX>1624</locationX>
        <locationY>1465</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Document</targetReference>
        </connector>
        <fields>
            <name>No</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(15, 15, 15); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The Document needs to be uploaded.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Contracting_Screen</name>
        <label>Not Contracting Screen</label>
        <locationX>2530</locationX>
        <locationY>432</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotContracting</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Your Opportunity Stage must be Contracting or above in order to submit this for Legal Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Required_Fields_Missing_Screen</name>
        <label>Required Fields Missing Screen</label>
        <locationX>2218</locationX>
        <locationY>794</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>RequiredFieldsAreMissing</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Required Fields are missing.  Please ensure all fields are filled out before submitting for Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Required_Fields_Missing_Screen_MCO_EE</name>
        <label>Required Fields Missing Screen MCO/EE</label>
        <locationX>2124</locationX>
        <locationY>645</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Opp</targetReference>
        </connector>
        <fields>
            <name>RequiredFieldsAreMissingMCOEE</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Required Fields are missing.  Please ensure all fields are filled out before submitting for Approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>1081</locationX>
        <locationY>760</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getApprovingPracticeManagerId</targetReference>
        </connector>
        <fields>
            <name>Fully_Partner_Delivered</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceNo</defaultSelectedChoiceReference>
            <fieldText>Fully Partner-Delivered?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sovOpp.Onica_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ProServ</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Document_Type</name>
            <choiceReferences>SOW</choiceReferences>
            <choiceReferences>ChangeOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Document Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submitter_Comments</name>
            <fieldText>Submitter Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pre-Sales SA must be part of the opp team</description>
        <name>Submitter_Check_Screen</name>
        <label>Pre-Sales SA / CSA Check Screen</label>
        <locationX>1065</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submitter_Selected</targetReference>
        </connector>
        <fields>
            <name>Who_is_the_current_submitter</name>
            <choiceReferences>OppTeamMembersSA</choiceReferences>
            <choiceReferences>OppTeamMembersCSA</choiceReferences>
            <choiceReferences>ChoiceNA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who is the Pre-Sales SA or CSA ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Yes</name>
        <label>Yes</label>
        <locationX>1643</locationX>
        <locationY>1721</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Document_Id</targetReference>
        </connector>
        <fields>
            <name>YesFile</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The Document has been uploaded. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>clickOnNext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Click on Next&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1121</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>getOpp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Approver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approver__mdt</objectType>
    </variables>
    <variables>
        <name>buApproverItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collSOWApproversQueues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>DocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LegalApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpsApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>sovAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sovApproval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval__c</objectType>
    </variables>
    <variables>
        <name>sovOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TechApprovalItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>captures CSA id from select screen</description>
        <name>varCSAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the selected Pre-Sales SA</description>
        <name>varPreSalesSAuser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
