force-app/main/default/flows/Swag_IQ_New_Lead_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Swag_IQ_Order_Delivered_Notification</name>
        <label>Swag IQ Order Delivered Notification</label>
        <locationX>659</locationX>
        <locationY>762</locationY>
        <actionName>PFLSwagIQ__SwagIQ_Order__c.SwagIQ_Order_was_Delivered</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Swag_IQ_Campaign_Member_Found</name>
        <label>Swag IQ Campaign Member Found</label>
        <locationX>909</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>varPFLCampaignMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCampaignMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCampaignMembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Member_is_Null</name>
        <label>Swaq IQ Campaign Member is Null?</label>
        <locationX>386</locationX>
        <locationY>561</locationY>
        <defaultConnectorLabel>SwagIQ Campaign Member is Null</defaultConnectorLabel>
        <rules>
            <name>SwagIQ_Campaign_Member_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPFLCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead</targetReference>
            </connector>
            <label>SwagIQ Campaign Member Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>getCampaignMember_is_Null</name>
        <label>getCampaignMember is Null?</label>
        <locationX>263</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Found_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopCampaignMembers</targetReference>
            </connector>
            <label>Found Campaign Member?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only need to save the first PFL Campaign member</description>
        <name>PFL_Campaign_Member</name>
        <label>PFL Campaign Member?</label>
        <locationX>724</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>Non PFL Campaign</defaultConnectorLabel>
        <rules>
            <name>SwagIQ_Campaign_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCampaignMembers.Campaign.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PFL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPFLCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swag_IQ_Campaign_Member_Found</targetReference>
            </connector>
            <label>SwagIQ Campaign Member</label>
        </rules>
    </decisions>
    <description>- removed assignment element for Summer 21 update
-updated loop requirements</description>
    <interviewLabel>Swag IQ New Lead Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Swag IQ New Lead Process</label>
    <loops>
        <description>loop through collection of campaign members</description>
        <name>loopCampaignMembers</name>
        <label>loopCampaignMembers</label>
        <locationX>470</locationX>
        <locationY>357</locationY>
        <collectionReference>collectCampaignMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PFL_Campaign_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Campaign_Member_is_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>duplicate from Campaign Member Contact</description>
        <name>Create_Campaign_Member_Lead</name>
        <label>Create Campaign Member Lead</label>
        <locationX>209</locationX>
        <locationY>752</locationY>
        <connector>
            <targetReference>Update_New_Lead_ID_in_Swag_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>varPFLCampaignMember.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varPFLCampaignMember.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Create_New_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varPFLCampaignMember.Status</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>211</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Recipient_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Recipient_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Recipient_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Recipient_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Recipient_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Sales Activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Ordered_By__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Recipient_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Recipient_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124N000000kyLVQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Recipient_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Marketing Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.PFLSwagIQ__Recipient_Street_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>find related campaign member from contact</description>
        <name>getCampaignMember</name>
        <label>getCampaignMember</label>
        <locationX>50</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignMember_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PFLSwagIQ__Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>collectCampaignMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>CampaignId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Lead_ID_in_Swag_Order</name>
        <label>Update New Lead ID in Swag Order</label>
        <locationX>453</locationX>
        <locationY>762</locationY>
        <connector>
            <targetReference>Swag_IQ_Order_Delivered_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>PFLSwagIQ__Lead__c</field>
            <value>
                <elementReference>Create_New_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>220</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>getCampaignMember</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PFLSwagIQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFLSwagIQ__Date_Delivered__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PFLSwagIQ__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PFLSwagIQ__SwagIQ_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>save all related campaign members to the contact</description>
        <name>collectCampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varPFLCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
