force-app/main/default/flows/Terms_and_Conditions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>RadioButtonValues</name>
        <choiceText>{!I_Accepted}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>TrueOrFalse</name>
        <choiceText>{!I_Accepted}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Accepted_Condition</name>
        <label>Check Accepted Condition</label>
        <locationX>624</locationX>
        <locationY>255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTandD.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTandD.I_Accept__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Accepted</targetReference>
            </connector>
            <label>Yes Accepted</label>
        </rules>
        <rules>
            <name>No_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTandD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_Accept_Terms_COnditions</targetReference>
            </connector>
            <label>No Record</label>
        </rules>
    </decisions>
    <formulas>
        <name>CompanyName</name>
        <dataType>String</dataType>
        <expression>{!$User.CompanyName}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Terms and Conditions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terms and Conditions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Terms_and_Conditions</name>
        <label>Insert Terms and Conditions</label>
        <locationX>96</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>Thnaks_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepted_User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_Accept__c</field>
            <value>
                <elementReference>I_Accepted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms_and_Conditions__c</field>
            <value>
                <elementReference>TermsandConditionsContent</elementReference>
            </value>
        </inputAssignments>
        <object>Terms_and_Conditions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>426</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Terms_and_Conditions__c</object>
        <outputReference>varTandD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_Accept__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>911</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Terms_and_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Is_Accepted</name>
        <label>Is Accepted</label>
        <locationX>470</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlreadyAccepted</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;The &quot;Terms &amp;amp; Conditions&quot; has already been accepted.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_Accept_Terms_COnditions</name>
        <label>Please Accept Terms&amp;COnditions</label>
        <locationX>313</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Terms_and_Conditions</targetReference>
        </connector>
        <fields>
            <name>AcceptTandD</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please Accept Terms&amp;amp;Conditions&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;﻿Click to Accept&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_Accepted</name>
            <choiceReferences>RadioButtonValues</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>I Accept</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;Please Accept Terms &amp;amp; Conditions&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Terms_and_Conditions</name>
        <label>Terms and Conditions</label>
        <locationX>913</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Accepted_Condition</targetReference>
        </connector>
        <fields>
            <name>TandD_COntent</name>
            <fieldText>&lt;p&gt;{!TermsandConditionsContent}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thnaks_Message</name>
        <label>Thnaks Message</label>
        <locationX>133</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Thanks for Accepting Terms and Conditions !&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>TermsandConditionsContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(211, 14, 14); font-size: 20px;&quot;&gt;Rackspace Channel Partner Marketing Acceleration Program &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Marketing Development Funds (MDF)&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Updated August 2020&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Program Overview&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The goal of the Program is to help in generation and acceleration of joint leads for Rackspace products and solutions to new and existing customers by providing access to MDF (also referred to as, “funds”) for your marketing efforts. Rackspace strives to provide programs that can help enhance and support sales and marketing strategies to:&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&amp;nbsp;Market, promote, and advertise with Rackspace at certain marketing events designed for sales ac&lt;b&gt;﻿&lt;/b&gt;celeration, demand generation, and sales enablement activities&amp;nbsp;&lt;/li&gt;&lt;li&gt;&amp;nbsp;Solve more customer problems&amp;nbsp;&lt;/li&gt;&lt;li&gt;&amp;nbsp;Develop &amp;amp; accelerate demand generation and build brand awareness&lt;/li&gt;&lt;li&gt;&amp;nbsp;Maximize marketing incentives&lt;/li&gt;&lt;li&gt;&amp;nbsp;Provide access to marketing tools and investments to create awareness of Rackspace and its products and services at approved marketing events&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;The Program gives partners the ability to accrue funds for mutually beneficial marketing activities. Funds are granted based on the merit, fund availability, and expected return on investment as determined at Rackspace’s sole discretion. All eligible MDF will be provided on a reimbursement basis.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Program Eligibility&lt;/b&gt;&lt;/p&gt;&lt;p&gt;To participate in the Program, Partner must (i) be an existing member in good standing of the Rackspace Channel Program; (i) have signed the Strategic Partner Agreement (“SPA”) with Rackspace; and (ii) maintain eligible bookings and billings at SPA tier level 1.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Accrual Process&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Eligible billings will accrue MDF at a rate of 1% subject to these Terms and Conditions. There are two accrual periods and two distribution periods annually:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;MDF accrued between January 1st and June 30th become available for distribution July 1st through December 31st. MDF not used by December 31st will be forfeited.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;MDF accrued between July 1st and December 31st become available for distribution the following year on January 1st through June 30th. MDF not used by June 30th will be forfeited.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&amp;lt;img src=&quot;https://rax.my.salesforce.com/servlet/servlet.ImageServer?id=0153f000000YJSD&amp;amp;oid=00D61000000J4OK&quot;/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;MDF Process Overview&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Partner to request funding for eligible activities by completing a Fund Request Form located on the Rackspace Partner Portal.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Partner Account Manager (PAM) reviews the Fund Request Form.&amp;nbsp;If approved, request gets routed to MDF Administrator. If not approved, PAM will work with Partner to make appropriate modifications for resubmission.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Once an approval is granted, Partner may perform the approved activities within the Eligible Activities Matrix.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Once the approved activity is completed, Partner submits claim request for reimbursement via the Rackspace Partner Portal.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Claims are audited and reviewed for payment by Rackspace.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;MDF Project Lifecycle&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(247, 6, 6); font-size: 13px;&quot;&gt;Step 1: Pre-Approval Process&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Partner submits a Fund Request form located in the Rackspace Partner Portal with a detailed Marketing Activity Plan including execution documentation (e.g. sponsorship flyer, etc.) (collectively, a “Proposal”).&amp;nbsp;Each subsequent marketing event will require a separate proposal.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Information included in the Proposal must be complete and accurate to the best of your knowledge.&amp;nbsp;The Proposal must explain the intended use of the funds and how the activity will help drive more business, detail the intended targets at the marketing event, and include expected performance forecast including, but not limited to, total expected leads generated, total incremental sales, expected reach, open rate, click-through rate, and other KPI’s / applicable performance indicators.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Rackspace will review the request and notify partner via Portal of the decision to approve or decline the request. If plan proposal is declined, Partner will be notified with explanation. If the Proposal is approved, Partner will receive an e-mail with a MDF Approval number.&amp;nbsp;Partner can execute on the approved plan activity.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Fund Request Document – Channel MDF Fund Request&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Partner will work with Rackspace to define marketing activity or event in accordance with the Eligible Activities Matrix that is included in Partner’s Marketing Activity Plan.&amp;nbsp;The Channel Fund Request Form, available on the Rackspace Partner Portal, must be filled out and completed within the Rackspace Partner Portal.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Each Fund Request must include:&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;the funds to be made available by Rackspace&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;the promotional activity or event to be carried out by Partner&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;the reimbursement percentage of eligible expense as outlined in the Eligible Activities Matrix&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;the criteria against which the Marketing Activity / Event shall be measured. Such criteria must be met as a condition of Partner receiving the funds made available by Rackspace. Partner shall provide Rackspace with details of their performance against the criteria within 30 days following the event;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Channel MDF Fund Request Approval Business Rules&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Request must be submitted at least two weeks prior to the planned start of activities.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Documentation requirements (as such may be specified in our response) must be met and must include specific details on executed approved Eligible Activity along with Proof of Performance (“POP”) and estimated Return on Investment (“ROI”) metrics as per the Eligible Activity Matrix Proof of Performance guidelines.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Proof of marketing expenses including, but not limited to, copy of invoice(s), copy of contract agreements, insertion orders, design proofs, and any related spend.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(250, 4, 4); font-size: 13px;&quot;&gt;Step 2: Approval Process&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Rackspace will review Proposals within 5 business days upon receipt. Rackspace will notify Partner if their Proposal has been approved via e-mail. Incomplete Proposals that require additional information may delay the review process. Each Proposal will be evaluated based on the proposal, target audience, proposed level of engagement and activation, marketing investment, year-over-year partner revenue growth, etc. Approval of any request or proposal is not guaranteed.&amp;nbsp;Rackspace retains the sole and exclusive right to approve or deny any and all proposals for any reason whatsoever.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Return on Investment (ROI)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Rackspace requires Partner to provide ROI metrics for marketing activities to measure the effectiveness of the Program, such as relevant expected number of leads and opportunities and anticipated potential Rackspace pipeline creation. Partners must provide metrics twice during the process:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Initial metrics estimates are due at the time Partner submits the preapproval request with the Activity Plan / Proposal.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Available actual metrics are due at the time of claim submission&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;The submitted ROI metrics may be leveraged to make decisions for future marketing activity funding. Partner must submit accurate results in a timely manner to assist in funding discussions with your Rackspace Partner Account Manager (PAM), Marketing Manager or Program Administrator. Refer to the Eligible Activities Matrix for ROI metrics requirements by activity.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;Step 3: Event Execution&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Eligible Activities&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Activities that are currently eligible for MDF through the Program (“Eligible Activities”) can be found in the Eligible Activities Matrix located on the Rackspace Partner Portal.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Reimbursable Expenses&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Expense reimbursement will be considered on items represented in the Eligible Activity Matrix. Rackspace retains the sole discretion to determine what expenses are reimbursable and at what percentages under the Rackspace Partner Marketing Acceleration Program based on level of benefit represented in Proof of Performance and ROI submitted with each activity claim.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Non-Reimbursable Expenses&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;The following activities are not eligible for MDF reimbursement&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Consulting Expenses: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Program funds cannot be used to reimburse expenses incurred by consulting expenses for lobbying (legislative or procurement) or sales generating consulting for public sector customers are not permitted and will not be approved.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Political/Charity Activities and Contributions&lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;: There will be no funding of political or charity activities or contributions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Entertainment: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Activities that include meals, sporting events, concerts, or other events that are predominantly social in nature are not covered by Program funds unless explicitly stated in the Eligible Activities Matrix, Eligible Expenses. • &lt;/span&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Infrastructure Equipment: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Program funds cannot be used for the purchase of infrastructure equipment or software unless its sole purpose is to demonstrate Rackspace solutions to end user customers or prospects and unless explicitly stated in the Eligible Activities Matrix, Eligible Expenses. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Reclaimable Taxes: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Underlying taxes incurred by a Partner are not eligible for reimbursement with Program funds and should be excluded from the reimbursement claim. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Rackspace may update this list at any time in its sole discretion.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(250, 0, 0);&quot;&gt;Step 4: Reimbursement Process&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Fund Claims Reimbursement Process&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;After completion of an approved activity, you will need to submit a claim in order to be reimbursed. To submit a claim for reimbursement:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Claims must be filed within 30 days of the activity end date as documented in the Pre-Approval request.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Include required POP documentation that fully supports the execution of the approved activity and submit the claim for approval.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Any execution of an approved activity that includes unapproved, false or misleading information will be rejected for reimbursement.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;You will be notified by email if further documentation is needed or with approval of your claim.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;If claim is denied, an email will be sent with an explanation.&amp;nbsp;PAM to be copied.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Rackspace cannot reimburse activities that begin before or without Rackspace approval.&amp;nbsp;Any POP invoices, 3rd party invoice(s), promotion materials, etc. are not eligible if the date(s) proceeds the preapproval request date.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Disbursement of Funds&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Partner will submit claim for reimbursement of documented pre-paid expenses for approved activities through the Rackspace Partner Portal. All funds due shall be paid directly to Partner and not to any third party. All transactions in the will be in USD. Partners must submit invoices to accountspayable-US@rackspace.com within 14 days of receiving approval of a claim. Payments will be issued no later than sixty (90) days or according to the Master agreement in place with the Partner, from claim receipt.&amp;nbsp;Invoices must include the following information when submitted to accountspayableUS@rackspace.com:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Date of the event&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Location&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Rackspace claim approval date&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Rackspace contact that approved reimbursement&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;The following general conditions must be met before any claim will be reimbursed:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;All claims are audited for completeness and accuracy.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Claim approval requires that all approved activity must be executed per plan and requirements met as designated by these Terms and Conditions, and your Rackspace Partner Agreement.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Proof of Performance must be provided at time of claim and should cover both evidence of dollar amount spent (invoice/receipt) and evidence of performed activity (copy of collateral produced, list of leads generated, etc.) as described in more detail in the Eligible Activities Matrix. Invoices/receipts should be from 3rd party, except where noted in Eligible Activity Matrix. Additionally, ROI metrics estimated in plan must be updated with actual ROI metrics and included in claim documentation.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Any execution of an approved activity that does not comply with the approved activity plan, these Terms and Conditions and your Rackspace Partner Agreement may result in the claim being rejected for reimbursement or reimbursement amount reduced.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Any execution of an approved activity that includes unapproved, false or misleading information will be rejected for reimbursement.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;When the activity promotes solutions or vendors other than qualified Rackspace products/solutions (e.g., includes Rackspace competitors), reimbursement will be made in proportion, assessed solely at the discretion of Rackspace, to the overall percentage of activity devoted to Rackspace.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Reimbursements will not exceed the amount of the plan unless authorized by the program administrator.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;nbsp;Claims must be submitted within 30 days after the activity end date in order to receive reimbursement. Claims submitted later than 30 days after the activity end date will be denied.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Checks will be issued within 90 days or according to the Master agreement in place with the Partner, from submission of the claim to Accounts Payable.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Publicity&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Partner may not issue any press release or other publicity regarding its participation or the subject matter of the Program without Rackspace’s prior written consent.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Rackspace Materials and Branding Guidelines&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;All program materials related to the applicable Marketing Activity Plan representing Rackspace must comply with these Terms and Conditions to be updated by Rackspace from time to time. Partner shall make no representations regarding Rackspace or its business (other than those contained in Rackspace materials provided to Partner) or in any way act to represent that Partner is authorized to act in a manner which would bind Rackspace in any way whatsoever. Partner will conduct itself consistent with ethical business practices and in a manner that will reflect favorably upon the goodwill and reputation of Rackspace. Partner grants to Rackspace a perpetual, worldwide, non-revocable, fully paid, transferable right and license to use the materials developed by Partner. Partner represents and warrants that it has obtained all necessary rights and consents to provide the license set forth in these Terms and Conditions. Any execution of an approved Marketing Activity Plan that does not comply with these Terms and Conditions and your SPA with Rackspace may result in the claim being entirely rejected.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Rackspace Marks&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Rackspace grants Partner a limited, revocable, non-transferable license to use the Rackspace name, logo, or other identifying indicia (“Marks”), where such Marks are provided by Rackspace as part of any Marketing Activity Plan, solely for Partner’s purpose of executing such Marketing Activity Plan. Rackspace shall at all times have control over the quality and nature of all uses of the Marks. Partner shall comply with the Rackspace Trademark Guidelines found at http://www.rackspace.com/information/ legal/tmguidelines/, as they may be updated from time to time, and all other requests and instructions as they relate to Partner’s use of the Marks. All contemplated placements of the Marks must be reviewed and approved by Rackspace prior to publication. Partner shall not have any rights to the Marks other than as expressly granted herein. Partner agrees that it will not (i) alter or modify the Marks as provided by Rackspace; (ii) use the Marks in a way that would confuse or deceive the public into believing that there is more of a connection between Partner and Rackspace than defined under the Program; (iii) use the Marks to criticize or disparage Rackspace; or (iv) use or attempt to register any name or design identical or confusingly similar to the Marks anywhere in the world. All goodwill generated by the use of the Marks by Partner shall inure to the benefit of Rackspace. Partner may not use the Marks on merchandise (e.g., t-shirts, caps, mugs, stationary, or other marketing swag) unless it received a license or a written permission from Rackspace. Rackspace and Fanatical Support are trademarks/service marks and/or registered trademarks/service marks of Rackspace US, Inc. and cannot be used as part of Partner’s own service/ product names, internet domain name, web address or email address. Marketing material including Rackspace Marks should always include a Rackspace trademark attribution statement.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Marketing Standards&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;All activity shall comply with applicable advertising and marketing laws and regulations, including data privacy laws and regulations, and laws and regulations applicable to bulk or commercial email (including but not limited to the CAN SPAM Act of 2003). Partner’s activity shall not include collecting email addresses through any improper means such as, by way of example, electronic mail harvesting or randomization. If Partner performs any telemarketing services subject to a Marketing Activity Plan, it shall comply with applicable telemarketing laws and regulations including but not limited to the Telephone Consumer Protection Act and any “do-not-call list” published in or applicable to any jurisdiction in which it performs services. Partner shall only ever perform direct telemarketing services to business entities and never to any individual. Partner represents and warrants that its sharing of information to Rackspace as part of the Marketing Activity Plan will not be in violation of any obligation of confidentiality or nondisclosure, and that the information shall have been obtained in compliance with all applicable laws as well as any legal and ethical guidelines for competitive intelligence. Partner will execute marketing activities in strict compliance with the Program Terms and Conditions.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Program Changes&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Rackspace has the sole right to make changes or terminate the Rackspace Partner Accrual Program at any time, but any such change or termination will not affect claims for activities approved before such change or termination.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Partner Responsibility&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Partner must comply with these Terms and Conditions and with all applicable local, state and federal laws. Failure to comply may result in restrictions on funding for future marketing activities. Misuse of funds will result in immediate termination of your participation in the Program and termination of Rackspace’s obligations to you under the Program, including the obligation to fund approved activities.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Questions?&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Any questions concerning this Program, status of prior approval requests or claims can be directed to: &lt;/span&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;PartnerMarketingFunds@rackspace.com&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;About Rackspace&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;At Rackspace, we accelerate the value of the cloud during every phase of digital transformation. By managing apps, data, security and multiple clouds, we are the best choice to help customers get to the cloud, innovate with new technologies and maximize their IT investments. As a recognized Gartner Magic Quadrant leader, we are uniquely positioned to close the gap between the complex reality of today and the promise of tomorrow. Passionate about customer success, we provide unbiased expertise, based on proven results, across all the leading technologies. And across every interaction worldwide, we deliver Fanatical Experience™. Rackspace has been honored by Fortune, Forbes, Glassdoor and others as one of the best places to work.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;Learn more at www.rackspace.com or call 1-800-961-2888.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;© 2020 Rackspace US, Inc. :: Rackspace®, Fanatical Support® and other Rackspace marks are either service marks or registered service marks of Rackspace US, Inc. in the United States and other countries. All other trademarks, service marks, images, products and brands remain the sole property of their respective holders and do not imply endorsement or sponsorship.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;THE INFORMATION CONTAINED IN THIS DOCUMENT IS A GENERAL INTRODUCTION TO RACKSPACE® SERVICES AND DOES NOT INCLUDE ANY LEGAL COMMITMENT ON THE PART OF RACKSPACE.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;You should not rely solely on this document to decide whether to purchase the service. Rackspace detailed services descriptions and legal commitments are stated in its services agreements. Rackspace services’ features and benefits depend on system configuration and may require enabled hardware, software or additional service activation.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;Except as set forth in Rackspace general terms and conditions, cloud terms of service and/or other agreement you sign with Rackspace, Rackspace assumes no liability whatsoever, and disclaims any express or implied warranty, relating to its services including, but not limited to, the implied warranty of merchantability, fitness for a particular purpose, and noninfringement.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;Although part of the document explains how Rackspace services may work with third party products, the information contained in the document is not designed to work with all scenarios. any use or changes to third party products and/or configurations should be made at the discretion of your administrators and subject to the applicable terms and conditions of such third party. Rackspace does not provide technical support for third party products, other than specified in your hosting services or other agreement you have with Rackspace and Rackspace accepts no responsibility for third-party products.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Rackspace cannot guarantee the accuracy of any information presented after the date of publication.&lt;/b&gt;&lt;b style=&quot;font-size: 16px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>No</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTandD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Terms_and_Conditions__c</objectType>
    </variables>
    <variables>
        <name>Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
