force-app/main/default/flows/Update_MS_Referral_Deal_size_with_Opp_Amounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Cloud_Infra_Fee</name>
        <label>Assign Cloud Infra Fee</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Deal_Size_From_Opp_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.workspan__Opportunity__r.Cloud_Infrastructure_Fee_Forecast__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Deal_Size_from_Opp_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cloud_Support_Fee</name>
        <label>Assign Cloud Support Fee</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Deal_Size_From_Opp_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.workspan__Opportunity__r.Cloud_Support_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Deal_Size_from_Opp_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ProServ_MRR</name>
        <label>Assign ProServ MRR</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Deal_Size_From_Opp_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.workspan__Opportunity__r.service_fees_mrr__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Deal_Size_from_Opp_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ProServ_Onetime</name>
        <label>Assign ProServ Onetime</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Deal_Size_From_Opp_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.workspan__Opportunity__r.service_fees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Deal_Size_from_Opp_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zero_Amount</name>
        <label>Assign Zero Amount</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Deal_Size_From_Opp_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Deal_Size_from_Opp_Amount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_Deal_size_from_Opp_amounts</name>
        <label>Decide Deal size from Opp amounts</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Assign_Zero_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cloud_Support_Fee_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.workspan__Opportunity__r.Cloud_Support_Fee__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cloud_Support_Fee</targetReference>
            </connector>
            <label>Cloud Support Fee not null</label>
        </rules>
        <rules>
            <name>Cloud_Infrastructure_Fee_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.workspan__Opportunity__r.Cloud_Infrastructure_Fee_Forecast__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cloud_Infra_Fee</targetReference>
            </connector>
            <label>Cloud Infrastructure Fee Not Null</label>
        </rules>
        <rules>
            <name>Pro_Serv_One_Time_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.workspan__Opportunity__r.service_fees__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ProServ_Onetime</targetReference>
            </connector>
            <label>Pro Serv One Time Not Null</label>
        </rules>
        <rules>
            <name>Pro_Serv_Mrr_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.workspan__Opportunity__r.service_fees_mrr__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ProServ_MRR</targetReference>
            </connector>
            <label>Pro Serv Mrr Not Null</label>
        </rules>
    </decisions>
    <description>Created flow to pick Deal size amount from below fields if they are not null.
•	Cloud support Fees 
•	Cloud Setup Fess
•	ProServe Fees (one-time)
•	ProServe Fees (MRR)

Removed entry conditions</description>
    <interviewLabel>Update MS Referral Deal size with Opp Amounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update MS Referral Deal size with Opp Amounts v3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Deal_Size_from_Opp_Amount</name>
        <label>Update Deal Size from Opp Amount</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>workspan__DealSize__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Deal_Size_From_Opp_Amount</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>workspan__DealSize__c</field>
            <value>
                <elementReference>Deal_Size_From_Opp_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_Deal_size_from_Opp_amounts</targetReference>
        </connector>
        <object>workspan__Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Deal_Size_From_Opp_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Opp_Cloud_Infrastructure_Fee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.workspan__Opportunity__r.Cloud_Infrastructure_Fee_Forecast__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Opp_cloud_support_fee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.workspan__Opportunity__r.Cloud_Support_Fee__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Pro_Serve_MRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.workspan__Opportunity__r.service_fees_mrr__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Pro_Serve_OneTime</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.workspan__Opportunity__r.service_fees__c</elementReference>
        </value>
    </variables>
</Flow>
